<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="<?php echo $this->pageIcon?>"></i> <?php echo $this->pageHeading?> </div>
            </div>

            <div class="portlet-body">
                <form action="<?php echo $this->baseUrl() ?>/admin/job/removesponsoredjob" method="post" onsubmit="return checkSelects();" >
                    <div class="table-toolbar">
                        <div class="btn-group"><button id="sample_editable_1_new" class="btn red"> <i class="fa fa-trash-o"></i> Delete Selected </button></div>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_1">
                        <thead>
                        <tr>
                            <th width="5%">S.No.</th>
                            <th width="5%"><input type="checkbox" class="group-checkable"  data-set="#sample_1 .checkboxes"  name="deletebcchk" id="deletebcchk" /></th>
                            <th>Job Title</th>
                            <th>Posted By</th>
                            <th>Posted Date</th>
                            <th>Closing Date</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(e) {
        $('#sample_1').dataTable( {
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "<?php echo $this->baseUrl()?>/admin/job/getsponsoredjobs" ,
            "aaSorting": [[ 0, "desc" ]],
            "aoColumnDefs":
                [
                    { "bSortable": false, "aTargets": [1,2,6] }
                ],
            "iDisplayLength":50,
            "aLengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
            "fnDrawCallback": function( oSettings ) {
                re_init();
            }
        } );
    });
</script>