<?php 
	$user =  $this->user_information ;
?>
<div class="row profile">
	<div class="col-md-12">
		<div class="tabbable tabbable-custom tabbable-full-width">
			<ul class="nav nav-tabs">
				<li class="active">	<a href="#tab_1_1" data-toggle="tab"> Overview </a>	</li>
 			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1_1">
					<?php /*?><div class="row">
						<div class="col-md-3">
                        	<img src="<?php echo getUserImage($user['user_image'],'thumb')?>" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-12 profile-info">
									<h1><?php echo ucwords($user['user_first_name'])." <br /><small>(".$user['user_email'].") </small>"?></h1>
									<ul class="list-inline">
										<?php if($user['user_country']!=''){?>
                                            <li>
                                            	<i class="fa fa-map-marker"></i> <?php echo ucwords($user['user_country']);?>
                                            </li>
										<?php }?>
										<?php if($user['user_created']!=''){?>
                                            <li>
                                            	<i class="fa fa-calendar"></i> MEMBER SINCE : <?php echo date('d M Y',strtotime($user['user_created'])); ?>
                                            </li>
										<?php }?>
                                        
                                        <?php if(!empty($this->SubscriptionInfo)){?>
                                        <div class="SubscriptionInfo">
											<?php echo ucwords($user['user_first_name'])?> subscribed for 
                                            <b>
                                                <?php echo $this->SubscriptionInfo['sub_name']?>
                                            </b> at 
                                            <b>
                                                <?php echo $this->SubscriptionInfo['sub_price'].' $'?>
                                            </b> / 
                                                per month
                                        </div>
                                        <? }?>
 									</ul>
 								</div>
                                
                                <?php 
								if($user['user_type']=='service_provider')
								{
									if(!empty($this->SPdata)){
									$model = new Application_Model_Static();
									$CategoryData = $model->Super_Get('categories',"category_id='".$this->SPdata['sp_expertise']."'","fetch",
									$extra=array('fields'=>array('category_title')));
									
									$SkillsData = $model->Super_Get('skills',"skill_id IN(".$this->SPdata['sp_skills'].")","fetch",
									$extra=array('fields'=>array('GROUP_CONCAT(skill_title) as skills')));
								?>
                                	<div class="col-md-12 profile-info">
                                    	<label><strong>Profile Title</strong></label><br /> 
                                        <?php echo $this->SPdata['sp_title']?>
                                        <br />
                                        <?php if($this->SPdata['sp_about']!=''){?>
                                         	<label><strong>About</strong></label><br />
                                        	<?php echo $this->SPdata['sp_about']?>
                                        <? }?>
                                        <br />
                                        <label><strong>Expertise</strong></label><br />
                                        <?php echo $CategoryData['category_title']?>
                                        <br />
                                        <label><strong>Skills</strong></label><br />
                                        <?php echo $SkillsData['skills']?>
                                        <br />
                                        <label><strong>Rate</strong></label><br />
                                        <?php echo $this->SPdata['sp_rate']?>
                                        <br />
                                        <label><strong>Location</strong></label><br />
                                        <?php echo $this->SPdata['sp_location']?>
                                    </div>
                                <? 
									}
								}else{
									if(!empty($this->EmployerData)){
									$model = new Application_Model_Static();
									$CategoryData = $model->Super_Get('categories',"category_id='".$this->EmployerData['e_industry']."'","fetch",
									$extra=array('fields'=>array('category_title')));
								?>
                                	<div class="col-md-12 profile-info">
                                        <?php if($this->EmployerData['e_about']!=''){?>
                                         	<label><strong>About</strong></label><br />
                                        	<?php echo $this->EmployerData['e_about']?>
                                        <? }?>
                                        <br />
                                        <label><strong>Industry</strong></label><br />
                                        <?php echo $CategoryData['category_title']?>
                                        <br />
                                        <label><strong>Location</strong></label><br />
                                        <?php echo $this->EmployerData['e_location']?>
                                    </div>
                                <? 
									}
								}?>
							</div>
						</div>
					</div><?php */?>
                    <div class="row margin-0 UserProfileBanner">
                        <div class="col-md-12 col-sm-12 padding-0">
                            <div class="col-md-3 col-sm-3 padding-0">
                                <div class="UserProfileSkills">
                                	<?php if($this->UserDetails['user_login_type']=='social'){?>
                                    <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'user','action'=>'socialdetails','user_id'=>$this->UserDetails['user_id']),
									'default',true)?>">
                                        <label class="label label-primary pull-right" style="cursor:pointer;">View More Details</label>
                                    </a>
                                    <? }?>
                                    <label class="Title">Skills</label>
                                    <?php 
                                    if($this->UserDetails['ud_intrested_in']!=''){
                                        $model = new Application_Model_Static();
                                        $joinArr = array(
                                            '0' => array('0'=>'skills_endorsed',
                                            '1' => "skill_id=s_skill_id and s_user_id='".$this->UserDetails['ud_user_id']."'",
                                            '2' => 'left',
                                            '3' => array('s_user_id','s_skill_id','s_by_user_id')),
                                        );
                                        $extra = array(
                                            'fields' => array('skill_id','skill_title','endorse_count'=>new Zend_Db_Expr('COUNT(s_id)')),
                                            'group' => 'skill_id',
                                        );
                                        $where = "skill_id IN (".$this->UserDetails['ud_intrested_in'].") ";
                                        $UserSkills = $model->Super_Get('skills',$where,"fetchAll",$extra,$joinArr);
                                        foreach($UserSkills as $skills){
                                    ?>
                                        <p class="work">
                                            <?php echo $skills['skill_title'];?>
                                            <span class="badge badge-success"><?php echo $skills['endorse_count'];?></span>
                                        </p>
                                    <?
                                        }
                                    }else{
                                        echo '<br/>No Skills';
                                    }
                                    ?>
                                </div>
                            </div>
                            
                            <div class="col-md-9 col-sm-9 paddingRight-0">
                                <div class="UserProfileDiv overflow">
                                    <div class="col-md-3 col-sm-3 Image">
                                        <img class="img-responsive img-circle" src="<?php echo getUserImage($this->UserDetails['user_image'],'thumb')?>" />
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-9">
                                        <div class="Name">
                                            <?php echo $this->UserDetails['user_first_name']?>
                                        </div>
                                        <?php if($this->UserDetails['ud_location']!=''){?>
                                            <div class="Location">
                                                <i class="fa fa-map-marker"></i>
                                                <?php echo $this->UserDetails['ud_location'];?>
                                            </div>
                                        <? }?>
                                        <?php if($this->UserDetails['ud_pitch']!=''){?>
                                            <div class="Pitch">
                                                222" <?php echo $this->UserDetails['ud_pitch'];?> "
                                            </div>
                                        <? }?>
                                        
                                        <?php if($this->UserDetails['ud_hirer_about']!=''){?>
                                            <div class="Pitch">
                                                <?php echo $this->UserDetails['ud_hirer_about'];?>
                                            </div>
                                        <? }?>
                                        
                                        <p></p>
                                        <div class="Rating pull-left">
                                        <?php 
										if($this->RateData['count']>0){
										$rate=$this->RateData['rate']/$this->RateData['count']; 
											echo rating_display(round($rate));
										}else{
											echo rating_display(0);
										}
										?>
                                            <?php /*?><img src="<?php echo FRONT_IMAGES_PATH?>/star-blue.png" />
                                            <img src="<?php echo FRONT_IMAGES_PATH?>/star-blue.png" />
                                            <img src="<?php echo FRONT_IMAGES_PATH?>/star-blue.png" />
                                            <img src="<?php echo FRONT_IMAGES_PATH?>/star-grey.png" />
                                            <img src="<?php echo FRONT_IMAGES_PATH?>/star-grey.png" /><?php */?>
                                        </div>
                                    </div>
                                    
                                    <p class="clear">&nbsp;</p>
                                
                                    <div class="UserProfileSection1">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="UserProfileWork">
                                                <p class="Title">LOOKING FOR WORK</p>
                                                <?php 
                                                if(count($this->WorkJobs)>0){
                                                    foreach($this->WorkJobs as $WorkJobs)
                                                    {
                                                ?>
                                                    <p class="JobTitle">
                                                        <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'job','action'=>'jobdetails',
														'job_id'=>$WorkJobs['job_id']),'default',true)?>">
                                                            <i class="fa fa-angle-double-right"></i>
                                                            <?php echo $WorkJobs['job_title']?>
                                                        </a>
                                                    </p>
                                                    <p class="Date">
                                                        Applied on : <?php echo date('M d, Y',strtotime($WorkJobs['job_app_date']));?>
                                                    </p>
                                                <?
                                                    }
                                                }else{
                                                ?>
                                                    <p>No Applied Jobs</p>
                                                <?
                                                }
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="UserProfileSection2 clear">   
                                        <div class="col-md-12 col-sm-12">
                                            <div class="UserProfileHire">
                                                <p class="Title">LOOKING TO HIRE</p>
                                                <?php 
                                                if(count($this->HireJobs)>0)
                                                {
                                                    foreach($this->HireJobs as $HireJobs)
                                                    {
                                                ?>
                                                    <p class="JobTitle">
                                                       <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'job','action'=>'jobdetails',
														'job_id'=>$HireJobs['job_id']),'default',true)?>">
                                                            <i class="fa fa-angle-double-right"></i>
                                                            <?php echo $HireJobs['job_title']?>
                                                        </a>
                                                    </p>
                                                    <p class="Date">
                                                        Posted on : <?php echo date('M d, Y',strtotime($HireJobs['job_added_date']));?>
                                                    </p>
                                                <?
                                                    }
                                                }else{
                                                ?>
                                                    <p>
                                                    No Jobs Posted
                                                    </p>
                                                <?
                                                }
                                                ?>
                                            </div>
                                        </div>  
                                    </div>
									<?php 
                                        if($this->UserDetails['user_deactivate_status']=='1'){
                                    ?>
                                    <p class="clear"></p>
                                    <div class="UserProfileSection2 clear">   
                                        <div class="col-md-12 col-sm-12">
                                            <div class="UserProfileHire" style="border-color:#D64635;">
                                                <p class="Title margin-0">USER DELETED ACCOUNT</p>
												<p></p>
                                                <p class="Title margin-0">REASON : <i><?php echo $this->UserDetails['user_deactive_reason']?></i></p>
                                            </div>
                                        </div>  
                                    </div>
									<?
                                        }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="<?php echo FRONT_JS_PATH?>/jquery.nicescroll.js"></script>
<script>
$(".UserProfileSkills").niceScroll({
	   cursorborder: "2px solid #008ab3",
	   cursorcolor: "#008ab3",
	   cursorwidth: 2, 
	   autohidemode: 'true',
});
</script>
