<!-- Add / Edit Style Page -->
<div class="portlet box purple">
	<div class="portlet-title">
    	<h4><i class="fa fa-money"></i>&nbsp;	<?php echo $this->pageHeading?></h4>
    </div>
    <div class="portlet-body" >
		<?php echo $this->getHelper('Messages')->getMessages();?> 
        <?php echo $this->form ;?>
    </div>
</div>


 