<div class="col-sm-12 MessageBox custom-form-wrapper">
    <div class="panel-body NotifyJobContentDiv ">
		<?php
        //echo "<pre>";
		$fixed_serialized_data = preg_replace_callback ( '!s:(\d+):"(.*?)";!',
    function($match) {
        //print_r($match);
        //echo ($match[1] == strlen($match[2])) ? $match[0] : 's:' . strlen($match[2]) . ':"' . $match[2] . '";';
        return ($match[1] == strlen($match[2])) ? $match[0] : 's:' . strlen($match[2]) . ':"' . $match[2] . '";';
    },
$this->socialData['social_data']);
        //echo "</pre>";
        $socialDataArr=@unserialize($fixed_serialized_data);
		//prn($socialDataArr);
		/*$facebookDataArr['education']=$user_profile['education'];
		$facebookDataArr['work']=$user_profile['work'];
		$facebookDataArr['likes']=$user_profile['likes'];
		$facebookDataArr['events']=$user_profile['events'];
		$facebookDataArr['bio']=$user_profile['bio'];
		$facebookDataArr['birthday']=$user_profile['birthday'];
		$facebookDataArr['groups']=$user_profile['groups'];
		$facebookDataArr['hometown']=$user_profile['hometown'];
		$facebookDataArr['likes']=$user_profile['likes'];
		$facebookDataArr['location']=$user_profile['location'];
		$facebookDataArr['tagged_places']=$user_profile['tagged_places'];
		$facebookDataArr['website']=$user_profile['website'];*/
		$educationData='';
		if(isset($socialDataArr['education'])){
        	$educationData=$socialDataArr['education'];
		}
		$workData='';
		if(isset($socialDataArr['work'])){
        	$workData=$socialDataArr['work'];
		}
		$likeData='';
		if(isset($socialDataArr['likes'])){
        	$likeData=$socialDataArr['likes'];
		}
		$eventData='';
		if(isset($socialDataArr['events'])){
        	$eventData=$socialDataArr['events'];
		}
		$bio='';
		if(isset($socialDataArr['bio'])){
			$bio=$socialDataArr['bio'];
		}
		$birthday='';
		if(isset($socialDataArr['birthday'])){
			$birthday=$socialDataArr['birthday'];
		}
		$groups='';
		if(isset($socialDataArr['groups'])){
			$groups=$socialDataArr['groups'];
		}
		$hometown='';
		if(isset($socialDataArr['hometown'])){
			$hometown=$socialDataArr['hometown'];
		}
		$location='';
		if(isset($socialDataArr['location'])){
			$location=$socialDataArr['location'];
		}
		$tagged_places='';
		if(isset($socialDataArr['tagged_places'])){
			$tagged_places=$socialDataArr['tagged_places'];
		}
		$website='';
		if(isset($socialDataArr['website'])){
			$website=$socialDataArr['website'];
		}
        $flag=0;
        ?>
        <?php if($this->socialData['user_first_name']!='') { $flag++; ?>  
        <!-- USER EDUCATION DATA START -->
        <h1 class="SiteHeading1">USER NAME</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
            <div class="col-sm-1">
            	<i class="fa fa-user" style="font-size: 50px;margin-top: 35px;"></i>
            </div>
            
            <div class="col-sm-11"><br/>
                <span class="home-campaign-name NotifyLabel"><?php echo $this->socialData['user_first_name']?></span></a><br/><br/>
            </div>
        </div>
        <!-- USER EDUCATION DATA END --> 
        <hr class="SearchPageHr" />
        <?php } ?> 
        <?php if($bio!='') { $flag++; ?>  
        <!-- USER EDUCATION DATA START -->
        <h1 class="SiteHeading1">ABOUT USER</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
            <div class="col-sm-1">
            	<i class="fa fa-user" style="font-size: 50px;margin-top: 35px;"></i>
            </div>
            
            <div class="col-sm-11"><br/>
                <span class="home-campaign-name NotifyLabel"><?php echo $bio?></span></a><br/><br/>
            </div>
        </div>
        <!-- USER EDUCATION DATA END --> 
        <hr class="SearchPageHr" />
        <?php } ?> 
         <?php if($birthday!='') { $flag++; ?>  
        <!-- USER EDUCATION DATA START -->
        <h1 class="SiteHeading1">BIRTHDAY</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
            <div class="col-sm-1">
            	<i class="fa fa-user" style="font-size: 50px;margin-top: 35px;"></i>
            </div>
            
            <div class="col-sm-11"><br/>
                <span class="home-campaign-name NotifyLabel"><?php echo $birthday?></span></a><br/><br/>
            </div>
        </div>
        <!-- USER EDUCATION DATA END --> 
        <hr class="SearchPageHr" />
        <?php } ?> 
        <?php if(!empty($educationData))
		{
		if($educationData[0]['school']['name']!='') { $flag++; ?>  
        <!-- USER EDUCATION DATA START -->
        <h1 class="SiteHeading1">EDUCATION HISTORY</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
        <p>&nbsp;</p>
        <?php $i=1; foreach($educationData as $edu) { ?>
        <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
            <div class="col-sm-1">
            	<img src="<?=HTTP_IMG_PATH?>/cap.png" style="margin-top:15px;" />
            </div>
            
            <div class="col-sm-11"><br/>
            	<?php if(isset($edu['school']['name'])){ ?>
                <span class="home-campaign-name NotifyLabel"><?=$edu['school']['name']?></span></a><br/><br/>
                <? }?>
                <span class="label label-success"><?php if(isset($edu['type'])){ ?><?=$edu['type']?><? }?>
                <?php if(isset($edu['year'])){ ?>&nbsp;,<?=$edu['year']['name']?><? }?></span>
            </div>
        </div>
        <? }?>
        <!-- USER EDUCATION DATA END --> 
        <hr class="SearchPageHr" />
        <?php }} ?> 
              
		<?php if(!empty($workData))
		{//prn($workData);
		 if($workData[0]['employer']['name']!='') { $flag++;  ?>  
        <!-- USER WORK DATA START --> 
        <h1 class="SiteHeading">WORK HISTORY</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
        <p>&nbsp;</p>
        <?php $i=1; foreach($workData as $work) { ?>
        <?php /*?><div class="col-sm-6 overflow">
            <div class="row sociallikeDiv margin-0">
                <span class="home-campaign-name NotifyLabel"><?=$work['employer']['name']?></span></a><br/><br/>
                <span class="label label-success"><?=$work['position']['name']?>&nbsp; at <?=$work['location']['name']?></span><br/>
                <span><i>"<?=$work['description']?>"</i></span>
            </div>
        </div><?php */?>
        <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
             <div class="col-sm-1">
                <img src="<?=HTTP_IMG_PATH?>/working.png" style="margin-top:15px;" />
             </div>
             
             <div class="col-sm-11"><br/>
              <?php if(isset($work['employer']['name'])){ ?>
                 <span class="home-campaign-name NotifyLabel"><?=$work['employer']['name']?></span></a><br/><br/>
                 <? }?>
                
                 <span class="label label-success">
                  <?php if(isset($work['position']['name'])){ ?>
				 <?=$work['position']['name']?>&nbsp; 
                  <? }?>
                  <?php if(isset($work['location']['name'])){ ?>
                 at <?=$work['location']['name']?>
                  <? }?>
                 </span><br/>
                
                 <?php if(isset($work['description'])){ ?>
                 <span><i>"<?=$work['description']?>"</i></span>
                 <? }?>
             </div>
         </div>
        <?php $i++; } ?>
        <!-- USER WORK DATA END --> 
        <hr class="SearchPageHr" />
        <?php }} ?> 
         
		<?php 
		if(!empty($likeData))
		{
		if(count($likeData['data'])>0 && !empty($likeData['data'][0])) { $flag++; ?> 
        <!-- USER LIKE DATA START --> 
        <h1 class="SiteHeading1">LIKES</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 clear NotifyMainContent overflow" align="left">
            <div class="row clear overflow margin-0">
                <?php $i=1; foreach($likeData['data'] as $allLikes) { ?>
                <div class="col-sm-6 overflow">
                    <div class="row sociallikeDiv margin-0">
                        <p class="label label-success"><?=$allLikes['name']?></p>
                        <?php if(isset($allLikes['about'])){ ?>
                        <p class="home-campaign-name NotifyLabel"><i><?=$allLikes['about']?></i></p>
                        <? }?>
                    </div>
                </div>
                <?php if($i%2==0) echo "</div><div class='clear'><br/><hr class='SearchPageHr' /></div><div row clear overflow>"; ?>
                <?php $i++; } ?>
            </div> 
        </div>
        <!-- USER WORK DATA END --> 
        <hr class="SearchPageHr" />
        <?php } }?>  
                       
		<?php 
		if(!empty($eventData))
		{
		if(count($eventData['data'])>0 && !empty($eventData['data'][0])) { $flag++; ?>
        <!-- USER EVENT DATA START --> 
        <h1 class="SiteHeading">EVENTS</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 clear NotifyMainContent overflow" align="left">
            <div class="row clear overflow margin-0">
				<?php $i=1; foreach($eventData['data'] as $allEvents) { ?>
                <div class="col-sm-12 overflow">
                    <div class="row sociallikeDiv margin-0">
                    	<?php if(isset($allEvents['description'])){ ?>
                        <span class="label label-success"><?=$allEvents['description']?></span><br/><br/>
                        <? }?>
                        <?php if(isset($allEvents['place']['name'])){ ?>
                        <div class="home-campaign-name NotifyLabel">
                        	<i class="fa fa-map-marker"></i>&nbsp;<i><?=$allEvents['place']['name']?></i>
                        </div>
                        <? }?>
                        <?php if(isset($allEvents['owner']['name'])){ ?>
                        <div class="NotifyLabel">
                        	<i class="fa fa-user"></i>&nbsp;OWNER: <i><?=$allEvents['owner']['name']?></i>
                        </div>
                        <? }?>
                        <?php if(isset($allEvents['start_time'])){ ?>
                        <div class="NotifyLabel">
                        	<i class="fa fa-calendar"></i>&nbsp;Starting On : <i><?=date('d M,Y',strtotime($allEvents['start_time']))?></i>
                        </div>
                         <? }?>
                         <?php if(isset($allEvents['attending']['data'])){ ?>
                        <div class="NotifyLabel">
                        	<i class="fa fa-group"></i>&nbsp;Total People Attending : <i><?=count($allEvents['attending']['data'])?></i>
                        </div>
                        <? }?>
                        <?php if(isset($allEvents['rsvp_status'])){ ?>
                        <div class="NotifyLabel">
                        	<i class="fa fa-group"></i>&nbsp;RSVP : <i><?=count($allEvents['rsvp_status'])?></i>
                        </div>
                        <? }?>
                        
                    </div>
                </div>
                <?php $i++; } ?>
            </div> 
        </div>
        <!-- USER EVENT DATA END --> 
        <?php } }?>
                     
        <?php 
		if(!empty($groups))
		{
		if(count($groups['data'])>0 && !empty($groups['data'][0])) { $flag++; ?> 
        <!-- USER GROUP DATA START --> 
        <h1 class="SiteHeading1">GROUPS</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 clear NotifyMainContent overflow" align="left">
            <div class="row clear overflow margin-0">
                <?php $i=1; foreach($groups['data'] as $group) { ?>
                <div class="col-sm-6 overflow">
                    <div class="row sociallikeDiv margin-0">
                        <p class="label label-success"><?=$group['name']?></p>
                    </div>
                </div>
                <?php if($i%2==0) echo "</div><div class='clear'><br/><hr class='SearchPageHr' /></div><div row clear overflow>"; ?>
                <?php $i++; } ?>
            </div> 
        </div>
        <!-- USER GROUP DATA END --> 
        <hr class="SearchPageHr" />
        <?php } }?>  
        
        <?php 
		if(!empty($hometown))
		{
		if(!empty($hometown['name'])) { $flag++; ?>
        <!-- USER HOMETOWN DATA START --> 
        <h1 class="SiteHeading">HOMETOWN</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 clear NotifyMainContent overflow" align="left">
            <div class="row clear overflow margin-0">
                <div class="col-sm-12 overflow">
                    <div class="row sociallikeDiv margin-0">
                        <span class="label label-success"><?=$hometown['name']?></span><br/><br/>
                    </div>
                </div>
            </div> 
        </div>
        <!-- USER HOMETOWN DATA END --> 
        <?php }} ?>          
        
 		<?php 
		if(!empty($location))
		{
		if(!empty($location['name'])) { $flag++; ?>
        <!-- USER LOCATION DATA START --> 
        <h1 class="SiteHeading">LOCATION</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 clear NotifyMainContent overflow" align="left">
            <div class="row clear overflow margin-0">
                <div class="col-sm-12 overflow">
                    <div class="row sociallikeDiv margin-0">
                        <span class="label label-success"><?=$location['name']?></span><br/><br/>
                    </div>
                </div>
            </div> 
        </div>
        <!-- USER LOCATION DATA END --> 
        <?php }} ?>      
        
        <?php 
		if(!empty($tagged_places))
		{
		if(count($tagged_places['data'])>0 && !empty($tagged_places['data'][0])) { $flag++; ?> 
        <!-- USER TAGGED DATA START --> 
        <h1 class="SiteHeading1">LIKES</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 clear NotifyMainContent overflow" align="left">
            <div class="row clear overflow margin-0">
                <?php $i=1; foreach($tagged_places['data'] as $tags) { ?>
                <div class="col-sm-6 overflow">
                    <div class="row sociallikeDiv margin-0">
                        <p class="label label-success"><?=$tags['name']?></p>
                    </div>
                </div>
                <?php if($i%2==0) echo "</div><div class='clear'><br/><hr class='SearchPageHr' /></div><div row clear overflow>"; ?>
                <?php $i++; } ?>
            </div> 
        </div>
        <!-- USER TAGGED DATA END --> 
        <hr class="SearchPageHr" />
        <?php }} ?>  
        
        <?php 
		if(!empty($website))
		{
		if(!empty($website['name'])) { $flag++; ?>
        <!-- USER WEBSITE DATA START --> 
        <h1 class="SiteHeading">WEBSITE</h1>
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
        <p>&nbsp;</p>
        <div class="col-sm-12 clear NotifyMainContent overflow" align="left">
            <div class="row clear overflow margin-0">
                <div class="col-sm-12 overflow">
                    <div class="row sociallikeDiv margin-0">
                        <span class="label label-success"><?=$website['name']?></span><br/><br/>
                    </div>
                </div>
            </div> 
        </div>
        <!-- USER WEBSITE DATA END --> 
        <?php }} ?>     
          
		<?php if($flag==0) { ?>
            <div class="col-sm-4 col-sm-offset-4 NoRecordFound" align="center">No Details Found..</div>
        <?php } ?>
    </div>
</div>   