<div class="row">
	<div class="col-md-12 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="<?php echo $this->pageIcon?>"></i> <?php echo $this->pageHeading?> </div>
			</div>

			<div class="portlet-body">

				<table class="table table-striped table-bordered table-hover dataTable" id="sample_1">
					<thead>
					<tr>
						<th width="5%">S.No.</th>
						<th>Transaction ID</th>
						<th>User</th>
						<th>Amount</th>
						<th>Currency</th>
						<th>Description</th>
						<th>Status</th>
						<th style="    width: 130px;">Action</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<script type="text/javascript" charset="utf-8">
	$(document)	 .ready(function(e) {
		$('#sample_1').dataTable( {
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "<?php echo $this->baseUrl()?>/admin/user/gettransactions" ,
			"aaSorting": [[0,"desc"]],
			"aoColumnDefs":
				[
					{"bSortable": false, "aTargets": [1,2]},
					/*{ "sClass": "hidden-767", "aTargets": [ 1 ] },
					 { "sClass": "hidden-480", "aTargets": [ 5 ] },
					 { "sClass": "hidden-320", "aTargets": [6] }*/
				],
			"iDisplayLength":50,
			"aLengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
			"fnDrawCallback": function( oSettings ) {
				re_init();
			}
		} );
	});
</script>

 