<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="<?php echo $this->pageIcon?>"></i> <?php echo $this->pageHeading?> </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN BORDERED TABLE PORTLET-->
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-body">
                                <div class="table-scrollable table-scrollable-borderless">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <tbody>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Transaction ID</td>
                                            <td style="width: 50%;"> <?php echo $this->transactionDetails['transaction_id']; ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">User</td>
                                            <td style="width: 50%;"> <?php echo $this->transactionDetails['user_id']; ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Amount</td>
                                            <td style="width: 50%;"> <?php if($this->transactionDetails['amount'] != '') echo '$ '.number_format($this->transactionDetails['amount']/100, 2); ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Currency</td>
                                            <td style="width: 50%;"> <?php if($this->transactionDetails['currency'] != '') echo strtoupper($this->transactionDetails['currency']); ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Description</td>
                                            <td style="width: 50%;"> <?php echo $this->transactionDetails['description']; ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Voucher Code</td>
                                            <td style="width: 50%;"> <?php if(isset($this->transactionDetails['metadata']->Voucher_code)) echo $this->transactionDetails['metadata']->Voucher_code; ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Discount Value</td>
                                            <td style="width: 50%;"> <?php if(isset($this->transactionDetails['metadata']->discount_value)) echo '$ '.number_format((float) $this->transactionDetails['metadata']->discount_value, 2); ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Discount Type</td>
                                            <td style="width: 50%;"> <?php if(isset($this->transactionDetails['metadata']->discount_type))
                                                    if($this->transactionDetails['metadata']->discount_type == 1)
                                                        echo 'Percentage';
                                                    else
                                                        echo 'Flat';
                                                ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Type</td>
                                            <td style="width: 50%;"> <?php
                                                    if(substr($this->transactionDetails['transaction_id'],0,2) == 'ch')
                                                        echo 'Charged';
                                                    else
                                                        echo 'Refunded';
                                                ?> </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Add Ons</td>
                                            <td style="width: 50%;">
                                                <?php if(substr($this->transactionDetails['transaction_id'],0,2) == 'ch') { ?>

                                                    <?php if(isset($this->transactionDetails['metadata']->pkg1)){
                                                        $pkg1 = explode(':', $this->transactionDetails['metadata']->pkg1);
                                                        if($pkg1[0] != 'false'){
                                                    ?>
                                                        <p><span style="font-size: 14px; font-weight: 600;"><?php echo $pkg1[2]; ?>:</span> <?php echo $pkg1[1]; ?> <span style="float:right"><a href="javascript:void(0);" class="btn btn-xs blue refund" id="<?php echo $this->transactionDetails['id']; ?>" package="pkg1"><i class="fa fa-retweet"></i>Refund</a></span></p>
                                                    <?php }} ?>
                                                    <?php if(isset($this->transactionDetails['metadata']->pkg2)){
                                                        $pkg2 = explode(':', $this->transactionDetails['metadata']->pkg2);
                                                            if($pkg2[0] != 'false'){
                                                        ?>
                                                        <p><span style="font-size: 14px; font-weight: 600;"><?php echo $pkg2[2]; ?>:</span> <?php echo $pkg2[1]; ?><span style="float:right"><a href="javascript:void(0);" class="btn btn-xs purple refund" id="<?php echo $this->transactionDetails['id']; ?>" package="pkg2"><i class="fa fa-retweet"></i>Refund</a></p>
                                                    <?php }} ?>
                                                    <?php if(isset($this->transactionDetails['metadata']->pkg3)){
                                                        $pkg3 = explode(':', $this->transactionDetails['metadata']->pkg3);
                                                        if($pkg3[0] != 'false'){
                                                        ?>
                                                        <p><span style="font-size: 14px; font-weight: 600;"><?php echo $pkg3[2]; ?>:</span> <?php echo $pkg3[1]; ?><span style="float:right"><a href="javascript:void(0);" class="btn btn-xs green refund" id="<?php echo $this->transactionDetails['id']; ?>" package="pkg3"><i class="fa fa-retweet"></i>Refund</a></p>
                                                    <?php }} ?>
                                                <?php }else { ?>
                                                    <?php if(isset($this->transactionDetails['metadata']->pkg)){
                                                    $pkg1 = explode(':', $this->transactionDetails['metadata']->pkg);
                                                    if($pkg1[0] != 'false'){
                                                        ?>
                                                        <p><span style="font-size: 14px; font-weight: 600;"><?php echo $pkg1[2]; ?>:</span> <?php echo $pkg1[1]; ?></p>
                                                    <?php }} ?>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50%; font-size: 14px; font-weight: 600;">Job</td>
                                            <td style="width: 50%;">
                                                <?php echo '<a href="'.APPLICATION_URL.'/admin/job/jobdetails/job_id/'.$this->transactionDetails['job_id'].'"> link </a>'; ?>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END BORDERED TABLE PORTLET-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>


</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.refund').on('click', function(){
            var element=$(this);


            var id = $(this).attr('id');
            var package = $(this).attr('package');
            $.ajax({
                    url: '<?php echo $this->baseUrl(); ?>/admin/payment/refund',
                    type: 'post',
                    dataType: 'json',

                    data: {
                        transaction_id: id,
                        package: package
                    },
                success: function (obj) {


                    showFlashMessage('Successfully refunded', false);
                    $(element).parents('p').remove();
                },
                error: function(data) {

                },

            });



        });
    });

</script>