<div class="row">
 	<div class="col-md-12 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="<?php echo $this->pageIcon?>"></i> <?php echo $this->pageHeading?> </div>
			</div>
			
			<div class="portlet-body">
				<form action="<?php echo $this->baseUrl() ?>/admin/user/removevoucher" method="post" onsubmit="return checkSelects();" >

				<div class="table-toolbar">
 					<div class="btn-group">
                        <button id="sample_editable_1_new" class="btn red-flamingo"> 
                            <i class="fa fa-trash-o"></i> Delete Selected 
                        </button>
                    </div>	
                    &nbsp;&nbsp;
                    <div class="btn-group">
                        <button id="sample_editable_1_new" type="button" class="btn green-seagreen">
                        	<a href="<?php echo $this->url(array('module'=>'admin','controller'=>'user','action'=>'addvoucher'),'default',true)?>"
                            style="color:inherit; text-decoration:none;" >
                        		<i class="fa fa-money"></i> Add Voucher
                            </a>
                        </button>
                    </div>	
				</div>
                <table class="table table-striped table-bordered table-hover dataTable" id="sample_1">
                    <thead>
                        <tr>
                            <th width="5%">S.No.</th>
                            <th width="5%">
								<input type="checkbox" class="group-checkable"  data-set="#sample_1 .checkboxes"  name="deletebcchk" id="deletebcchk" />
							</th>
							<th>Code</th>
                            <th>Discount Type</th>
                            <th>Value</th>
							<th>Expiry Date</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
				</form>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<script type="text/javascript" charset="utf-8">
$(document)	 .ready(function(e) {
	$('#sample_1').dataTable( {
		"bProcessing": true,
		"bServerSide": true,
 		"sAjaxSource": "<?php echo $this->baseUrl()?>/admin/user/getvoucher" ,
		"aaSorting": [[0,"desc"]],
		"aoColumnDefs": 
		 [
			{"bSortable": false, "aTargets": [1,2]},
 		 	/*{ "sClass": "hidden-767", "aTargets": [ 1 ] },
			{ "sClass": "hidden-480", "aTargets": [ 5 ] },
			{ "sClass": "hidden-320", "aTargets": [6] }*/
		 ],
		"iDisplayLength":50,
	    "aLengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
		"fnDrawCallback": function( oSettings ) {
			re_init();
		}
	} );
});
</script>

 