<style>
.radio, .checkbox{
	padding-left:0px;
}
</style>
<!-- Add / Edit Style Page -->
<div class="portlet box blue">
	<div class="portlet-title">
    	<h4><i class="<?php echo $this->pageIcon?>"></i>&nbsp;<?php echo $this->pageHeading?></h4>
    </div>
    <div class="portlet-body ">
		<?php echo $this->getHelper('Messages')->getMessages();?> 
        <?php echo $this->form ;?>
    </div>
</div>


 