<!-- Add / Edit Style Page -->
<div class="portlet box blue">
	<div class="portlet-title">
    	<h4><i class="<?php echo $this->pageIcon?>"></i>&nbsp;<?php echo $this->pageHeading?></h4>
    </div>
    <div class="portlet-body ">
		<?php echo $this->getHelper('Messages')->getMessages();?> 
        <p style="color:#06AC4B; font-size:15px;">
        	<i>Minimum expected width for image should be '1280px'</i>
        </p>
        <form class="profile_form" enctype="multipart/form-data" method="post">
		<?php echo $this->form->bg_0 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[0]['bg_file']?>" style="max-width:200px;" />
        <p></p>
        <?php echo $this->form->bg_1 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[1]['bg_file']?>" style="max-width:200px;" />
        <p></p>
        <?php echo $this->form->bg_2 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[2]['bg_file']?>" style="max-width:200px;" />
        <p></p>
		<?php echo $this->form->bg_3 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[3]['bg_file']?>" style="max-width:200px;" />
        <p></p>
		<?php echo $this->form->bg_4 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[4]['bg_file']?>" style="max-width:200px;" />
        <p></p>
		<?php echo $this->form->bg_5 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[5]['bg_file']?>" style="max-width:200px;" />
        <p></p>
		<?php echo $this->form->bg_6 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[6]['bg_file']?>" style="max-width:200px;" />
        <p></p>
		<?php echo $this->form->bg_7 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[7]['bg_file']?>" style="max-width:200px;" />
        <p></p>
        <?php echo $this->form->bg_10 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[10]['bg_file']?>" style="max-width:200px;" />
        <p></p>
        <?php echo $this->form->mapicon_8 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[8]['bg_file']?>" style="max-width:200px;" />
        <p></p>
        <?php echo $this->form->processingicon_9 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[9]['bg_file']?>" style="max-width:200px;" />
        <p></p>
        <?php echo $this->form->favicon_11 ;?>
        <img src="<?php echo HTTP_BG_IMAGES_PATH?>/<? echo $this->backgroundData[11]['bg_file']?>" style="max-width:200px;" />
        <p></p>
		<?php echo $this->form->bttnsubmit;?>
        </form>
    </div>
</div>
