<div class="row">
	<div class="col-md-12">
 		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="<?php echo $this->pageIcon;?>"></i><?php echo $this->pageHeading;?></div>
 			</div>
			<div class="portlet-body">
				<form method="post" action="<?php echo $this->url(array(),'admin_delete_expertise')?>"  onsubmit="return checkSelects();" >
				<div class="table-toolbar">
					<div class="btn-group">
						<a href="<?php echo $this->url(array(),'admin_add_expertise')?>" class="btn blue"> <i class="fa fa-plus"></i> Add Category </a>
					</div>
					<div class="btn-group">
						<button id="sample_editable_1_new" class="btn red"> <i class="fa fa-trash-o"></i> Delete Selected </button>
 					</div>
				</div>
 				<table id="sample_1" class="table table-striped table-bordered table-hover dataTable">
					<thead>
						<tr>
							<th width="5%">S.No.</th>
							<th width="5%"><input type="checkbox" class="group-checkable"  data-set="#sample_1 .checkboxes"  name="deletebcchk" id="deletebcchk" /></th>
							<th>Category</th>
                            <th>Type</th>
							<th width="8%">Edit</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				</form>
			</div>
		</div>		
  	</div>
 </div>

<script type="text/javascript" charset="utf-8">

$(document)	 .ready(function(e) {
	$('#sample_1').dataTable( {
		"bProcessing": true,
		"bServerSide": false,
 		"sAjaxSource": "<?php echo $this->baseUrl()?>/admin/static/getexpertise" ,
		"aaSorting": [[ 0, "asc" ]],
		"aoColumnDefs": 
		 [
			{ "bSortable": false, "aTargets": [1,3] },
 		 	/*{ "sClass": "hidden-767", "aTargets": [ 1 ] },
			{ "sClass": "hidden-480", "aTargets": [ 5 ] },
			{ "sClass": "hidden-320", "aTargets": [6] }*/
		 ],
		"iDisplayLength":50,
	    "aLengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
		"fnDrawCallback": function( oSettings ) {re_init();	}
	} );
});


</script>