<div class="row" style="margin-bottom: 5px;">
	<div class="col-md-12">
		<div class="col-md-6"></div>
		<div class="pull-right">
			<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin','controller'=>'static','action'=>'addmailtemplate'),'default') ?>">Add Template</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="<?php echo $this->pageIcon?>"></i> <?php echo $this->pageHeading?> </div>
			</div>
			 <div class="portlet-body">
				 <table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th>Id</th>
							<th width="30%">Title</th>
							<th>Subject</th>
							<th>Modified</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document)	 .ready(function(e) {
	$('#sample_1').dataTable( {
		"bProcessing": true,
		"bServerSide": true,
		"aoColumnDefs": 
		 [
			{ "bSortable": false, "aTargets": [4]/* Not To Include */ },
			{ "bSearchable": false, "aTargets": [4] /*Not To include*/ }
		 ],
		"sAjaxSource": "<?php echo $this->baseUrl()?>/admin/static/gettemplates" ,
		"iDisplayLength":50,
	    "aLengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
		"fnDrawCallback": function( oSettings ) {
			
			/*re_init();*/
			}
	} );
});
</script>