<?php 
	$user = new Application_Model_User();
	$this->modelCommon = new Application_Model_Static();
?>

<style>.link-simple,.tiles a{text-decoration:none !important;}</style>


<?php if($this->user->user_role=='1') { ?>
    <div class="tiles">
        
        <?php /*?><div class="tile double-down bg-blue-hoki">
            <a href="<?php echo $this->baseUrl("admin/");?>" class="link-simple">
            <div class="tile-body"> <i class="fa fa fa-calendar"></i> </div>
            <div class="tile-object">
                <div class="name"> Jobs </div>
                <div class="number">#</div>
            </div>
            </a>
        </div><?php */?>
    
        <div class="tile bg-blue-madison">
            <a href="<?php echo $this->baseUrl("admin/")."profile";?>" class="link-simple">
                <div class="corner"> </div>
                <div class="tile-body"> <i class="fa fa-user-md"></i> </div>
                <div class="tile-object">
                    <div class="name"> Admin </div>
                    <div class="number">N.A.</div>
                </div>
            </a>
        </div>
        
        
        <div class="tile bg-yellow-saffron">
            <a href="<?php echo $this->baseUrl("admin/")."user";?>" class="link-simple">
                <div class="corner"> </div>
                <div class="tile-body"> <i class="fa fa-users"></i> </div>
                <div class="tile-object">
                    <div class="name"> Users </div>
                    <div class="number"><?php echo $user->getCount(array("table"=>"users","key"=>"user_id","where"=>"user_id!=1 and user_type='user'"));?></div>
                </div>
            </a>
        </div>
        
        
        <?php /*?><div class="tile double selected bg-green-turquoise">
            <a href="<?php echo $this->baseUrl("admin/")."profile";?>" class="link-simple">
            <div class="corner"> </div>
            <div class="check"> </div>
            <div class="tile-body">
                <h4><?php echo $this->user->user_email?></h4>
                <p> <strong>Super Admin</strong>  </p>
                <p> Manage and update your profile information </p>
            </div>
            <div class="tile-object">
                <div class="name"> <i class="fa fa-edit"></i> </div>
                <div class="number"></div>
            </div>
            </a>
        </div><?php */?>
        
        
        <div class="tile bg-red-sunglo">
            <a href="<?php echo $this->baseUrl("admin/")."static/siteconfigs/type/SITE_CONFIG";?>" class="link-simple">
                <div class="tile-body"> <i class="fa fa-cogs"></i> </div>
                <div class="tile-object">
                    <div class="name"> Settings </div>
                </div>
            </a>
        </div>
        
        <?php /*?><div class="tile bg-blue-steel">
            <a href="<?php echo $this->baseUrl("admin/")."slider";?>" class="link-simple">
                <div class="tile-body"> <i class="fa fa-video-camera"></i> </div>
                <div class="tile-object">
                    <div class="name">Home Slider </div>
                    <div class="number"><?php echo $user->getCount(array("table"=>"slider_images","key"=>"slider_image_id"));?></div>
                </div>
            </a>
        </div><?php */?>
        
        <div class="tile double bg-blue-madison">
            <a href="<?php echo $this->baseUrl("admin/")."static/siteconfigs/type/SITE_CONFIG";?>" class="link-simple">
                <div class="tile-body"> 
                    <h4><?php echo $this->site_configs['site_paypal']?></h4>
                    <p> <strong>PayPal </strong> : This is the site paypal email address from which admin can receive payments </p>
                </div>
                <div class="tile-object">
                    <div class="name"> Update PayPal Address </div>
                </div>
            </a>
        </div>
        
        
        
        <div class="tile bg-purple-studio">
            <a href="<?php echo $this->baseUrl("admin/")."user/subscription"?>" class="link-simple">
            <div class="tile-body"> <i class="fa  fa-recycle"></i> </div>
            <div class="tile-object">
                <div class="name">Subscription Plans</div>
                <div class="number">#</div>
            </div>
            </a>
        </div>
        
        
         
        
        
        
        
    </div>
    
 <?php } ?>   
