<div class="col-sm-12 PostJobDiv padding-0">
    <div class="col-sm-6 overflow text-center padding-0"> 
        <div class="JobDetailDiv" onclick="window.location='<?php echo $this->url(array('job_id'=>$this->job['job_id']),'job_details')?>'">
            <div class="Title">
                <?php echo $this->job['job_title'];?>
            </div>
            
            <div class="Category text-left">
                <i class="fa fa-sitemap"></i> 
                <label>Category :</label> <?php echo $this->job['category_title']?> 
                <br />
                <i class="fa fa-sitemap"></i> 
                <label>Skills :</label> <?php echo $this->job['skills']?>
                <br />
                
                <i class="fa fa-money"></i> 
                <label>Budget :</label> 
                <?php if($this->job['job_budget_type']=='0'){?> <!-- FIXED BUDGET -->
                    <?php if($this->job['job_fix_type']=='0'){ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget']; }
                    else{ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget'].' per hour'; }?>
                <? }else{ ?> <!-- BUDGET IN RANGE -->
                	<?php echo '<i class="fa fa-dollar"></i>'.$this->job['job_min_price'].' to <i class="fa fa-dollar"></i>'.$this->job['job_max_price']?>
                <? }?>
                <br />
                <i class="fa fa-calendar"></i> <label>Completed before:</label> <?php echo date('M d, Y',strtotime($this->job['job_closing_date']));?>
                <p></p>
            </div>
            
            <div class="Desc">
                <?php echo $this->job['job_desc'];?>
            </div>
            
            <div class="PostedBy">
                <label>Posted By : </label><br />
                <i><?php echo $this->job['user_first_name'];?></i> <small><a href="">(See Profile)</a></small>
            </div>
        </div>
    </div>
        
    <div class="col-sm-6 overflow text-center"> 
        <p class="ApplyText">
        Enter a message for the hirer. Tell them about yourself and what experience you have. This is also a good opportunity to ask any questions regarding the job.
        </p>
        <form id="apply_form" name="apply_form" method="post" class="text-left">
        	<textarea id="ApplyMessage" name="ApplyMessage" class="form-control" rows="5" required="required"><?php if(!empty($this->getAppData)){ echo $this->getAppData['job_app_message']; }?></textarea>
            <p></p>
            <label for="job_app_offer">Counter Offer</label>
            
            <input type="text" name="job_app_offer" id="job_app_offer" class="form-control" <?php if(!empty($this->getAppData)){ ?> 
            value="<?php echo $this->getAppData['job_app_offer']?>" <? }?>/>
        </form>
    </div>
    <p class="clear">&nbsp;</p>
</div>
