<style>
    #map-canvas {
        margin-top: 10%;
    }


    .ads-items.select .ads-icon i{

        color: #000;

    }
    .ads-items.select .ads-title{

        color: #000;

    }
    #payment-form #cke_13 {
        display:  none;
    }
    .stepwizard-step{
        width:20%;
    }
    .addSkillBtn .fa {
        color: #888888;
    }
    #skillModal .form-control{
        line-height:1;
    }
    .BillingDetails .help-block {

        margin-left: 7%;
        white-space: nowrap;
    }
    .BillingDetails span.help-block {

        margin-left: 7%;
        white-space: nowrap;
        top: 45px;
    }
    .glyphicon-remove{
        display: none !important;
    }
    .glyphicon-ok{
        display: none !important;

    }
    .cardExpery .help-block{
        margin-left: 8%;
    }
    .cvv .help-block{
        margin-left: 12%;
    }
    .cvv span.help-block{
        margin-top: 19px;
    }
    .form-group ul{
        padding-left: 30px !important;
    }
    .margin-right{
        margin-right: 20px;
    }
    @media(max-width:767px){

        #exp-month{
            float: left;
        }

    }
</style>
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->


<div align="center">
    <p>
    <p>
    <p>
        <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- TJM - Post a job - Responsive -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7759778785831151"
             data-ad-slot="4389043146"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    <p>
    <p>
</div>



<div class="col-sm-12 PostJobDiv custom-form-wrapper">
    <h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Post Job <br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>

    <p class="clear">&nbsp;</p>

    <?php //echo $this->form;?>
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" class="btn btn-primary btn-circle">1</a>
                    <p>What?</p>
                </div>

                <div class="stepwizard-step">
                    <a href="#step-2" class="btn btn-circle" disabled="disabled">2</a>
                    <p>Where?</p>
                </div>

                <div class="stepwizard-step">
                    <a href="#step-3" class="btn btn-circle" disabled="disabled">3</a>
                    <p>How Much?</p>
                </div>

                <div class="stepwizard-step">
                    <a href="#step-4" class="btn btn-circle" disabled="disabled">4</a>
                    <p>When?</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-5" id="a-5" class="btn btn-circle" disabled="disabled">5</a>
                    <p>Add Ons</p>
                </div>

            </div>
        </div>
        <form role="form" class="job_form" id="payment-form" method="post" enctype="multipart/form-data">
            <div class="row setup-content" id="step-1">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> What?</h3>
                        <?php echo $this->form->job_title;?>
                        <?php echo $this->form->job_type;?>
                        <?php echo $this->form->job_category;?>
                        <?php echo $this->form->job_skills;?>
                        <?php /*?><div class="addSkillBtn text-right" style="cursor:pointer;"><i class="fa fa-plus"></i>&nbsp;Add Skill</div><?php */?>
                        <?php echo $this->form->job_description;?>

                        <button class="btn btn-primary nextBtn btn-lg pull-right work" type="button" >Next <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="row setup-content" id="step-2">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Where?</h3>
                        <div class="col-md-5 paddingLeft-0">
                            <?php echo $this->form->job_country;?>
                        </div>

                        <div class="col-md-3 padding-0">
                            <?php echo $this->form->job_location;?>
                        </div>

                        <div class="col-md-1 text-center PostJobOr padding-0">
                            OR
                        </div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-green PostJobLocation" id="CurrentLocation">
                                <i class="fa fa-map-marker"></i>&nbsp;Use current location
                            </button>
                        </div>

                        <?php echo $this->form->job_latitude;?>
                        <?php echo $this->form->job_longitude;?>
                        <div class="clear ErrorMsg" style="color:#F76053; display:none;">No such location found. Enter Valid country and postal code.</div>
                        <div id="map-canvas" style="height:300px; width:100%;"></div>
                        <p></p>
                        <button style="margin-top: 9%" class="btn btn-primary nextBtn btn-lg pull-right work" type="button" >Next <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="row setup-content" id="step-3">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> How Much?</h3>

                        <div class="col-md-3 paddingLeft-0">
                            <label class="JobFixedAmount">Click to enter amount</label>
                        </div>

                        <div class="col-md-4">
                            <?php echo $this->form->job_budget;?>
                        </div>

                        <div class="col-md-4">
                            <?php echo $this->form->job_fix_type;?>
                        </div>

                        <p class="clear JobOr text-center">Or</p>

                        <div class="col-md-3 paddingLeft-0">
                            <label class="JobRangeAmount">Click to enter a range</label>
                        </div>

                        <div class="col-md-2 posting-min-price">
                            <?php echo $this->form->job_min_price;?><br>
                        </div>

                        <div class="col-md-2 posting-max-price">
                            <?php echo $this->form->job_max_price;?><br>
                        </div>

                        <div class="col-md-4" id="posting-range-price">
                            <?php echo $this->form->job_fix_type;?>
                        </div>

                        <p class="clear"></p>
                        <button class="btn btn-primary nextBtn btn-lg  pull-right work" type="button" >Next <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="row setup-content" id="step-4">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 4</h3>
                        <?php echo $this->form->job_closing_date; ?>
                        <?php echo $this->form->job_type_of_work; ?>
                        <button class="btn btn-primary nextBtn btn-lg pull-right work" type="button" >Next <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-5">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3>Almost there! Pick from the below add ons to give your post a boost</h3>
                        <?php foreach($this->subscriptions as $subscription): ?>
                            <div id="ads-type">
                                <div class="ads-items">
                                    <div class="col-sm-3">
                                        <div class="ads-icon">
                                            <span style="display: none;"><?php echo $subscription['sub_id']; ?></span>
                                            <i style="font-size: inherit; " class="fa fa-<?php if($subscription['sub_id'] == 4){ echo 'home'; }elseif($subscription['sub_id'] == 3){ echo 'rocket'; }else {echo 'bullhorn';} ?>"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="ads-header">
                                            <div class="ads-title">
                                                <h3><?php echo $subscription['sub_name']; ?></i>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="ads-dsc">
                                            <p>
                                                <?php echo $subscription['sub_desc']; ?>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="ads-link">
                                            <div class="ads-price">$<?php echo $subscription['sub_price']; ?></div>
                                            <a href="javascript:void(0);" data-sub-type="<?php echo $subscription['sub_name']; ?>" data-sub-id="<?php echo $subscription['sub_id']; ?>" class="btn btn-primary  btn-lg work btn-block" >Add</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <?php endforeach; ?>

                        <div class="payment_section jumbotron form-horizontal" style="display: none;padding-left: 0px;padding-right: 0px;" >





                            <div class="col-md-6 col-sm-12 col-xs-12  ">

                                <h3>Payment Information?</h3>

                                <!-- Card Number -->
                                <div class="form-group">
                                    <div class="BillingDetails">
                                    <label class="col-sm-4 control-label" for="textinput">Card Number</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="cardnumber" maxlength="19" placeholder="Card Number" class="card-number form-control required">
                                    </div>
                                        </div>
                                </div>

                                <!-- Expiry-->
                                <div class="cardExpery">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="textinput">Card Expiry Date</label>
                                    <div class="col-sm-8    ">
                                        <div class="form-inline ">
                                            <select name="exp-month" id="exp-month" data-stripe="exp-month" class="card-expiry-month stripe-sensitive required form-control" style="    width: 28%;">
                                                <option value="01" selected="selected">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>

                                            <select name="exp-year" id="exp-year" data-stripe="exp-year" class="card-expiry-year stripe-sensitive required form-control" style="    width: 37%;">
                                            </select>
                                            <script type="text/javascript">
                                                var select = $(".card-expiry-year"),
                                                    year = new Date().getFullYear();

                                                for (var i = 0; i < 12; i++) {
                                                    select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <!-- CVV -->
                                <div class="csv">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="textinput">CVV/CVV2</label>
                                    <div class="col-sm-3 cvv" >
                                        <input type="text" id="cvv" placeholder="CVV" maxlength="4" class="card-cvc form-control required" required>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="textinput">Voucher code</label>
                                    <div class="col-sm-6 " >
                                        <input type="text" id="voucher_code" placeholder="Code"  class=" form-control " name="code">

                                        <span class="help-block" id="voucher_code_rsp" style="display: none; left: 15px;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" >Items Selected</label>
                                </div>
                                <div class="form-group">

                                    <div class="col-sm-7 col-xs-11 col-xs-offset-0 col-sm-offset-1 col-lg-offset-0" >

                                        <ul style="list-style: none;
                                            font-size: 14px;
                                            color: ##7c7c7c;
                                            font-weight: bold;
                                            line-height: 1.5;
                                            ">
                                            <?php foreach($this->subscriptions as $subscription): ?>
                                                <li id="li_<?php echo str_replace(" " , "_" ,$subscription["sub_name"]); ?>" style="display: none;"><?php echo $subscription["sub_name"]; ?><span style="    float: right;"><?php echo $subscription["sub_price"]; ?></span></li>
                                            <?php endforeach; ?>
                                        </ul>

                                    </div>

                                </div>

                                <div class="form-group" id="li_discount" style="display: none;">

                                    <div class="col-sm-7 col-xs-11 col-xs-offset-0 col-sm-offset-1 col-lg-offset-0" >

                                        <ul style="list-style: none;
                                            font-size: 14px;
                                            color: ##7c7c7c;
                                            font-weight: bold;
                                            line-height: 1.5;
                                            ">
                                            <li>Discount<span style="    float: right; " ></span></li>
                                        </ul>

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-sm-7 col-xs-11 col-xs-offset-0 col-sm-offset-1 col-lg-offset-0" >

                                        <ul style="list-style: none;
                                            font-size: 14px;
                                            color: ##7c7c7c;
                                            font-weight: bold;
                                            line-height: 1.5;
                                            ">
                                            <li>Sub Total<span style="    float: right;" id="sub_total" >$0.00</span></li>



<!--                                    <label class="col-sm-4 control-label" >Total price</label>-->
<!--                                    <label class="text-success control-label col-sm-2"  id="total_price" ><strong>$0.00</strong></label>-->
                                    <input type="hidden" id="sponsored_job"    name="sponsored_job " value="false">
                                    <input type="hidden" id="urgent_job"   name="urgent_job" value="false">
                                    <input type="hidden" id="home_page_gallery"  name="home_page_gallery" value="false">
                                    <input type="hidden" id="tb_transaction_id"  name="tb_transaction_id" value="false">



                                            <li>Total price<span style="    float: right;" id="total_price">$0.00</span></li>
                                        </ul>

                                    </div>

                                </div>

                                <div class="clearfix"></div>
                                <br>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12  ">
                                <fieldset>

                                    <!-- Form Name -->
<div class="BillingDetails">
                                    <h3 class="col-lg-offset-2">Billing Details</h3>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="textinput">Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="Name" placeholder="Street" class="address form-control required" value="<?php echo $this->userInfo->user_first_name . " "; echo $this->userInfo->user_last_name;?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="textinput">Email</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="email" maxlength="65" placeholder="Email" class="email form-control required" value="<?php echo $this->userInfo->user_email;?>">
                                        </div>
                                    </div>
                                    <!-- Street -->


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="textinput">Street</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="street" placeholder="Street" class="address form-control required" value="<?php echo $this->userInfo->user_address;?>">
                                        </div>
                                    </div>

                                    <!-- City -->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="textinput">City</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="city" placeholder="City" class="city form-control required">
                                        </div>
                                    </div>

                                    <!-- State -->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="textinput">State</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="state" maxlength="65" placeholder="State" class="state form-control required" value="<?php echo $this->userInfo->user_state;?>">
                                        </div>
                                    </div>

                                    <!-- Postcal Code -->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="textinput">Postal Code</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="zip" maxlength="9" placeholder="Postal Code" class="zip form-control required"  value="<?php echo $this->userInfo->user_postal_code;?>">
                                        </div>
                                    </div>

                                    <!-- Country -->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="textinput">Country</label>
                                        <div class="col-sm-6">
                                            <select name="country" id="country" class="form-control col-sm-6">
                                                <option data-option="AF">Afghanistan</option>
                                                <option data-option="AL">Albania</option>
                                                <option data-option="DZ">Algeria</option>
                                                <option data-option="AS">American Samoa</option>
                                                <option data-option="AD">Andorra</option>
                                                <option data-option="AO">Angola</option>
                                                <option data-option="AI">Anguilla</option>
                                                <option data-option="AQ">Antarctica</option>
                                                <option data-option="AG">Antigua and Barbuda</option>
                                                <option data-option="AR">Argentina</option>
                                                <option data-option="AM">Armenia</option>
                                                <option data-option="AW">Aruba</option>
                                                <option data-option="AU">Australia</option>
                                                <option data-option="AT">Austria</option>
                                                <option data-option="AZ">Azerbaijan</option>
                                                <option data-option="BH">Bahrain</option>
                                                <option data-option="BD">Bangladesh</option>
                                                <option data-option="BB">Barbados</option>
                                                <option data-option="BY">Belarus</option>
                                                <option data-option="BE">Belgium</option>
                                                <option data-option="BZ">Belize</option>
                                                <option data-option="BJ">Benin</option>
                                                <option data-option="BM">Bermuda</option>
                                                <option data-option="BT">Bhutan</option>
                                                <option data-option="BO">Bolivia</option>
                                                <option data-option="BA">Bosnia and Herzegovina</option>
                                                <option data-option="BW">Botswana</option>
                                                <option data-option="BV">Bouvet Island</option>
                                                <option data-option="BR">Brazil</option>
                                                <option data-option="IO">British Indian Ocean Territory</option>
                                                <option data-option="VG">British Virgin Islands</option>
                                                <option data-option="BN">Brunei</option>
                                                <option data-option="BG">Bulgaria</option>
                                                <option data-option="BF">Burkina Faso</option>
                                                <option data-option="BI">Burundi</option>
                                                <option data-option="CI">Côte d'Ivoire</option>
                                                <option data-option="KH">Cambodia</option>
                                                <option data-option="CM">Cameroon</option>
                                                <option data-option="CA">Canada</option>
                                                <option data-option="CV">Cape Verde</option>
                                                <option data-option="KY">Cayman Islands</option>
                                                <option data-option="CF">Central African Republic</option>
                                                <option data-option="TD">Chad</option>
                                                <option data-option="CL">Chile</option>
                                                <option data-option="CN">China</option>
                                                <option data-option="CX">Christmas Island</option>
                                                <option data-option="CC">Cocos (Keeling) Islands</option>
                                                <option data-option="CO">Colombia</option>
                                                <option data-option="KM">Comoros</option>
                                                <option data-option="CG">Congo</option>
                                                <option data-option="CK">Cook Islands</option>
                                                <option data-option="CR">Costa Rica</option>
                                                <option data-option="HR">Croatia</option>
                                                <option data-option="CU">Cuba</option>
                                                <option data-option="CY">Cyprus</option>
                                                <option data-option="CZ">Czech Republic</option>
                                                <option data-option="CD">Democratic Republic of the Congo</option>
                                                <option data-option="DK">Denmark</option>
                                                <option data-option="DJ">Djibouti</option>
                                                <option data-option="DM">Dominica</option>
                                                <option data-option="DO">Dominican Republic</option>
                                                <option data-option="TP">East Timor</option>
                                                <option data-option="EC">Ecuador</option>
                                                <option data-option="EG">Egypt</option>
                                                <option data-option="SV">El Salvador</option>
                                                <option data-option="GQ">Equatorial Guinea</option>
                                                <option data-option="ER">Eritrea</option>
                                                <option data-option="EE">Estonia</option>
                                                <option data-option="ET">Ethiopia</option>
                                                <option data-option="FO">Faeroe Islands</option>
                                                <option data-option="FK">Falkland Islands</option>
                                                <option data-option="FJ">Fiji</option>
                                                <option data-option="FI">Finland</option>
                                                <option data-option="MK">Former Yugoslav Republic of Macedonia</option>
                                                <option data-option="FR">France</option>
                                                <option data-option="FX">France, Metropolitan</option>
                                                <option data-option="GF">French Guiana</option>
                                                <option data-option="PF">French Polynesia</option>
                                                <option data-option="TF">French Southern Territories</option>
                                                <option data-option="GA">Gabon</option>
                                                <option data-option="GE">Georgia</option>
                                                <option data-option="DE">Germany</option>
                                                <option data-option="GH">Ghana</option>
                                                <option data-option="GI">Gibraltar</option>
                                                <option data-option="GR">Greece</option>
                                                <option data-option="GL">Greenland</option>
                                                <option data-option="GD">Grenada</option>
                                                <option data-option="GP">Guadeloupe</option>
                                                <option data-option="GU">Guam</option>
                                                <option data-option="GT">Guatemala</option>
                                                <option data-option="GN">Guinea</option>
                                                <option data-option="GW">Guinea-Bissau</option>
                                                <option data-option="GY">Guyana</option>
                                                <option data-option="HT">Haiti</option>
                                                <option data-option="HM">Heard and Mc Donald Islands</option>
                                                <option data-option="HN">Honduras</option>
                                                <option data-option="HK">Hong Kong</option>
                                                <option data-option="HU">Hungary</option>
                                                <option data-option="IS">Iceland</option>
                                                <option data-option="IN">India</option>
                                                <option data-option="ID">Indonesia</option>
                                                <option data-option="IR">Iran</option>
                                                <option data-option="IQ">Iraq</option>
                                                <option data-option="IE">Ireland</option>
                                                <option data-option="IL">Israel</option>
                                                <option data-option="IT">Italy</option>
                                                <option data-option="JM">Jamaica</option>
                                                <option data-option="JP">Japan</option>
                                                <option data-option="JO">Jordan</option>
                                                <option data-option="KZ">Kazakhstan</option>
                                                <option data-option="KE">Kenya</option>
                                                <option data-option="KI">Kiribati</option>
                                                <option data-option="KW">Kuwait</option>
                                                <option data-option="KG">Kyrgyzstan</option>
                                                <option data-option="LA">Laos</option>
                                                <option data-option="LV">Latvia</option>
                                                <option data-option="LB">Lebanon</option>
                                                <option data-option="LS">Lesotho</option>
                                                <option data-option="LR">Liberia</option>
                                                <option data-option="LY">Libya</option>
                                                <option data-option="LI">Liechtenstein</option>
                                                <option data-option="LT">Lithuania</option>
                                                <option data-option="LU">Luxembourg</option>
                                                <option data-option="MO">Macau</option>
                                                <option data-option="MG">Madagascar</option>
                                                <option data-option="MW">Malawi</option>
                                                <option data-option="MY">Malaysia</option>
                                                <option data-option="MV">Maldives</option>
                                                <option data-option="ML">Mali</option>
                                                <option data-option="MT">Malta</option>
                                                <option data-option="MH">Marshall Islands</option>
                                                <option data-option="MQ">Martinique</option>
                                                <option data-option="MR">Mauritania</option>
                                                <option data-option="MU">Mauritius</option>
                                                <option data-option="YT">Mayotte</option>
                                                <option data-option="MX">Mexico</option>
                                                <option data-option="FM">Micronesia</option>
                                                <option data-option="MD">Moldova</option>
                                                <option data-option="MC">Monaco</option>
                                                <option data-option="MN">Mongolia</option>
                                                <option data-option="ME">Montenegro</option>
                                                <option data-option="MS">Montserrat</option>
                                                <option data-option="MA">Morocco</option>
                                                <option data-option="MZ">Mozambique</option>
                                                <option data-option="MM">Myanmar</option>
                                                <option data-option="NA">Namibia</option>
                                                <option data-option="NR">Nauru</option>
                                                <option data-option="NP">Nepal</option>
                                                <option data-option="NL">Netherlands</option>
                                                <option data-option="AN">Netherlands Antilles</option>
                                                <option data-option="NC">New Caledonia</option>
                                                <option data-option="NZ">New Zealand</option>
                                                <option data-option="NI">Nicaragua</option>
                                                <option data-option="NE">Niger</option>
                                                <option data-option="NG">Nigeria</option>
                                                <option data-option="NU">Niue</option>
                                                <option data-option="NF">Norfolk Island</option>
                                                <option data-option="KP">North Korea</option>
                                                <option data-option="MP">Northern Marianas</option>
                                                <option data-option="NO">Norway</option>
                                                <option data-option="OM">Oman</option>
                                                <option data-option="PK">Pakistan</option>
                                                <option data-option="PW">Palau</option>
                                                <option data-option="PS">Palestine</option>
                                                <option data-option="PA">Panama</option>
                                                <option data-option="PG">Papua New Guinea</option>
                                                <option data-option="PY">Paraguay</option>
                                                <option data-option="PE">Peru</option>
                                                <option data-option="PH">Philippines</option>
                                                <option data-option="PN">Pitcairn Islands</option>
                                                <option data-option="PL">Poland</option>
                                                <option data-option="PT">Portugal</option>
                                                <option data-option="PR">Puerto Rico</option>
                                                <option data-option="QA">Qatar</option>
                                                <option data-option="RE">Reunion</option>
                                                <option data-option="RO">Romania</option>
                                                <option data-option="RU">Russia</option>
                                                <option data-option="RW">Rwanda</option>
                                                <option data-option="ST">São Tomé and Príncipe</option>
                                                <option data-option="SH">Saint Helena</option>
                                                <option data-option="PM">St. Pierre and Miquelon</option>
                                                <option data-option="KN">Saint Kitts and Nevis</option>
                                                <option data-option="LC">Saint Lucia</option>
                                                <option data-option="VC">Saint Vincent and the Grenadines</option>
                                                <option data-option="WS">Samoa</option>
                                                <option data-option="SM">San Marino</option>
                                                <option data-option="SA">Saudi Arabia</option>
                                                <option data-option="SN">Senegal</option>
                                                <option data-option="RS">Serbia</option>
                                                <option data-option="SC">Seychelles</option>
                                                <option data-option="SL">Sierra Leone</option>
                                                <option data-option="SG">Singapore</option>
                                                <option data-option="SK">Slovakia</option>
                                                <option data-option="SI">Slovenia</option>
                                                <option data-option="SB">Solomon Islands</option>
                                                <option data-option="SO">Somalia</option>
                                                <option data-option="ZA">South Africa</option>
                                                <option data-option="GS">South Georgia and the South Sandwich Islands</option>
                                                <option data-option="KR">South Korea</option>
                                                <option data-option="ES">Spain</option>
                                                <option data-option="LK">Sri Lanka</option>
                                                <option data-option="SD">Sudan</option>
                                                <option data-option="SR">Suriname</option>
                                                <option data-option="SJ">Svalbard and Jan Mayen Islands</option>
                                                <option data-option="SZ">Swaziland</option>
                                                <option data-option="SE">Sweden</option>
                                                <option data-option="CH">Switzerland</option>
                                                <option data-option="SY">Syria</option>
                                                <option data-option="TW">Taiwan</option>
                                                <option data-option="TJ">Tajikistan</option>
                                                <option data-option="TZ">Tanzania</option>
                                                <option data-option="TH">Thailand</option>
                                                <option data-option="BS">The Bahamas</option>
                                                <option data-option="GM">The Gambia</option>
                                                <option data-option="TG">Togo</option>
                                                <option data-option="TK">Tokelau</option>
                                                <option data-option="TO">Tonga</option>
                                                <option data-option="TT">Trinidad and Tobago</option>
                                                <option data-option="TN">Tunisia</option>
                                                <option data-option="TR">Turkey</option>
                                                <option data-option="TM">Turkmenistan</option>
                                                <option data-option="TC">Turks and Caicos Islands</option>
                                                <option data-option="TV">Tuvalu</option>
                                                <option data-option="VI">US Virgin Islands</option>
                                                <option data-option="UG">Uganda</option>
                                                <option data-option="UA">Ukraine</option>
                                                <option data-option="AE">United Arab Emirates</option>
                                                <option data-option="GB">United Kingdom</option>
                                                <option data-option="US">United States</option>
                                                <option data-option="UM">United States Minor Outlying Islands</option>
                                                <option data-option="UY">Uruguay</option>
                                                <option data-option="UZ">Uzbekistan</option>
                                                <option data-option="VU">Vanuatu</option>
                                                <option data-option="VA">Vatican City</option>
                                                <option data-option="VE">Venezuela</option>
                                                <option data-option="VN">Vietnam</option>
                                                <option data-option="WF">Wallis and Futuna Islands</option>
                                                <option data-option="EH">Western Sahara</option>
                                                <option data-option="YE">Yemen</option>
                                                <option data-option="ZM">Zambia</option>
                                                <option data-option="ZW">Zimbabwe</option>
                                            </select>

                                        </div>
                                    </div>

                                    <!-- Email -->
</div>
                                </fieldset>

                            </div>
                            <div class="clearfix"></div>
                            <span class="alert_success label label-success pull-right" style="    margin-right: 10%; display: none;"><strong>Payment Successful! Posting your job</strong></span>
                            <span class="alert_danger label label-danger pull-right" style="    margin-right: 10%; display: none;"><strong>Payment Failure! Could not post your job</strong></span>
                        </div>

                        <button id="post-btn" class="btn btn-primary nextBtn btn-lg pull-right work" type="button" >Post <i class="fa fa-angle-double-right"></i></button>

                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<!-- ADD SKILL MODAL START -->
<div class="modal fade" id="skillModal">
    <div class="modal-dialog">
        <div class="modal-content Overflow">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Your Own Skill</h4>
            </div>
            <div class="modal-body" id="ProfileSection"><?=$this->skillForm?></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="skillBtn">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
<!-- ADD SKILL MODAL END-->

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
    var job_post_code = '<?php echo $this->job['job_location']?>';
    $(document).ready(function(e) {
        $('label[for=job_type-0]').closest('div.form-group').css('overflow','hidden');
        //$('#job_skills').closest('div').after($('.addSkillBtn'));
    });
    $(document).keypress(function(e) {
        var code = e.keyCode || e.which;
        if(code == 13) { //Enter keycode
            event.preventDefault();
        }
    });
</script>


<script>

    var discountAmount = 0.00;
    var subTotal = 0.00;
    var totalAmount = 0.00;
    var VoucherDetailsObject=0.0;

    function recalculatePrice()
    {
        totalAmount = subTotal - discountAmount;
        //
        return parseFloat(totalAmount)+ 0.00;
    }

    $("#job_category").change(function () {

        var param1 = this.value;

        $("#job_skills").html("");

        //$("#job_skills").addClass("chosen-select");

        //array('action' => 'dropdown', 'controller' => 'message')

        jQuery.ajax({
            url: '<?php echo $this->baseUrl(); ?>/job/retrieveskills',
            //url: host+"/retrievestaticdata",
            type: 'POST',
            data: {param1: param1},
            dataType: "json",
            success: function(result){

                for (var i = 0; i <= result.length - 1; i++) {
                    $("#job_skills").append("<option value='" + result[i][0] + "'>" + result[i][1] + "</option>");
                };

                $("#job_skills").trigger("chosen:updated");

            },


            error: function(jqXHR, exception) {
                if (jqXHR.status === 0) {
                    alert('Not connect.\n Verify Network.');
                } else if (jqXHR.status == 404) {
                    alert('Requested page not found. [404]');
                } else if (jqXHR.status == 500) {
                    alert('Internal Server Error [500].');
                } else if (exception === 'parsererror') {
                    alert('Requested JSON parse failed.');
                } else if (exception === 'timeout') {
                    alert('Time out error.');
                } else if (exception === 'abort') {
                    alert('Ajax request aborted.');
                } else {
                    alert('Uncaught Error.\n' + jqXHR.responseText);
                }
            }

        });

    });

    function doPayment(){

        var status;

        if ($("#payment-form").valid()) {

            if ($("#voucher_code_rsp").is(':visible')) {

                return;
            }
            else {
                $("#post-btn").attr("disabled", "disabled");
                $("#post-btn").removeClass("work");
                $("#post-btn").addClass("btn-postjob-disable");
                var name = $("#step-5 input[name='Name']").val();
                var cardNo = $("#step-5 #cardnumber").val();
                var voucherCode = $("#step-5 #voucher_code").val();
                var expMonth = $("#step-5 #exp-month").val();
                var expYear = $("#step-5 #exp-year").val();
                var cvv = $("#step-5 #cvv").val();
                var street = $("#step-5 input[name='street']").val();
                var city = $("#step-5 input[name='city']").val();
                var zip = $("#step-5 input[name='zip']").val();
                var state = $("#step-5 input[name='state']").val();
                var country = $("#step-5 #country option:selected").text();
                var price =  parseFloat($("#total_price").text().substring(1));
                var subtotal = parseFloat($("#sub_total").text().substring(1));
                var pkg1=false;
                var pkg2=false;
                var pkg3=false;
                var discount = $("#li_discount li span").text();

                if($("#sponsored_job").val()!="false"){
                    pkg1 = $("#sponsored_job").val() + ":" +$("#li_Premium_Job span").text() + ":"+$("#li_Premium_Job").text().split("$")[0];
                }
                if($("#urgent_job").val()!="false"){
                    pkg2 = $("#urgent_job").val() +":"+$("#li_Urgent_Job span").text()+ ":"+$("#li_Urgent_Job").text().split("$")[0];
                }
                if($("#home_page_gallery").val() !="false"){
                    pkg3 = $("#home_page_gallery").val()+":"+$("#li_Home_Page_Gallery span").text()+ ":"+$("#li_Home_Page_Gallery").text().split("$")[0];
                }


                $.ajax({
                        url: '<?php echo $this->baseUrl(); ?>/payment/data',
                        type: 'post',
                        dataType: 'json',
                        async: false,
                        data: {
                            name: name, cardNo: cardNo, expMonth: expMonth, expYear: expYear, cvv: cvv, street: street,
                            city: city, state: state, country: country, zip: zip, voucherCode: voucherCode,
                            amount: price,subtotal:subtotal,pkg1:pkg1,pkg2:pkg2, pkg3:pkg3,discount:discount,discount_value:VoucherDetailsObject.value,
                            discount_type:VoucherDetailsObject.discount_type
                        },
                    })
                    .done(function (obj) {

                        if (obj.status && obj.id !== "") {
                            console.log(obj);
                            $("#tb_transaction_id").val(obj.tb_transaction_id);
                            $(".alert_success").show(500);
                            status = true;
                        }
                        else {
                            $(".alert_danger").show(500);
                            status = false
                            $("#post-btn").removeAttr("disabled");
                            $("#post-btn").removeClass("btn-postjob-disable");
                            $("#post-btn").addClass("work");


                        }
                    })
                    .fail(function (obj) {
                        $("#post-btn").removeAttr("disabled");
                        $("#post-btn").removeClass("btn-postjob-disable");
                        $("#post-btn").addClass("work");
                        $(".alert_danger").show(500);

                    })
                    .always(function (obj) {

                    });
            }
        }
        return status;
    };

    $(document).ready(function () {

        $("#voucher_code").on('blur', function(){

            var code = $("#voucher_code").val();
            
            if (code == "") {

                discountAmount = 0.00;
                VoucherDetailsObject=0.0;
                recalculatePrice();
                $("#total_price").text("$"+totalAmount.toFixed(2));
                $("#li_discount li span").text("");
                $("#li_discount").hide();
                $("#voucher_code_rsp").hide();
            }
            else if(code) {
                $("#voucher_code_rsp").hide();
                $.ajax({
                        url: '<?php echo $this->baseUrl(); ?>/payment/confirmVoucher',
                        type: 'post',
                        dataType: 'json',
                        data: {code: code},
                    })
                    .done(function (obj) {
                        if (obj.status == "1") {
                            VoucherDetailsObject=obj;
//                            $("#voucher_code").prop('disabled', true);
                            var total_price = parseFloat($("#sub_total").text().substring(1));
                            totalAmount = total_price;
                            discountAmount = obj.value;
                            console.log(obj.value);
                            if(obj.discount_type == 1){//calculate discount percentage
                                discountAmount = subTotal*(obj.value/100.00);
                            }
                            else{ //calculate discount value
                                discountAmount = obj.value;
                            }
                            recalculatePrice();
                            $("#total_price").text("$"+totalAmount.toFixed(2));
                            $("#li_discount").show();
                            $("#li_discount li span").text("$"+parseFloat(discountAmount).toFixed(2));

                        } else {
                            discountAmount = 0.00;
                            recalculatePrice();

                            $("#total_price").text("$"+totalAmount.toFixed(2));
                            $("#li_discount li span").text("");
                            $("#li_discount").hide();
                            $("#voucher_code_rsp").html(obj.message);
                            $("#voucher_code_rsp").show(500);
                            //recalculate price
                            //$("#total_price").text($("#sub_total").text());
                        }


                    })
                    .fail(function (obj) {

                    })
                    .always(function (obj) {

                    });

            }
        });
    });

    $(".ads-items").on("click",function(){


        var selected_id = $(this).find('span').text();
        var text = $(this).find('.btn-block').text();
        var obj = $(this).find('.ads-link .btn');
        var price = parseFloat($(obj).parent().find(".ads-price").text().substring(1));
//        price = price.toFixed(2);
//        console.log(price);
        var total_price = parseFloat($("#sub_total").text().substring(1));
        if(text == 'Add')
        {
            var sub_type = $(obj).attr('data-sub-id');
            subTotal = parseFloat(total_price+price);
            $("#sub_total").text("$"+(subTotal.toFixed(2)));

            if(sub_type=="4"){
                $("#home_page_gallery").val($(obj).attr('data-sub-id'));
                $("#li_Home_Page_Gallery").show();
                $("#li_Home_Page_Gallery span").text($(obj).parent().find(".ads-price").text());


            } else if(sub_type=="3"){

                $("#urgent_job").val($(obj).attr('data-sub-id'));
                $("#li_Urgent_Job").show();
                $("#li_Urgent_Job span").text($(obj).parent().find(".ads-price").text());

            } else if(sub_type=="2"){

                $("#sponsored_job").val($(obj).attr('data-sub-id'));
                $("#li_Premium_Job").show();
                $("#li_Premium_Job span").text($(obj).parent().find(".ads-price").text());

            }

            $(this).find('.btn-block').text('Added').removeClass('btn-primary').addClass('btn-success');
            $(this).append('<input type="hidden" name="subscription[]" value="'+selected_id+'">');
            $(".payment_section").css("display","block");
//
        }
        else
        {
            $(this).find('.btn-block').text('Add').removeClass('btn-success').addClass('btn-primary');
            $(this).find('input').remove();
            var sub_type = $(obj).attr('data-sub-id');

            var price = parseFloat($(obj).parent().find(".ads-price").text().substring(1));
            var total_price = parseFloat($("#sub_total").text().substring(1));
            subTotal = parseFloat(total_price-price);

            $("#sub_total").text("$"+(subTotal.toFixed(2)));
            if(sub_type=="4"){

                $("#home_page_gallery").val(false);
                $("#li_Home_Page_Gallery").hide();


            } else if(sub_type=="3"){

                $("#urgent_job").val(false);
                $("#li_Urgent_Job").hide();


            } else if(sub_type=="2"){

                $("#sponsored_job").val(false);
                $("#li_Premium_Job").hide();


            }
        }

if(VoucherDetailsObject!=0.0) {


    var total_price = parseFloat($("#sub_total").text().substring(1));
    totalAmount = total_price;
    discountAmount = VoucherDetailsObject.value;
    if (VoucherDetailsObject.discount_type == 1) {//calculate discount percentage
        discountAmount = total_price * (VoucherDetailsObject.value / 100.00);
    }
    else { //calculate discount value
        discountAmount = VoucherDetailsObject.value;
    }
//            VoucherDetailsObject.
    var amount = recalculatePrice();
    $("#total_price").text("$" + amount.toFixed(2));
    $("#li_discount li span").text("$"+parseFloat(discountAmount).toFixed(2));

}
else {
    $("#total_price").text($("#sub_total").text());
}
        $(this).toggleClass("select");

        if($(".ads-items.select").length<=0){
            $(".payment_section ").hide();
        }

        changestyle($(this));
    });

    $(".dropdown-toggle").on("click",function(){

        $(this).parent().addClass("open");
    });



    $(document).ready(function() {



        $('#payment-form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },

            fields: {
                cardnumber: {
                    selector: '#cardnumber',
                    validators: {
                        notEmpty: {
                            message: 'The credit card number is required and can\'t be empty'
                        },
                        creditCard: {
                            message: 'The credit card number is invalid'
                        },
                    }
                },
                expMonth: {
                    selector: '[data-stripe="exp-month"]',
                    validators: {
                        notEmpty: {
                            message: 'The expiration month is required'
                        },
                        digits: {
                            message: 'The expiration month can contain digits only'
                        },
                        callback: {
                            message: 'Expired',
                            callback: function(value, validator) {
                                value = parseInt(value, 10);
                                var year         = validator.getFieldElements('expYear').val(),
                                    currentMonth = new Date().getMonth() + 1,
                                    currentYear  = new Date().getFullYear();
                                if (value < 0 || value > 12) {
                                    return false;
                                }
                                if (year == '') {
                                    return true;
                                }
                                year = parseInt(year, 10);
                                if (year > currentYear || (year == currentYear && value > currentMonth)) {
                                    validator.updateStatus('expYear', 'VALID');
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                    }
                },
                expYear: {
                    selector: '[data-stripe="exp-year"]',
                    validators: {
                        notEmpty: {
                            message: 'The expiration year is required'
                        },
                        digits: {
                            message: 'The expiration year can contain digits only'
                        },
                        callback: {
                            message: 'Expired',
                            callback: function(value, validator) {
                                value = parseInt(value, 10);
                                var month        = validator.getFieldElements('expMonth').val(),
                                    currentMonth = new Date().getMonth() + 1,
                                    currentYear  = new Date().getFullYear();
                                if (value < currentYear || value > currentYear + 100) {
                                    return false;
                                }
                                if (month == '') {
                                    return false;
                                }
                                month = parseInt(month, 10);
                                if (value > currentYear || (value == currentYear && month > currentMonth)) {
                                    validator.updateStatus('expMonth', 'VALID');
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                    }
                },
                cvv: {
                    selector: '#cvv',
                    validators: {
                        notEmpty: {
                            message: 'The cvv is required and can\'t be empty'
                        },
                        cvv: {
                            message: 'The value is not a valid CVV',
                            creditCardField: 'cardnumber'
                        }
                    }
                },
            }
        });





    });


</script>