<?php 
if(count($this->Applicants)>0)
{
	$i=1;
	$model = new Application_Model_Static(); 
	$CheckIfAssigned = $model->Super_Get('job_applications',"job_app_job_id='".$this->Applicants[0]['job_id']."' and job_app_status='1'",'fetch');
	foreach($this->Applicants as $Applicant)
	{
?>
    <div class="col-sm-12 overflow clear">
        <p class="clear"></p>
        <div class="col-sm-2 padding-0">
            <img class="img-responsive img-circle" src="<?php echo getUserImage($Applicant['user_image'],'thumb')?>" style="max-width:60px;" />
            <p class="text-left margin-0">
			<a href="<?php echo $this->url(array('user_id'=>$Applicant['user_id']),'user_profile')?>" target="_new">
				<?php echo $Applicant['user_first_name'];?>
                <small>(See Profile)</small>
            </a>
        </div>
        <div class="col-sm-10 padding-0 AppMessage">
            " <?php echo $Applicant['job_app_message'];?> " <br />
            <small>Counter Offer: <?php if($Applicant['job_app_offer']!=''){echo '$' .  $Applicant['job_app_offer'] ;?><? }else{ ?>N/A<? }?></small>
        	<?php 
			if(empty($CheckIfAssigned)){
			?>
            <button class="pull-right btn btn-xs green-seagreen yellow-stripe" 
            onclick="window.location='<?php echo $this->url(array('controller'=>'job','action'=>'jobapplicants','job_id'=>$Applicant['job_id'],'job_app_id'=>$Applicant['job_app_id']),'default',true)?>'">
            	Assign Job
            </button>
            <? }else{
				if($Applicant['job_app_user_id']==$CheckIfAssigned['job_app_user_id']){	
			?>
            <button class="pull-right btn btn-xs green-turquoise yellow-stripe" >
            	<i class="fa fa-check" style="color:#ffffff;"></i>&nbsp;Job Assigned
            </button>
            <? 
				}
			}?>
        </div>
    </div>
    <?php if($i<count($this->Applicants)){?>
    <hr class="clear" />
    <? }?>
<?
	$i++;
	}
}else{
	echo '<h4 style="padding:20px;">No Applicants</h4>';
}
?>