<div class="col-sm-12 PostJobDiv custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Job Details<br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    
    <p class="clear">&nbsp;</p>
    
    <div class="col-sm-12 overflow text-center"> 
        <div class="col-sm-7 overflow text-center padding-0"> 
            <div class="JobDetailDiv">
                <?php if($this->user->user_id==$this->job['job_user_id']){?>
                <a href="<?php echo $this->url(array('job_id'=>$this->job['job_id']),'post_job')?>">
                    <i class="fa fa-edit pull-right"></i>
                </a>
                <? }?>
                
                <div class="Title">
                    <?php echo $this->job['job_title'];?>
                </div>
                
                <div class="Category text-left">
                	<i class="fa fa-sitemap"></i> 
                    <label>Category :</label> <?php echo $this->job['category_title']?> 
                    <br />
                    <i class="fa fa-sitemap"></i> 
                    <label>Skills :</label> <?php echo $this->job['skills']?>
                    <br />
                    <i class="fa fa-money"></i> 
                    <label>Budget :</label> 
					<?php if($this->job['job_budget_type']=='0'){?> <!-- FIXED BUDGET -->
                    	<?php if($this->job['job_fix_type']=='0'){ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget']; }
						else{ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget'].' per hour'; }?>
					<? }else{ ?> <!-- BUDGET IN RANGE -->
                    
					<?php echo '<i class="fa fa-dollar"></i>'.$this->job['job_min_price'].' to <i class="fa fa-dollar"></i>'.$this->job['job_max_price']?>
                    <? }?>
                    <br />
                    <i class="fa fa-calendar"></i> <label>Completed before:</label> <?php echo date('M d, Y',strtotime($this->job['job_closing_date']));?>
                    <p></p>
                </div>
                
                <div class="Desc">
                    <?php echo $this->job['job_desc'];?>
                </div>
                
                <div class="PostedBy">
                	<label>Posted By : </label><br />
                    
            		<i><?php echo $this->job['user_first_name'];?></i> 
                    <small>
                    <a href="<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>">(See Profile)</a>
                    </small>
            	</div>
                
                <?php if($this->user->user_id!=$this->job['job_user_id']){?>
                    <div class="Apply" id="ApplyJob" style="cursor:pointer;">
                        Apply Now
                    </div>
                    <p></p>
                    <div class="clear" id="ApplyForm" style="display:none;">
                        <p class="ApplyText">
                        	Enter a message for the hirer. Tell them about yourself and what experience you have. This is also a good opportunity to ask any questions regarding the 
                            job.
                        </p>
                        <form id="apply_form" name="apply_form" class="profile_form text-left" method="post"> 
                            <textarea id="ApplyMessage" name="ApplyMessage" class="form-control required" rows="5" required="required"><?php if(!empty($this->getAppData)){ echo $this->getAppData['job_app_message']; }?></textarea>
                            <p></p>
                            <input type="submit" value="Apply" class="SiteButton work btn" style="padding: 7px 15px !important;" />
                        </form>
                    </div>
                <? }?>
            </div>
        </div>
        
        <div class="col-sm-5 overflow text-center"> 
        	<div id="mapCanvas" style="height:500px; width:100%;"></div>
        </div>
    </div>
    <p class="clear">&nbsp;</p>
</div>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script> var joblatitude = '<?php echo $this->job['job_latitude']?>'; var joblongitude = '<?php echo $this->job['job_longitude']?>';</script>