<div class="col-sm-12 PostJobDiv custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Job Details<br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    
    <p class="clear">&nbsp;</p>
    
    <div class="pull-right">
        <a href="<?=$_SERVER['HTTP_REFERER']?>"><div class="work BackBtn"><i class="fa fa-chevron-left"></i>&nbsp;BACK</div></a>
    </div>
    
    <div class="col-sm-12 text-center clear"> 
        <div class="col-sm-7 text-center padding-0"> 
            <div class="JobDetailDiv">
                <?php if($this->user->user_id==$this->job['job_user_id']){?>
                <a href="<?php echo $this->url(array('job_id'=>$this->job['job_id']),'post_job')?>">
                    <i class="fa fa-edit pull-right"></i>
                </a>
                <? }?>
                
                <div class="Title">
                    <?php echo $this->job['job_title'];?>
                    <?php 
					$model = new Application_Model_Static(); 
					$CheckIfAssigned = $model->Super_Get('job_applications',"job_app_job_id='".$this->job['job_id']."' and job_app_status='1'",'fetch');
					$vote=0;$edit=0;
					if(empty($CheckIfAssigned)){
						if($this->user->user_id!=$this->job['job_user_id']){
						}
					}else{
					?>
						<div class="Apply pull-right">
							<i class="fa fa-check"></i>&nbsp;Job Assigned
						</div>
					<? 		
					}
					?>
                </div>
                
                <div class="Category text-left">
                	<i class="fa fa-sitemap"></i> 
                    <label>Category :</label> <?php echo $this->job['category_title']?> 
                    <br />
                    <i class="fa fa-sitemap"></i> 
                    <label>Skills :</label> <?php echo $this->job['skills']?>
                    <br />
                    <i class="fa fa-briefcase"></i>
                    <label>Type Of Work :</label> <?php echo getWorkType($this->job['job_type_of_work'])?>
                    <br />
                    <i class="fa fa-money"></i>
                    <label>Budget :</label> 
					<?php if($this->job['job_budget_type']=='0'){?> <!-- FIXED BUDGET -->
                    	<?php if($this->job['job_fix_type']=='0'){ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget']; }
						else{ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget'].' per hour'; }?>
					<? }else{ ?> <!-- BUDGET IN RANGE -->
                    
					<?php echo '<i class="fa fa-dollar"></i>'.$this->job['job_min_price'].' to <i class="fa fa-dollar"></i>'.$this->job['job_max_price']?>
                    <? }?>
                    <br />
                    <i class="fa fa-calendar"></i> <label>Completed before:</label> <?php echo date('M d, Y',strtotime($this->job['job_closing_date']));?>
                    <br />
                    <i class="fa fa-star"></i> <label><?php if($this->job['job_type']==0){ echo 'Online Job';}else{echo 'Physical Job';}?></label>
                    <p></p>
                </div>
                
                <div class="Desc">
                    <?php echo $this->job['job_desc'];?>
                </div>
                
                <div class="PostedBy">
					<?php 
                        if($this->RateData['count']>0){
                            $rate=$this->RateData['rate']/$this->RateData['count']; 
                        }else{
                            $rate=0; 
                        }
                    ?>
                	<label>Posted By : </label><br />
                    
                     <a class="selector" href="<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>" data-toggle="popover" title="<?php echo $this->UserDetails['user_first_name'];?>" data-content='<div class="col-md-12 padding-0 overflow"><div class="col-md-4 paddingLeft-0"><img src="<?php echo getUserImage($this->UserDetails['user_image'],'thumb')?>" class="img-responsive img-circle" style="width:50px;height:50px;  margin-top: 12px;" /></div><div class="col-md-8 paddingLeft-0"><?php if($this->UserDetails['ud_location']!=''){?><div class="Location" style="font-size:11px; margin-top:5px;"><?php echo $this->UserDetails['ud_location'];?><p class="clear" style="margin-top:8px; margin-bottom:4px;"><?php echo rating_display(round($rate));?></p></div><? }else{ ?>
 
<div class="Location" style="font-size:11px; margin-top:5px;">Location: NA<p class="clear" style="margin-top:8px; margin-bottom:4px;"><?php echo rating_display(round($rate));?></p></div>

 <?php } ?></div></div><p class="clear"></p><div class="col-md-12 clear text-center"><a href="/user-profile/<?php echo $this->UserDetails['user_id'];?>"><button type="button" class="btn btn-sm work" style="padding: 2px 10px;border-radius: 5px !important;font-weight: normal;font-size: 14px;">See Profile</button></a></div><p class="clear">&nbsp;</p><div class="col-md-12 clear" style="overflow: hidden;padding: 0px;background-color: #f8f8f8;border: 1px dashed #ccc;"><div class="col-md-6 padding-0 text-center"><?php echo count($this->HireJobs);?><br/><label class="text-center">POSTS</label></div><div class="col-md-6 padding-0 text-center"><?php echo $this->RateData['count'];?><br/><label class="text-center">REVIEWS</label></div></div>' data-trigger="hover" data-delay="{ 'show': 100, 'hide': 5000 }">
            			<i><?php echo $this->job['user_first_name'];?></i> 
                    </a>

                    
                    
                    <?php /*
                    <a class="selector" href="<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>" data-toggle="popover" title="<?php echo $this->UserDetails['user_first_name'];?>" data-content='<div class="col-md-12 padding-0 overflow"><div class="col-md-3 paddingLeft-0"><img src="<?php echo getUserImage($this->UserDetails['user_image'],'thumb')?>" class="img-responsive img-circle" style="width:50px;height:50px;  margin-top: 12px;" /></div><div class="col-md-9 paddingLeft-0"><?php if($this->UserDetails['ud_location']!=''){?><div class="Location" style="font-size:11px; margin-top:5px;"><?php echo $this->UserDetails['ud_location'];?><p class="clear" style="margin-top:8px; margin-bottom:4px;"><?php echo rating_display(round($rate));?></p></div><? }?></div></div><p class="clear"></p><div class="col-md-12 clear text-center"><a href="/user-profile/<?php echo $this->UserDetails['user_id'];?>"><button type="button" class="btn btn-sm work" style="padding: 2px 10px;border-radius: 5px !important;font-weight: normal;font-size: 14px;">See Profile</button></a></div><p class="clear">&nbsp;</p><div class="col-md-12 clear" style="overflow: hidden;padding: 0px;background-color: #f8f8f8;border: 1px dashed #ccc;"><div class="col-md-6 padding-0 text-center"><?php echo count($this->HireJobs);?><br/><label class="text-center">POSTS</label></div><div class="col-md-6 padding-0 text-center"><?php echo $this->RateData['count'];?><br/><label class="text-center">REVIEWS</label></div></div>' data-trigger="hover" data-delay="{ 'show': 100, 'hide': 5000 }">
            			<i><?php echo $this->job['user_first_name'];?></i> 
                    </a>
                    */ ?>
                    
                    <?php /*?><small>
                    <a href="<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>">(See Profile)</a>
                    </small><?php */?>
            	</div>
                
                <?php 
				$model = new Application_Model_Static(); 
				$CheckIfAssigned = $model->Super_Get('job_applications',"job_app_job_id='".$this->job['job_id']."' and job_app_status='1'",'fetch');
				$vote=0;
				if(empty($CheckIfAssigned)){ 
					if($this->user->user_id!=$this->job['job_user_id']){
				?>
                <div class="Apply" id="ApplyJob" style="cursor:pointer;">
                    Apply Now
                </div>
                <p></p>
                <div class="clear" id="ApplyForm" style="display:none;">
                    <p class="ApplyText">
                        Enter a message for the hirer. Tell them about yourself and what experience you have. This is also a good opportunity to ask any questions regarding the 
                        job.
                    </p>
                    <form id="apply_form" name="apply_form" class="profile_form text-left" method="post"> 
                        <textarea id="ApplyMessage" name="ApplyMessage" class="form-control required" rows="5" required="required"><?php if(!empty($this->getAppData)){ echo $this->getAppData['job_app_message']; }?></textarea>
                        <p></p>
                        <label for="job_app_offer">Counter Offer</label>
                        <input type="text" name="job_app_offer" id="job_app_offer" class="form-control" <?php if(!empty($this->getAppData)){ ?> 
                        value="<?php echo $this->getAppData['job_app_offer']?>" <? }?>/>
                        <p></p>
                        <input type="submit" value="Apply" class="SiteButton work btn" style="padding: 7px 15px !important;" />
                    </form>
                </div>
				<? 
					}
				}else{
				?>
				<?php /*?><div class="Apply">
                    <i class="fa fa-check"></i>&nbsp;Job Assigned
                </div><?php */?>
                    
				<?php 
                    if($this->user->user_id==$CheckIfAssigned['job_app_user_id'] || $this->user->user_id==$this->job['job_user_id'])
                    {
                        /* Check the user logged in */
                        if($this->user->user_id==$CheckIfAssigned['job_app_user_id']){ 
                            $CurrentUser = 'service_provider'; 
                            $RateUser = 'Employer'; 
                            $rateFor = $this->job['job_user_id'];
                            $rateBy = $CheckIfAssigned['job_app_user_id'];
                            $where = "job_rating_job_id='".$this->job['job_id']."' and job_rate_by='".$rateBy."' and job_rate_for='".$rateFor."'";
                            $RateData = $model->Super_Get('job_rating',$where,'fetch');
                        } else { 
                            $CurrentUser = 'employer'; 
                            $RateUser = 'Service Provider';
                            $rateFor = $CheckIfAssigned['job_app_user_id'];
                            $rateBy = $this->job['job_user_id'];
                            $where = "job_rating_job_id='".$this->job['job_id']."' and job_rate_by='".$rateBy."' and job_rate_for='".$rateFor."'";
                            $RateData = $model->Super_Get('job_rating',$where,'fetch');
                        }
                        
						/* Get Service provider Rating-Starts */
						$whereSP = "job_rating_job_id='".$this->job['job_id']."' and job_rate_by='".$CheckIfAssigned['job_app_user_id']."' and 
						job_rate_for='".$this->job['job_user_id']."'";
						$rateSP = $model->Super_Get('job_rating',$whereSP,'fetch');
						/* Get Service provider Rating-Ends */
						
						/* Get Hirer Rating-Starts */
						$whereHirer = "job_rating_job_id='".$this->job['job_id']."' and job_rate_by='".$this->job['job_user_id']."' and 
						job_rate_for='".$CheckIfAssigned['job_app_user_id']."'";
						$rateHirer = $model->Super_Get('job_rating',$whereHirer,'fetch');
						/* Get Hirer Rating-Ends */
						
                        if(!empty($RateData)){
                            $edit=1;
                            //$this->form->review_star->setValue($RateData['job_rate']);
                            $RatingChk=$RateData['job_rate'];
                            $vote=$RateData['job_vote'];
                        }else{
                            $edit=0;
                            $vote=0;
                            $RatingChk=0;
                        }
                ?>
                <!-- Rating Code-Starts -->
                <?php if($this->user->user_id==$CheckIfAssigned['job_app_user_id'] || $this->user->user_id==$this->job['job_user_id']){?>
					<?php if($this->job['job_app_status']==1 && $this->job['job_app_complete_status']==1) { ?>
					<div class="JobRatingDiv overflow text-left">
						<?php 
						//SERVICE PROVIDER RATING
                        if(!empty($rateSP)){
						?>
                        <h4 class="text-left">
                            Rating by <?php if($rateSP['job_rate_by']==$this->user->user_id){?>You<? }else{?>Service Provider<? }?>
                        </h4>
                        
                        <div id="">
                            <?php echo rating_display($rateSP['job_rate']);?>
                        </div>
                        
                        <p class="clear"></p>
                        
                        <label>Voted : </label>
                        <?php if($rateSP['job_vote']=='1'){?>
                        	<i class="fa fa-thumbs-up"></i>
                        <? }else{?>
                        	<i class="fa fa-thumbs-down"></i>
                        <? }?>
                        
                        <?php if($rateSP['job_feedback']){?>
                            <p class="clear">Review : <i>"<?php echo $rateSP['job_feedback']?>"</i></p>
                        <? }?>
                        <hr />
                        <?
						}
						//HIRE RATING
                        if(!empty($rateHirer)){
						?>
                        <h4 class="text-left">
                            Rating by <?php if($rateHirer['job_rate_by']==$this->user->user_id){?>You<? }else{?>Hirer<? }?>
                        </h4>
                        
                        <div id="">
                            <?php echo rating_display($rateHirer['job_rate']);?>
                        </div>
                        
                        <p class="clear"></p>
                        
                        <label>Voted : </label>
                        <?php if($rateHirer['job_vote']=='1'){?>
                        	<i class="fa fa-thumbs-up"></i>
                        <? }else{?>
                        	<i class="fa fa-thumbs-down"></i>
                        <? }?>
                        
                        <?php if($rateHirer['job_feedback']){?>
                            <p class="clear">Review : <i>"<?php echo $rateHirer['job_feedback']?>"</i></p>
                        <? }?>
                        <hr />
                        <?
						}
						
						if($edit==1){
                        ?>
                        <?php /*?><h4 class="text-left">
                            Rating
                        </h4>
                        <div id="rating_div">
                            <?php echo rating_display($RatingChk);?>
                        </div>
                        <p class="clear"></p>
                        <input type="hidden" name="job_rating_job_id" value="<?php echo $this->job['job_id'];?>" />
                        <input type="hidden" name="job_rate_by" value="<?php echo $rateBy;?>" />
                        <input type="hidden" name="job_rate_for"  value="<?php echo $rateFor;?>" />
                        <input type="hidden" name="job_vote" id="job_vote"  value="<?php echo $vote;?>" />
                        <label>Voted : </label>
                        <i class="fa fa-thumbs-o-up"></i><i class="fa fa-thumbs-o-down"></i>
                        <?php if($RateData['job_feedback']){?>
                            <p class="clear">Review : <i>"<?php echo $RateData['job_feedback']?>"</i></p>
                        <? }?><?php */?>
                    	<? }else{?>
                        <h4 class="text-left">
                            Rate <?php echo $RateUser;?>
                            <?php /*?><?php if($this->user->user_id==$this->job['job_user_id']){ ?>
                            <label class="pull-right"><u><i class="fa fa-edit" style="color:#07AE4D"></i>Write Testimonial</u></label>
                            <? } ?><?php */?>
                        </h4>
                        
                        <form class="profile_form" method="post" enctype="multipart/form-data" action="<?php echo $this->url(array('controller'=>'job','action'=>'jobrating','job_id'=>$this->job['job_id'],'edit'=>$edit),'default',true)?>" onsubmit='return ratingForm();'>
                            <?php //echo $this->form->review_star;?>
                            
                            <div id="">
                            <label for="review_overall_rating" class="pull-left">Choose Rating&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input name="review_star" id="review_star1" type="radio" class="star required" value="1"  <? if($RatingChk=='1') { ?> 
                            checked="checked" <? } ?> />
                            <input name="review_star" id="review_star2" type="radio" class="star required" value="2"  <? if($RatingChk=='2') { ?> 
                            checked="checked" <? } ?> />
                            <input name="review_star" id="review_star3" type="radio" class="star required" value="3" <? if($RatingChk=='3') { ?> 
                            checked="checked" <? } ?> />
                            <input name="review_star" id="review_star4" type="radio" class="star required" value="4" <? if($RatingChk=='4') { ?> 
                            checked="checked" <? } ?>  />
                            <input name="review_star" id="review_star5" type="radio" class="star required" value="5"   <? if($RatingChk=='5') { ?> 
                            checked="checked" <? } ?> />
                            
                            </div>
                            <p class="clear"></p>
                            <input type="hidden" name="job_rating_job_id" value="<?php echo $this->job['job_id'];?>" />
                            <input type="hidden" name="job_rate_by" value="<?php echo $rateBy;?>" />
                            <input type="hidden" name="job_rate_for"  value="<?php echo $rateFor;?>" />
                            <input type="hidden" name="job_vote" id="job_vote"  value="<?php echo $vote;?>" />
                            <label>Vote : </label>
                            <i class="fa fa-thumbs-o-up VoteTU"></i>&nbsp;&nbsp;OR&nbsp;&nbsp;<i class="fa fa-thumbs-o-down VoteTD"></i>
                            <p class="clear"></p>
                            <label for="job_feedback">Add Comment</label>
                            <textarea id="job_feedback" name="job_feedback" class="form-control"></textarea>
                            <br />
                            <button class="btn SiteButton hire" type="submit" id="btn" style="padding:5px 15px 5px 15px;">Rate</button>
                        </form>
                    <? }?>
                	</div>
                    <?php } else if($this->user->user_id==$this->job['job_user_id']){ ?>
                        <a href="<?php echo $this->baseUrl().'/job/completejob/job_id/'.$this->job['job_id'].'/jobapp_id/'.$this->job['job_app_id']?>">
                            <div class="pull-right">
                            	<div class="work BackBtn">Mark as Completed</div>
                            </div>
                        </a>
                        <p>&nbsp;</p>
                    <?php } ?>
                <? }?>
                <!-- Rating Code-Ends -->
				<?php 
                if($this->user->user_id==$this->job['job_user_id'])
				{ 
                    if(!empty($this->TestiData)){
                        $testedit=1;
                    }else{
                        $testedit=0;
                    }
                    if($this->job['job_app_status']==1 && $this->job['job_app_complete_status']==1) 
					{ 
                ?>
                <div class="JobRatingDiv TestimonialForm text-left clear">
                	<?php 
					if(!empty($this->TestiData)){ 
						echo '<label for="testimonial" style="font-weight:600;">Testimonial</label><br>'.$this->TestiData['testimonial_text']; 
					}
					else{
					?>
                    <form class="testi_form" method="post" id="testi_form" name="testi_form" 
                    action="<?php echo $this->url(array('controller'=>'job','action'=>'savetestimonial','job_id'=>$this->job['job_id'],'testedit'=>$testedit),'default',true)?>">
                        <div class="form-group">
                            <label for="testimonial" style="font-weight:600;">Testimonial</label>
                            <textarea class="form-control required" id="testimonial" name="testimonial">
                                <?php if(!empty($this->TestiData)){ echo $this->TestiData['testimonial_text']; }?>
                            </textarea>
                        </div>
                        <input type="hidden" name="testimonial_for" value="<?php echo $CheckIfAssigned['job_app_user_id']?>" />
                        <p class="clear"></p>
                        <button type="submit" class="btn hire SiteButton" id="btn1" style="padding:5px 15px 5px 15px;">Submit</button>
                    </form>
                    <? }?>
				</div>
                <? 
					}}}}
				?>
            </div>
        </div>
        
        <div class="col-sm-5 overflow text-center"> 
        	<div id="mapCanvas" style="height:500px; width:100%;"></div>
        </div>
    </div>
    <p class="clear">&nbsp;</p>
</div>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script> 
var joblatitude = '<?php echo $this->job['job_latitude']?>'; var joblongitude = '<?php echo $this->job['job_longitude']?>'; var vote='<?php echo $vote;?>';
var edit = '<?php echo $edit?>';
$(document).ready(function(e) {
    $('.selector').popover({
        html: true,
        trigger: 'manual',
        container: $(this).attr('id'),
        placement: 'right',
        content: function () {
            $return = '<div class="hover-hovercard"></div>';
        }
    }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(this).siblings(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide")
            }
        }, 100);
    });

});

function RequestQuote()
{
	window.location='<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>';
}
</script>
