<? $InfoWindow=''; ?>
<div class="container JobHireListsDiv">
    <!-- Browse New Jobs -->
    <h1 class="SiteHeading pull-left">
        <i class="fa fa-gears"></i>&nbsp;Choose a job<br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    
    <button type="button" class="pull-right backBtn btn" onclick="window.location='<?php echo $this->url(array('user_id'=>$this->user_id),'user_profile')?>'" >
    	<i class="fa fa-angle-double-left"></i> &nbsp;Back
    </button>
    
    <p class="clear"></p>
    
    <p class="pull-right ToggleView" style="margin-bottom:15px;">
        <button type="button" class="btn btn-sm hire" id="HireMapView">
        	<i class="fa fa-map-marker"></i>&nbsp;Map View
        </button>
        
        <button type="button" class="btn btn-sm work" style="margin-right:0px;" id="HireListView">
       		<i class="fa fa-list"></i>&nbsp;List View
        </button>
    </p>
    <?php 
	$InfoWindow='';
	if($this->paginator->getTotalItemCount() > 0) 
	{ 	
		$jobIds='';
		foreach($this->paginator as $job)
		{
			$jobIds = $job['job_id'].','.$jobIds;
		}
		$jobIds=chop($jobIds,",");

		foreach($this->paginator as $job)
		{
			$desc = preg_replace("/\r?\n/", "\\n", addslashes($job['job_desc']));
			$InfoWindow.="['".$job['job_title']."','".$job['job_budget']."','".$job['job_latitude']."','".$job['job_longitude']."','".str_replace("'"," ",strip_tags($desc))."','".$job['job_id']."','".$job['job_closing_date']."','".$jobIds."','".$job['job_location']."',],";
		}
	}
	?>
    <div class="col-sm-12 overflow text-center padding-0"> 
        <?php 
        if($this->paginator->getTotalItemCount() > 0 && $this->type!='map') 
        { 
            foreach($this->paginator as $job)
            {
        ?>
        <div class="col-md-12 padding-0">
            <div class="JobHireListDiv">
                <div class="Title">
                    <a href="<?php echo $this->url(array('job_id'=>$job['job_id']),'job_details')?>">
                        <?php echo $job['job_title'];?>
                    </a>
                    <br />
                    <small>Posted on : <?php echo date('M d,Y',strtotime($job['job_added_date']))?></small>
                </div>
                
                <div class="Desc">
                    <?php echo substr(strip_tags($job['job_desc']),0,250);?>....
                </div>
                
                <div class="clear text-right">
                    <button class="hire btn" onclick="chooseHire('<?php echo $this->user_id?>','<?php echo $job['job_id'];?>');">Choose</button>
                </div>
            </div>
        </div>
        <?
            }
        }
		if($this->type=='map')
		{
        ?>
        <div id="MapCanvas" style="width:100%; height:500px;"></div>
        <?php 
		}
		?>
    </div>
    
    <p class="clear">&nbsp;</p>
    
    <div class="col-sm-12 text-center clear"> 
        <?php echo $this->paginationControl($this->paginator,'Sliding','pagination-control.phtml');?> 
    </div>
</div>
<style>
.infobox-wrapper {
    display:none;
}

#infobox {
    margin-top: 8px;
    background:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);
	background-color:rgba(255,255,255,0.9);
}
/*.gm-style img{
	max-width:100%;
}*/
</style>
<script>var userId = '<?php echo $this->user_id?>';</script>
<script> 
var InfoWindow = [<?=$InfoWindow?>]; 
var type = '<?php echo $this->type;?>';
var userId = '<?php echo $this->user_id;?>';
</script>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/richmarker.js"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/markerclusterer.js"></script>
<script type="text/javascript" src="<?php echo SITE_HTTP_URL?>/public/front_js/infobox.js"></script>
<script> 
var gmarkers = [];
</script>
