<style>
    @media (max-width: 767px) {
        .active > div { display:block !important; }
    }
</style>
<div class="container JobListsDiv">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="Jobtabs">
            <?php /*?><li role="presentation" class="active">
                <a href="#browse" aria-controls="browse" role="tab" data-toggle="tab">Browse Jobs</a>
            </li><?php */?>
            <li role="presentation" class="active">
                <a href="#applied" aria-controls="applied" role="tab" data-toggle="tab">Jobs Applied To</a>
            </li>
            <li role="presentation">
                <a href="#myjobs" aria-controls="myjobs" role="tab" data-toggle="tab">My Jobs</a>
            </li>
            <li role="presentation">
                <a href="#mysavedjobs" aria-controls="mysavedjobs" role="tab" data-toggle="tab">My Saved Jobs</a>
            </li>
            
            <li class="pull-right">
            	<p class="pull-right ToggleView">
                    <button type="button" class="btn btn-sm hire" id="JobListMap">
                    <i class="fa fa-map-marker"></i>&nbsp;Map View
                    </button>
                    <button type="button" class="btn btn-sm work" id="JobListList">
                    <i class="fa fa-list"></i>&nbsp;List View
                    </button>
                </p>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content PostJobDiv custom-form-wrapper">
            <!-- Browse New Jobs -->
            <?php $model = new Application_Model_Static(); ?>
            <?php /*?><div role="tabpanel" class="tab-pane fade in active" id="browse">
                <h1 class="SiteHeading">
                    <i class="fa fa-gears"></i>&nbsp;Job Listing<br />
                    <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                </h1>
                
                <p class="clear">&nbsp;</p>

                <div class="col-sm-12 overflow text-center"> 
                    <?php
					$
					
					$InfoWindow1='';
					if($this->paginator->getTotalItemCount() > 0) 
                    { 
						$jobIds='';
						foreach($this->paginator as $job)
						{
							$jobIds = $job['job_id'].','.$jobIds;
						}
						$jobIds=chop($jobIds,",");
						foreach($this->paginator as $job)
						{
							$desc = preg_replace("/\r?\n/", "\\n", addslashes($job['job_desc']));
							$InfoWindow1.="['".$job['job_title']."','".$job['job_budget']."','".$job['job_latitude']."','".$job['job_longitude']."','".str_replace("'"," ",strip_tags($desc))."','".$job['job_id']."','".$job['job_closing_date']."','".$jobIds."','".$job['job_location']."',],";
						}
					}
								
                    if($this->paginator->getTotalItemCount() > 0) 
                    { 
						if($this->type=='list')
						{ 
                        foreach($this->paginator as $job)
                        {
							$CheckIfAssigned = $model->Super_Get('job_applications',"job_app_job_id='".$job['job_id']."' and job_app_status='1'",'fetch');
                    ?>
                    <div class="col-md-4">
                        <div class="JobListDiv hvr-sweep-to-bottom">
                            <div onclick="window.location='<?php echo $this->url(array('job_id'=>$job['job_id']),'job_details')?>'">
								<?php if($this->user->user_id==$job['job_user_id']){?>
                                    <a href="<?php echo $this->url(array('job_id'=>$job['job_id']),'post_job')?>">
                                    <i class="fa fa-edit pull-right"></i>
                                    </a>
                                <? }?>
                                
                                <div class="Title">
                                    <?php echo $job['job_title'];?>
                                </div>
                                
                                <div class="Desc">
                                    <?php echo substr(strip_tags($job['job_desc']),0,250);?>....
                                </div>
                            </div>
                            
                            <div class="PostedBy">
                                <label>Posted By</label><br />
                                <a href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>">
                                	<?php echo $job['user_first_name'];?>
                                    <small>(See Profile)</small>
                                </a>
                            </div>
                            
                            <?php 
							if(empty($CheckIfAssigned)){
								if($this->user->user_id!=$job['job_user_id']){
							?>
                                <div class="Apply">
                                    <a href="<?php echo $this->url(array('job_id'=>$job['job_id']),'job_details')?>">
                                        Apply Now
                                    </a>
                                </div>
                            <? 
								}
							}else{
							?>
                            	<div class="Apply">
                                	<i class="fa fa-check"></i>&nbsp;Job Assigned
                                </div>
                            <?
							}
							?>
                        </div>
                    </div>
                    <?
                        }
						}else{
					?>
                    	<div id="MapCanvas" style="width:100%; height:500px;"></div>
                    <?
						}
                    }else{
						echo '<h3 class="text-left">No Jobs Found</h3>';
					}
                    ?>
                </div>
                
                <p class="clear">&nbsp;</p>
                
                <div class="col-sm-12 text-center clear"> 
                    <?php echo $this->paginationControl($this->paginator,'Sliding','pagination-control.phtml');?> 
                </div>
            </div><?php */?>
            
            <!-- Jobs Applied -->
            <div role="tabpanel" class="tab-pane fade in active" id="applied">
            	<h1 class="SiteHeading">
                    <i class="fa fa-gears"></i>&nbsp;Jobs Applied To<br />
                    <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                </h1>
                
                <p class="clear">&nbsp;</p>

                <div class="col-sm-12 text-center"> 
                    <?php 
					$InfoWindow2='';
					if($this->paginator1->getTotalItemCount() > 0) 
                    { 
						$jobIds='';
						foreach($this->paginator1 as $job)
						{
							$jobIds = $job['job_id'].','.$jobIds;
						}
						$jobIds=chop($jobIds,",");
						foreach($this->paginator1 as $job)
						{
							$desc = preg_replace("/\r?\n/", "\\n", addslashes($job['job_desc']));
							$InfoWindow2.="['".$job['job_title']."','".$job['job_budget']."','".$job['job_latitude']."','".$job['job_longitude']."','".str_replace("'"," ",strip_tags($desc))."','".$job['job_id']."','".$job['job_closing_date']."','".$jobIds."','".$job['job_location']."',],";
						}
					}
					
                    if($this->paginator1->getTotalItemCount() > 0) 
                    { 
						if($this->type=='list')
						{ 
                        foreach($this->paginator1 as $job)
                        {
							$CheckIfAssigned = $model->Super_Get('job_applications',"job_app_job_id='".$job['job_id']."' and job_app_status='1'",'fetch');
							
							/* Getting user details-Starts */
							$joinArr=array(
							'0' => array('0'=>'user_details','1'=>'users.user_id = user_details.ud_user_id','2'=>'left',
							'3'=>array('ud_user_id','ud_contact_no','ud_contact_via','ud_location','ud_intrested_in','ud_experience','ud_worker_company','ud_worker_about',
							'ud_looking_for',
							'ud_exp_required','ud_hirer_company','ud_hirer_about','ud_pitch')),
							);
							$UserDetails = $model->Super_Get('users',"user_id='".$job['user_id']."'","fetch",$extra=array(),$joinArr);
							/* Getting user details-Ends */
							
							/* Getting all the jobs user has posted(LOOKING For job) - Starts */
							$HireJobs = $model->Super_Get('job',"job_user_id='".$job['user_id']."'","fecthAll");
							/* Getting all the jobs user has posted(LOOKING For job) - Ends */
							
							/* Getting user rating and votes - Starts */
							$extra=array('fields'=>array('rate'=>'SUM(job_rate)','count'=>'COUNT(job_rating_id)'));
							$RateData = $model->Super_Get('job_rating',"job_rate_for='".$UserDetails['user_id']."'",'fetch',$extra);
							/* Getting user rating and votes - Ends */
                    ?>
                    <?php 
					if($RateData['count']>0){
						$rate=$RateData['rate']/$RateData['count']; 
					}else{
						$rate=0; 
					}
					?>
                    <div class="col-md-4 paddingLeft-0">
                        <div class="JobListDiv hvr-sweep-to-bottom">
                           	<div>
								<?php if($CheckIfAssigned['job_app_status']==0) { ?>
                                    <a href="<?php echo $this->url(array('job_id'=>$job['job_id']),'job_details').'#editapplication'?>">
                                    <div class="pull-right" title="Edit Application"><i class="fa fa-edit"></i></div></a>
                                <?php } ?> 
								<?php 
                                if(!empty($CheckIfAssigned)){
                                    if($CheckIfAssigned['job_app_user_id']==$this->user->user_id){
                                        echo '<label class="label bg-grey-gallery pull-right"><i class="fa fa-info-circle" style="color:#ffffff;"></i>&nbsp;
                                        Job assigned to you</label>';
                                    }else{
                                        echo '<label class="label bg-grey-gallery pull-right"><i class="fa fa-info-circle" style="color:#ffffff;"></i>&nbsp;
                                        Job assigned to other</label>';
                                    }
                                }
                                ?>
                                <div class="Title" onclick="window.location='<?php echo $this->url(array('job_id'=>$job['job_id']),'job_details')?>'">
                                    <?php echo $job['job_title'];?>
                                </div>
                                
                                <div class="Desc">
                                    <?php echo substr(strip_tags($job['job_desc']),0,250);?>....
                                </div>
                            </div>
                            
                            
                            <div class="ApplyMessage">
                                <label><i class="fa fa-envelope-o"></i>&nbsp;Message for hirer</label><br />
                                <span><?php echo $job['job_app_message'];?></span>
                            </div>
                            
                            <p>&nbsp;</p>
                            
                            <div class="PostedBy">
                            	<label>Budget: </label><br />$<?php echo $job['job_budget'] ?>
                                <br /><br />
                                
                                <?php
                                $date = date_create($job['job_closing_date']);
								?>
                                
								<!-- <label>Date: </label><br /><?php echo $job['job_closing_date'] ?> -->
								<label>Date: </label><br /><?php echo date_format($date, 'd/m/Y'); ?>
                                
                            </div>           
                            
                            <p>&nbsp;</p>
                            <div class="PostedBy">
                                <label>Posted By</label><br />
                                <a class="selector" href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>" data-toggle="popover" title="<?php echo $UserDetails['user_first_name'];?>" data-content='<div class="col-md-12 padding-0 overflow"><div class="col-md-3 paddingLeft-0"><img src="<?php echo getUserImage($UserDetails['user_image'],'thumb')?>" class="img-circle" style="width:50px; height:50px;" /></div><div class="col-md-9 paddingLeft-0"><?php if($UserDetails['ud_location']!=''){?><div class="Location" style="font-size:11px; margin-top:5px;"><?php echo $UserDetails['ud_location'];?><p class="clear" style="margin-top:8px; margin-bottom:4px;"><?php echo rating_display(round($rate));?></p></div><? }?></div></div><p class="clear"></p><div class="col-md-12 clear text-center"><a href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>"><button type="button" class="btn btn-sm work" style="padding: 2px 10px;border-radius: 5px !important;font-weight: normal;font-size: 14px;">See Profile</button></a></div><p class="clear">&nbsp;</p><div class="col-md-12 clear" style="overflow: hidden;padding: 0px;background-color: #f8f8f8;border: 1px dashed #ccc;"><div class="col-md-6 padding-0 text-center"><?php echo count($HireJobs);?><br/><label class="text-center">POSTS</label></div><div class="col-md-6 padding-0 text-center"><?php echo $RateData['count'];?><br/><label class="text-center">REVIEWS</label></div></div>' data-trigger="hover" data-delay="{ 'show': 100, 'hide': 5000 }">
            			<i><?php echo $job['user_first_name'];?></i> 
                    			</a>
                                <?php /*?><a href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>">
                                	<?php echo $job['user_first_name'];?>
                                    <small>(See Profile)</small>
                                </a><?php */?>
                            </div>
                        </div>
                    </div>
                    <?
                        }
						}else{
					?>
                    	<div id="MapCanvas1" style="width:100%; height:500px;"></div>
					<?
						}
                    }else{
						echo '<h3 class="text-left">No Jobs Found</h3>';
					}
                    ?>
                </div>
                
                <p class="clear">&nbsp;</p>
                 <p class="clear">&nbsp;</p>
                
                <div class="col-sm-12 text-center clear"> 
                    <?php echo $this->paginationControl($this->paginator1,'Sliding','pagination-control.phtml');?> 
                </div>
            </div>
            
            <!-- Jobs Applied -->
            <div role="tabpanel" class="tab-pane fade" id="myjobs">
            	<h1 class="SiteHeading">
                    <i class="fa fa-gears"></i>&nbsp;My Jobs<br />
                    <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                </h1>
                
                <p class="clear">&nbsp;</p>

                <div class="col-sm-12 text-center"> 
                    <?php 
					$InfoWindow3='';
					if($this->paginator2->getTotalItemCount() > 0) 
                    { 
						$jobIds='';
						foreach($this->paginator2 as $job)
						{
							$jobIds = $job['job_id'].','.$jobIds;
						}
						$jobIds=chop($jobIds,",");
						foreach($this->paginator2 as $job)
						{
							$desc = preg_replace("/\r?\n/", "\\n", addslashes($job['job_desc']));
							$InfoWindow3.="['".$job['job_title']."','".$job['job_budget']."','".$job['job_latitude']."','".$job['job_longitude']."','".str_replace("'"," ",strip_tags($desc))."','".$job['job_id']."','".$job['job_closing_date']."','".$jobIds."','".$job['job_location']."',],";
						}
					}

                    if($this->paginator2->getTotalItemCount() > 0) 
                    { 
						if($this->type=='list')
						{ 
                        foreach($this->paginator2 as $job)
                        {
							$CheckIfAssigned = $model->Super_Get('job_applications',"job_app_job_id='".$job['job_id']."' and job_app_status='1'",'fetch');
                    		/* Getting user details-Starts */
							$joinArr=array(
							'0' => array('0'=>'user_details','1'=>'users.user_id = user_details.ud_user_id','2'=>'left',
							'3'=>array('ud_user_id','ud_contact_no','ud_contact_via','ud_location','ud_intrested_in','ud_experience','ud_worker_company','ud_worker_about',
							'ud_looking_for',
							'ud_exp_required','ud_hirer_company','ud_hirer_about','ud_pitch')),
							);
							$UserDetails = $model->Super_Get('users',"user_id='".$job['user_id']."'","fetch",$extra=array(),$joinArr);
							/* Getting user details-Ends */
							
							/* Getting all the jobs user has posted(LOOKING For job) - Starts */
							$HireJobs = $model->Super_Get('job',"job_user_id='".$job['user_id']."'","fecthAll");
							/* Getting all the jobs user has posted(LOOKING For job) - Ends */
							
							/* Getting user rating and votes - Starts */
							$extra=array('fields'=>array('rate'=>'SUM(job_rate)','count'=>'COUNT(job_rating_id)'));
							$RateData = $model->Super_Get('job_rating',"job_rate_for='".$UserDetails['user_id']."'",'fetch',$extra);
							/* Getting user rating and votes - Ends */
                    ?>
                    <?php 
					if($RateData['count']>0){
						$rate=$RateData['rate']/$RateData['count']; 
					}else{
						$rate=0; 
					}
					?>
                    <div class="col-md-4">
                        <div class="JobListDiv hvr-sweep-to-bottom">
                           	<div>
                                <div class="Title" onclick="window.location='<?php echo $this->url(array('job_id'=>$job['job_id']),'job_details')?>'">
                                    <?php echo $job['job_title'];?>
                                    
                                    <?php if(!empty($CheckIfAssigned)){?>
                                    <label class="pull-right bg-grey-gallery label"><i class="fa fa-check" style="color:#ffffff;"></i>&nbsp;Job Assigned</label>
									<? }?>
                                </div>
                                
                                <div class="Desc">
                                    <?php echo substr(strip_tags($job['job_desc']),0,250);?>....
                                </div>
                            </div>
                            <p>&nbsp;</p>
                            
                            <div class="PostedBy">
                            	<label>Budget: </label><br />$<?php echo $job['job_budget'] ?>
                                <br /><br />
                                
                                <?php
                                $date = date_create($job['job_closing_date']);
								?>
                                
								<!-- <label>Date: </label><br /><?php echo $job['job_closing_date'] ?> -->
								<label>Date: </label><br /><?php echo date_format($date, 'd/m/Y'); ?>                                
                                
                            </div>                                       
                            
                            <p>&nbsp;</p>
                            
                            <div class="PostedBy">
                                <label>Posted By</label><br />
                                <a class="selector" href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>" data-toggle="popover" title="<?php echo $UserDetails['user_first_name'];?>" data-content='<div class="col-md-12 padding-0 overflow"><div class="col-md-3 paddingLeft-0"><img src="<?php echo getUserImage($UserDetails['user_image'],'thumb')?>" class="img-circle" style="width:50px; height:50px;" /></div><div class="col-md-9 paddingLeft-0"><?php if($UserDetails['ud_location']!=''){?><div class="Location" style="font-size:11px; margin-top:5px;"><?php echo $UserDetails['ud_location'];?><p class="clear" style="margin-top:8px; margin-bottom:4px;"><?php echo rating_display(round($rate));?></p></div><? }?></div></div><p class="clear"></p><div class="col-md-12 clear text-center"><a href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>"><button type="button" class="btn btn-sm work" style="padding: 2px 10px;border-radius: 5px !important;font-weight: normal;font-size: 14px;">See Profile</button></a></div><p class="clear">&nbsp;</p><div class="col-md-12 clear" style="overflow: hidden;padding: 0px;background-color: #f8f8f8;border: 1px dashed #ccc;"><div class="col-md-6 padding-0 text-center"><?php echo count($HireJobs);?><br/><label class="text-center">POSTS</label></div><div class="col-md-6 padding-0 text-center"><?php echo $RateData['count'];?><br/><label class="text-center">REVIEWS</label></div></div>' data-trigger="hover" data-delay="{ 'show': 100, 'hide': 5000 }">
            			<i><?php echo $job['user_first_name'];?></i> 
                    			</a>
                                <?php /*?><a href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>">
                                	<?php echo $job['user_first_name'];?>
                                    <small>(See Profile)</small>
                                </a><?php */?>
                                
                                <label class="pull-right label-warning Applicants" onclick="ViewApplicants('<?php echo $job['job_id']?>');">
                                    View Applicants
                                    <span class="badge badge-success"><?php echo $job['Applicants'];?></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <?
                        }
						}else{
					?>
                    	<div id="MapCanvas2" style="width:100%; height:500px;"></div>
                    <?
						}
                    }else{
						echo '<h3 class="text-left">No Jobs Found</h3>';
					}
                    ?>
                </div>
                
                <p class="clear">&nbsp;</p>
                 <p class="clear">&nbsp;</p>
                
                <div class="col-sm-12 text-center clear"> 
                    <?php echo $this->paginationControl($this->paginator2,'Sliding','pagination-control.phtml');?> 
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane fade" id="mysavedjobs">
            	<h1 class="SiteHeading">
                    <i class="fa fa-gears"></i>&nbsp;My Saved Jobs<br />
                    <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                </h1>
                
                <p class="clear">&nbsp;</p>

                <div class="col-sm-12 text-center"> 
                    <?php 
					$InfoWindow4='';
					if($this->paginator3->getTotalItemCount() > 0) 
                    { 
						$jobIds='';
						foreach($this->paginator3 as $job)
						{
							$jobIds = $job['job_id'].','.$jobIds;
						}
						$jobIds=chop($jobIds,",");
						foreach($this->paginator3 as $job)
						{
							$desc = preg_replace("/\r?\n/", "\\n", addslashes($job['job_desc']));
							$InfoWindow4.="['".$job['job_title']."','".$job['job_budget']."','".$job['job_latitude']."','".$job['job_longitude']."','".str_replace("'"," ",strip_tags($desc))."','".$job['job_id']."','".$job['job_closing_date']."','".$jobIds."','".$job['job_location']."',],";
						}
					}
					
                    if($this->paginator3->getTotalItemCount() > 0) 
                    { 
						if($this->type=='list')
						{ 
                        foreach($this->paginator3 as $job)
                        {
							$CheckIfAssigned = $model->Super_Get('job_applications',"job_app_job_id='".$job['job_id']."' and job_app_status='1'",'fetch');
                    		/* Getting user details-Starts */
							$joinArr=array(
							'0' => array('0'=>'user_details','1'=>'users.user_id = user_details.ud_user_id','2'=>'left',
							'3'=>array('ud_user_id','ud_contact_no','ud_contact_via','ud_location','ud_intrested_in','ud_experience','ud_worker_company','ud_worker_about',
							'ud_looking_for',
							'ud_exp_required','ud_hirer_company','ud_hirer_about','ud_pitch')),
							);
							$UserDetails = $model->Super_Get('users',"user_id='".$job['user_id']."'","fetch",$extra=array(),$joinArr);
							/* Getting user details-Ends */
							
							/* Getting all the jobs user has posted(LOOKING For job) - Starts */
							$HireJobs = $model->Super_Get('job',"job_user_id='".$job['user_id']."'","fecthAll");
							/* Getting all the jobs user has posted(LOOKING For job) - Ends */
							
							/* Getting user rating and votes - Starts */
							$extra=array('fields'=>array('rate'=>'SUM(job_rate)','count'=>'COUNT(job_rating_id)'));
							$RateData = $model->Super_Get('job_rating',"job_rate_for='".$UserDetails['user_id']."'",'fetch',$extra);
							/* Getting user rating and votes - Ends */
                    ?>
                    <?php 
					if($RateData['count']>0){
						$rate=$RateData['rate']/$RateData['count']; 
					}else{
						$rate=0; 
					}
					?>
                    <div class="col-md-4">
                        <div class="JobListDiv hvr-sweep-to-bottom">
                           	<div>
                                <div class="Title" onclick="window.location='<?php echo $this->url(array('job_id'=>$job['job_id']),'job_details')?>'">
                                    <?php echo $job['job_title'];?>
                                    
                                    <?php if(!empty($CheckIfAssigned)){?>
                                    <label class="pull-right bg-grey-gallery label"><i class="fa fa-check" style="color:#ffffff;"></i>&nbsp;Job Assigned</label>
									<? }?>
                                </div>
                                
                                <div class="Desc">
                                    <?php echo substr(strip_tags($job['job_desc']),0,250);?>....
                                </div>
                            </div>
                            <p>&nbsp;</p>
                            
                            <div class="PostedBy">
                            	<label>Budget: </label><br />$<?php echo $job['job_budget'] ?>
                                <br /><br />


                                <?php
                                $date = date_create($job['job_closing_date']);
								?>
                                
								<!-- <label>Date: </label><br /><?php echo $job['job_closing_date'] ?> -->
								<label>Date: </label><br /><?php echo date_format($date, 'd/m/Y'); ?>

                            </div>                       
                            
                            <p>&nbsp;</p>                
                            
                            <div class="PostedBy">
                                <label>Posted By</label><br />
                                <a class="selector" href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>" data-toggle="popover" title="<?php echo $UserDetails['user_first_name'];?>" data-content='<div class="col-md-12 padding-0 overflow"><div class="col-md-3 paddingLeft-0"><img src="<?php echo getUserImage($UserDetails['user_image'],'thumb')?>" class="img-circle" style="width:50px; height:50px;" /></div><div class="col-md-9 paddingLeft-0"><?php if($UserDetails['ud_location']!=''){?><div class="Location" style="font-size:11px; margin-top:5px;"><?php echo $UserDetails['ud_location'];?><p class="clear" style="margin-top:8px; margin-bottom:4px;"><?php echo rating_display(round($rate));?></p></div><? }?></div></div><p class="clear"></p><div class="col-md-12 clear text-center"><a href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>"><button type="button" class="btn btn-sm work" style="padding: 2px 10px;border-radius: 5px !important;font-weight: normal;font-size: 14px;">See Profile</button></a></div><p class="clear">&nbsp;</p><div class="col-md-12 clear" style="overflow: hidden;padding: 0px;background-color: #f8f8f8;border: 1px dashed #ccc;"><div class="col-md-6 padding-0 text-center"><?php echo count($HireJobs);?><br/><label class="text-center">POSTS</label></div><div class="col-md-6 padding-0 text-center"><?php echo $RateData['count'];?><br/><label class="text-center">REVIEWS</label></div></div>' data-trigger="hover" data-delay="{ 'show': 100, 'hide': 5000 }">
            			<i><?php echo $job['user_first_name'];?></i> 
                    			</a>
                                <?php /*?><a href="<?php echo $this->url(array('user_id'=>$job['user_id']),'user_profile')?>">
                                	<?php echo $job['user_first_name'];?>
                                    <small>(See Profile)</small>
                                </a><?php */?>
                            </div>
                        </div>
                    </div>
                    <?
                        }
						}else{
					?>
                    	<div id="MapCanvas3" style="width:100%; height:500px;"></div>
                    <?
						}
                    }else{
						echo '<h3 class="text-left">No Jobs Found</h3>';
					}
                    ?>
                </div>
                
                <p class="clear">&nbsp;</p>
                 <p class="clear">&nbsp;</p>
                
                <div class="col-sm-12 text-center clear"> 
                    <?php echo $this->paginationControl($this->paginator2,'Sliding','pagination-control.phtml');?> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ApplicantsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
                
            	<h4 class="modal-title">
                    <h1 class="SiteHeading">
                        <i class="fa fa-gears"></i>&nbsp;Job Applicants<br />
                        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                    </h1>
                </h4>
            </div>
            <div class="modal-body overflow"></div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
.infobox-wrapper {
    display:none;
}

#infobox {
    margin-top: 8px;
    background:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);
	background-color:rgba(255,255,255,0.9);
}
.popover-content {
  padding: 9px 5px;
}
</style>

<script> 
/*var InfoWindow1 = [<?=$InfoWindow1?>]; */
var InfoWindow2 = [<?=$InfoWindow2?>]; 
var InfoWindow3 = [<?=$InfoWindow3?>]; 
var InfoWindow4 = [<?=$InfoWindow4?>]; 
var type = '<?php echo $this->type;?>';
$(document).ready(function(e) {
    $('.selector').popover({
        html: true,
        trigger: 'manual',
        container: $(this).attr('id'),
        placement: 'right',
        content: function () {
            $return = '<div class="hover-hovercard"></div>';
        }
    }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(this).siblings(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide")
            }
        }, 100);
    });
});

function RequestQuote(user_id)
{
	window.location=baseUrl+'/user-profile/'+user_id;
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/richmarker.js"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/markerclusterer.js"></script>
<script type="text/javascript" src="<?php echo SITE_HTTP_URL?>/public/front_js/infobox.js"></script>
<script> var gmarkers = []; </script>