<div class="col-sm-12 PostJobDiv padding-0">
    <div class="col-sm-6 text-center padding-0"> 
        <div class="JobDetailDiv" onclick="window.location='<?php echo $this->url(array('job_id'=>$this->job['job_id']),'job_details')?>'">
            <div class="Title">
                <?php echo $this->job['job_title'];?>
            </div>
            
            <div class="Category text-left">
                <i class="fa fa-sitemap"></i> 
                <label>Category :</label> <?php echo $this->job['category_title']?> 
                <br />
                <i class="fa fa-sitemap"></i> 
                <label>Skills :</label> <?php echo $this->job['skills']?>
                <br />
                <i class="fa fa-briefcase"></i>
                <label>Type Of Work :</label> <?php echo getWorkType($this->job['job_type_of_work'])?>
                <br />
                <i class="fa fa-money"></i> 
                <label>Budget :</label> 
                <?php if($this->job['job_budget_type']=='0'){?> <!-- FIXED BUDGET -->
                    <?php if($this->job['job_fix_type']=='0'){ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget']; }
                    else{ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget'].' per hour'; }?>
                <? }else{ ?> <!-- BUDGET IN RANGE -->
                	<?php echo '<i class="fa fa-dollar"></i>'.$this->job['job_min_price'].' to <i class="fa fa-dollar"></i>'.$this->job['job_max_price']?>
                <? }?>
                <br />
                <i class="fa fa-calendar"></i> <label>Completed before:</label> <?php echo date('M d, Y',strtotime($this->job['job_closing_date']));?>
                <br />
                    <i class="fa fa-star"></i> <label><?php if($this->job['job_type']==0){ echo 'Online Job';}else{echo 'Physical Job';}?></label>
                <p></p>
            </div>
            
            <div class="Desc">
                <?php echo $this->job['job_desc'];?>
            </div>
            
            <div class="PostedBy">
            	<?php 
					if($this->RateData['count']>0){
						$rate=$this->RateData['rate']/$this->RateData['count']; 
					}else{
						$rate=0; 
					}
				?>
                <label>Posted By : </label><br />
                <a class="selector" href="<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>" data-toggle="popover" title="<?php echo $this->UserDetails['user_first_name'];?>" data-content='<div class="col-md-12 padding-0 overflow"><div class="col-md-4 paddingLeft-0"><img src="<?php echo getUserImage($this->UserDetails['user_image'],'thumb')?>" class="img-responsive img-circle" style="width:50px; height:50px; margin-top: 12px;" /></div><div class="col-md-8 paddingLeft-0"><?php if($this->UserDetails['ud_location']!=''){?><div class="Location" style="font-size:11px; margin-top:5px;"><?php echo $this->UserDetails['ud_location'];?><p class="clear" style="margin-top:8px; margin-bottom:4px;"><?php echo rating_display(round($rate));?></p></div><? }?></div></div><p class="clear"></p><div class="col-md-12 clear text-center"><a href="/user-profile/<?php echo $this->UserDetails['user_id'];?>"><button type="button" class="btn btn-sm work" style="padding: 2px 10px;border-radius: 5px !important;font-weight: normal;font-size: 14px;">See Profile</button></a></div><p class="clear">&nbsp;</p><div class="col-md-12 clear" style="overflow: hidden;padding: 0px;background-color: #f8f8f8;border: 1px dashed #ccc;"><div class="col-md-6 padding-0 text-center"><?php echo count($this->HireJobs);?><br/><label class="text-center">POSTS</label></div><div class="col-md-6 padding-0 text-center"><?php echo $this->RateData['count'];?><br/><label class="text-center">REVIEWS</label></div></div>' data-trigger="hover" data-delay="{ 'show': 100, 'hide': 5000 }">
            			<i><?php echo $this->job['user_first_name'];?></i> 
                    </a>
                <?php /*?><a href="<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>" target="_new">
                	<i><?php echo $this->job['user_first_name'];?></i> <small>
                    <small>(See Profile)</small>
                </a><?php */?>
                </small>
            </div>
        </div>
    </div>
        
    <div class="col-sm-6 overflow text-center"> 
        <div id="job-map-canvas" style="height:500px; width:100%;"></div>
    </div>
    <p class="clear">&nbsp;</p>
</div>
<script>
$(document).ready(function(e) {
    $('.selector').popover({
        html: true,
        trigger: 'manual',
        container: $(this).attr('id'),
        placement: 'right',
        content: function () {
            $return = '<div class="hover-hovercard"></div>';
        }
    }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(this).siblings(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide")
            }
        }, 100);
    });

});

function RequestQuote()
{
	window.location='<?php echo $this->url(array('user_id'=>$this->job['user_id']),'user_profile')?>';
}
</script>