<div class="row margin-0 UserProfileBanner">
	<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
        <div class="UserProfileDiv overflow">
            <div class="UserProfileSection1">
                <div class="col-md-12 col-sm-12">
                    <div class="UserProfileWork">
                        <p class="Title"><?php echo $this->title;?></p>
                        <?php 
						if($this->paginator->getTotalItemCount() > 0) 
                    	{ 
                        foreach($this->paginator as $Jobs)
                        {
                        ?>
                            <p class="JobTitle">
                                <a href="<?php echo $this->url(array('job_id'=>$Jobs['job_id']),'job_details')?>">
                                    <i class="fa fa-angle-double-right"></i>
                                    <?php echo $Jobs['job_title']?>
                                </a>
                            </p>
                            <?php if($this->type=='lookingtohire'){?>
                            <p class="Date">
                                Added on : <?php echo date('M d, Y',strtotime($Jobs['job_added_date']));?>
                            </p>
                            <? }else{?>
                            <p class="Date">
                                Applied on : <?php echo date('M d, Y',strtotime($Jobs['job_app_date']));?>
                            </p>
                            <? }?>
                        <?
                            }
                        }else{
                        ?>
                            <p>No Applied Jobs</p>
                        <?
                        }
                        ?>
                    </div>
                    
                    <div class="col-sm-12 text-center clear"> 
                   		<?php echo $this->paginationControl($this->paginator,'Sliding','pagination-control.phtml');?> 
                	</div>
                </div>
            </div>
        </div>
	</div>
</div>