<style>
.addSkillBtn .fa {
   color: #888888; 
}
#skillModal .form-control{
	line-height:1;
}
</style>
<? $InfoWindow=''; ?>

<div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TJM - Post a job - Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7759778785831151"
     data-ad-slot="4389043146"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p>
<p>
</div>
<div class="col-sm-12 SearchJobDiv custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Search Job <br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    
    <p class="clear">&nbsp;</p>
	<?php 
		/*$InfoWindow.="['".$jobData['job_title']."','".$jobData['job_budget']."','".$jobData['job_latitude']."','".$jobData['job_longitude']."','".str_replace("'"," ",strip_tags($jobData['job_desc']))."','".$jobData['job_id']."',],";*/
		$InfoWindow='';

		if(count($this->jobs)>0){
			$jobIds='';
			foreach($this->jobs as $job)
			{
				$jobIds = $job['job_id'].','.$jobIds;
			}
			$jobIds=chop($jobIds,",");
			foreach($this->jobs as $job)
			{
                $desc = preg_replace("/\r?\n/", "\\n", addslashes($job['job_desc']));
				$name = $job['user_first_name'];
				
				$image = trim(getUserImage($job['user_image'],'160'));
				
				//$image = getUserImage($job['user_image'],'thumb');
				
				// Flag by Wassim
				
				/*
					if ($job['user_image'] == ''){				
						$image = 'https://thejobmill.com//public/resources/profile_images/160/default.jpg';					
					}else{
						$image = trim(getUserImage($job['user_image'],'160'));								
					}
				*/
				
				
				//$InfoWindow.="['".$job['job_title']."','".$job['job_budget']."','".$job['job_latitude']."','".$job['job_longitude']."','".str_replace("'"," ",strip_tags($desc))."','".$job['job_id']."','".$job['job_closing_date']."','".$jobIds."','".$job['job_location']."','".$name."','".$image."',],";
				
				$InfoWindow.="['".str_replace("'"," ",$job['job_title'])."','".$job['job_budget']."','".$job['job_latitude']."','".$job['job_longitude']."','','".$job['job_id']."','".$job['job_closing_date']."','".$jobIds."','".$job['job_location']."','".$name."','".$image."','', '".$job['subscription_id']."', '".$job['status']."'],";
				
			}
		}
	?>
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" class="btn btn-primary btn-circle but_add">1</a>
                    <p>Job Options</p>
                </div>
                
                <div class="stepwizard-step">
                    <a href="#step-2" class="btn btn-circle" disabled="disabled">2</a>
                    <p>Job Preview</p>
                </div>
                
                <div class="stepwizard-step">
                    <a href="#step-3" class="btn btn-circle" disabled="disabled">3</a>
                    <p>Apply for Job</p>
                </div>
                
                <div class="stepwizard-step">
                    <a href="#step-4" class="btn btn-circle but_remove" disabled="disabled">4</a>
                    <p>Confirmation</p>
                </div>
            </div>
        </div>
        
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Job Options</h3>
                    <form name="job_search_form" id="job_search_form" class="job_search_form" method="get" action="">
                        <div class="col-md-4 paddingLeft-0">
                        	<?php echo $this->form->job_type;?>
                        	<?php echo $this->form->job_country;?>
                            <?php echo $this->form->job_location;?>
                            <?php echo $this->form->job_latitude;?>
                            <?php echo $this->form->job_longitude;?>
                            <label class="SelectPrice">Select Price</label>
                            <?php echo $this->form->job_fix_type;?>
                            <?php echo $this->form->job_min_price;?>
                            <?php echo $this->form->job_max_price;?>
                            <?php echo $this->form->job_category;?>
                            <?php echo $this->form->job_skills;?>
							<?php echo $this->form->job_type_of_work;  ?>
                            <?php /*?><div class="addSkillBtn text-right" style="cursor:pointer;"><i class="fa fa-plus"></i>&nbsp;Add Skill</div><?php */?>
                            <?php echo $this->form->job_closing_date;?>
                            <?php echo $this->form->job_area;?>
                            <input type="hidden" name="checkvar" id="checkvar" value="<?php echo $this->posted_data['checkvar']?>" />
                            <p>&nbsp;</p>
                            <?php echo $this->form->btnsubmit;
							
							?><br />
                        </div>
                        
                        <div class="col-md-8 paddingRight-0">
                            <p style="font-size:18px; margin-top:20px;" class="pull-left"> 
                                <?php 
				if(count($this->jobs))
					{
						if(count($this->jobs) >= 30)
							{
		                  			  echo 'Too many results. Please refine your search.'; 
							 }
							else  {
                                    echo count($this->jobs).' job(s) found'; 
                                } 
							 
					}else{ 
		                            echo 'No jobs found'; 
		                        }
                                ?> 
                            </p>
                            
                            <p class="pull-right ToggleView">
                            	<button type="button" class="btn btn-sm hire">
                                	<i class="fa fa-map-marker"></i>&nbsp;Map View
                                </button>
                                <button type="button" class="btn btn-sm work">
                                	<i class="fa fa-list"></i>&nbsp;List View
                                </button>
                            </p>
                            <p class="clear"></p>
                            <p class="pull-right ClearFilters">
                            	<a href="<?php echo $this->url(array(),'search_jobs')?>">
                                	<i class="fa fa-eraser"></i>Clear filters
                            	</a>
                            </p>
                            <?php 
							$sliderval='100';
							if($this->type=='list')
							{   if(count($this->jobs)>0){
									$i=0;
								foreach($this->jobs as $job){
									if($i < 30)
{
							?>
                            	<div class="col-md-12 padding-0">
                                    <div class="JobHireListDiv" <?php if($job['subscription_id'] == 2 && $job['status'] == 1){ ?> style="border: 5px solid #06ae4e;     position: relative;" <?php } ?>>
                                        <?php if($job['subscription_id'] == 2 && $job['status'] == 1){ ?>
                                            <label for="" style="    color: #06ae4e;
    position: absolute;
    bottom: 5%;
    right: 1%;
    border: 2px solid #06ae4e;
    padding: 3px;
    border-radius: 12%;
    font-weight: bolder;">Premium </label>
                                        <?php } ?>
                                        <div class="Title">
                                            <a onClick="showJob('<?php echo $job['job_id'] ?>');" style="cursor:pointer;">
                                                <?php echo $job['job_title'];?>
                                            </a>
                                            <br />
                                            <small>Posted on : <?php echo date('M d,Y',strtotime($job['job_added_date']))?></small>
                                        </div>

                                        <div class="Desc">
                                            <?php echo substr(strip_tags($job['job_desc']),0,150);?>....
                                        </div>


                                    </div>
                                </div>
                            <? 
								}$i++;}
								}else{ echo ''; }
							}else{ 
							if(empty($this->posted_data['sliderval'])){
								$sliderval='10';
							}else{
								$sliderval=$this->posted_data['sliderval'];
							}
							?>
                            	<div id="MapCanvas" style="width:100%; height:500px;"></div>
                                <p>&nbsp;</p>
                                <?php /*?><p>Select distance range (in miles)</p>
                                <input type="text" class="col-md-12 slider" data-slider-min="10" data-slider-max="500" data-slider-step="10" data-slider-orientation="horizontal"  
                                value="<?php echo $sliderval?>" 
                                data-slider-value="<?php echo $sliderval?>"  data-slider-selection="after" 
                                data-slider-tooltip="show" style="width:100%;" name="sliderval" id="sliderval" /><?php */?>
                            <? }?>
                        </div>
                        <p class="clear"></p>
                        <button class="btn btn-primary nextBtn btn-lg pull-right work hide" type="button" >Next <i class="fa fa-angle-double-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>
                    	Job Preview 
                        <div class="pull-right">
                            <label style="margin-top: 5px;font-size: 16px;display:none;float:left;" id="savejobmessage">
                            <i class="fa fa-check"></i>&nbsp;Job saved successfully!
                            </label>
                            <button class="btn btn-sm work pull-right" id="saveJobBtn" type="button" style="margin-bottom:20px;" onClick="SaveJob();">
                            	<i class="fa fa-star-o"></i>&nbsp;Save Job
                            </button>
                        </div>
					</h3>
                    <p class="clear"></p>
                    <div class="col-md-12 padding-0" id="JobContent">
                    	<?php /*?><?php if(count($this->jobs)==0){ ?>
                        No Jobs Found
                        <? }else{ ?>
                        <?php prn($this->jobs);?>
                        <? }?><?php */?>
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right work" type="button" >Continue <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
        
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Job Preview</h3>
                    <p class="clear"></p>
                    <div class="col-md-12 padding-0" id="ApplyJobContent">
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg  pull-right work" type="button" >Apply <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
        
        <div class="row setup-content" id="step-4">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Confirmation</h3>
					<span class="work BackBtn steps_redirect">
						<i class="fa fa-chevron-left"></i>
						 BACK
					</span>
                    <h2>Thank You!</h2>
					<p>
                    Your application has been submitted for consideration.
                    Keep an eye on your email.
                    In the meantime, view <a href="">previous jobs</a> by this user or <a href="<?php echo $this->url(array(),'search_jobs')?>">Browse All</a> 
					</p>
                    <?php /*?><button class="btn btn-primary nextBtn btn-lg pull-right work" type="button" >Next <i class="fa fa-angle-double-right"></i></button><?php */?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="MapProcess">
	<img src="<?php echo FRONT_IMAGES_PATH?>/marker.GIF?a=nk" />
</div>
<!-- ADD SKILL MODAL START -->
<div class="modal fade" id="skillModal">
    <div class="modal-dialog">
         <div class="modal-content Overflow">
              <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Your Own Skill</h4>
              </div>
              <div class="modal-body" id="ProfileSection">
			  	<form class="profile_form" method="post" action="<?php echo $this->url(array('controller'=>'job','action'=>'addskills'),'default',true)?>">
					<?=$this->skillForm?>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="skillBtn">SUBMIT</button>
              </div>
         </div>
     </div>
</div>
<!-- ADD SKILL MODAL END-->
<?php 
$job_type='';
if(isset($this->posted_data['job_type'])){
	$job_type=$this->posted_data['job_type'];
}
$job_area='';
if(isset($this->posted_data['job_area'])){
	$job_area=$this->posted_data['job_area'];
}
$job_country='';
if(isset($this->posted_data['job_country'])){
	$job_country=$this->posted_data['job_country'];
}
$job_location='';
if(isset($this->posted_data['job_location'])){
	$job_location=$this->posted_data['job_location'];
}
?>
<style>
.infobox-wrapper {
    display:none;
}
#infobox {
    margin-top: 8px;
    background:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);
	background-color:rgba(255,255,255,0.9);
}
/*.gm-style img{
	max-width:100%;
}*/
</style>
<script>
$(document).keypress(function(e) {
    var code = e.keyCode || e.which;
	if(code == 13) { //Enter keycode
		event.preventDefault();
	}
	//$('#job_skills').closest('div').after($('.addSkillBtn'));
});
</script>
<script> 
var InfoWindow = [<?=$InfoWindow?>]; 
var tab = '<?php echo $this->tab?>';
if(tab==2){
	$('#MapProcess').css('display','block');
}
var jobId= '<?php echo $this->jobId?>';
var job_area= '<?php echo $job_area?>';
var job_country = '<?php echo $job_country ?>';
var job_location = '<?php echo $job_location ?>';
var type = '<?php echo $this->type;?>';
var imgUrl = '<?php echo HTTP_PROFILE_IMAGES_PATH?>/';
</script>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/richmarker.js"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/markerclusterer.js"></script>
<script type="text/javascript" src="<?php echo SITE_HTTP_URL?>/public/front_js/infobox.js"></script>
<script> 
var gmarkers = [];
var CheckImage;
var varRadius = '<?php echo $sliderval;?>';
$('.SearchJobDiv label[for=job_type-]').click(function(e) {
	$('.SearchJobDiv label[for=job_type-]').addClass('checked');
    $('.SearchJobDiv label[for=job_type-0]').removeClass('checked');
	$('.SearchJobDiv label[for=job_type-1]').removeClass('checked');
});
$('.SearchJobDiv label[for=job_type-0]').click(function(e) {
    $('.SearchJobDiv label[for=job_type-0]').addClass('checked');
	$('.SearchJobDiv label[for=job_type-]').removeClass('checked');
	$('.SearchJobDiv label[for=job_type-1]').removeClass('checked');
});
$('.SearchJobDiv label[for=job_type-1]').click(function(e) {
    $('.SearchJobDiv label[for=job_type-1]').addClass('checked');
	$('.SearchJobDiv label[for=job_type-0]').removeClass('checked');
	$('.SearchJobDiv label[for=job_type-]').removeClass('checked');
});
var postType = '<?php echo $job_type?>';
if(postType==''){
	$('.SearchJobDiv label[for=job_type-]').trigger('click');
}else if(postType==0){
	$('.SearchJobDiv label[for=job_type-0]').trigger('click');
}else if(postType==1){
	$('.SearchJobDiv label[for=job_type-1]').trigger('click');
}

$(document).ready(function(e) {

	$('.SearchJobDiv label[for=job_type-0]').closest('div.form-group').css('overflow','hidden');
	/*var CurrentUrl = encodeURI(window.location);
	var CurrentUrlArray = CurrentUrl.split("?");
	alert($('#checkvar').val());
	if(!CurrentUrlArray[1]){
		if($('#checkvar').val()==0){
			alert('in');
			CheckLatLong();
		}
	}else{
		if($('#checkvar').val()==0){
			alert('in');
			CheckLatLong();
		}
	}*/
});
</script>


<script>

$("#job_category").change(function () {	

	var param1 = this.value;

	$("#job_skills").html("");
	
	//$("#job_skills").addClass("chosen-select");
	
	//array('action' => 'dropdown', 'controller' => 'message')
	
	jQuery.ajax({
		  url: '<?php echo $this->baseUrl(); ?>/job/retrieveskills',
		  //url: host+"/retrievestaticdata",
		  type: 'POST',
		  data: {param1: param1},
		  dataType: "json",
		  success: function(result){
				
				console.log(result);
				

				for (var i = 0; i <= result.length - 1; i++) {
					$("#job_skills").append("<option value='" + result[i][0] + "'>" + result[i][1] + "</option>");
				};
				
				 $("#job_skills").trigger("chosen:updated");
				
		  },
		  
		  
		  error: function(jqXHR, exception) {
            if (jqXHR.status === 0) {
					alert('Not connect.\n Verify Network.');
				} else if (jqXHR.status == 404) {
					alert('Requested page not found. [404]');
				} else if (jqXHR.status == 500) {
					alert('Internal Server Error [500].');
				} else if (exception === 'parsererror') {
					alert('Requested JSON parse failed.');
				} else if (exception === 'timeout') {
					alert('Time out error.');
				} else if (exception === 'abort') {
					alert('Ajax request aborted.');
				} else {
					alert('Uncaught Error.\n' + jqXHR.responseText);
				}
			}

	});
	
	
	
	
	
});
	
</script>
