<div class="ServiceProvidersWrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Workers<br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    <p class="pull-right ToggleView">
        <button type="button" class="btn btn-sm hire">
        	<i class="fa fa-map-marker"></i>&nbsp;Map View
        </button>
        <button type="button" class="btn btn-sm work">
       		<i class="fa fa-list"></i>&nbsp;List View
        </button>
    </p>
    <p>&nbsp;</p>
    <div class="col-sm-12 padding-0 overflow">
    	<div class="col-sm-3 padding-0">
        	<div class="ServiceProvidersFilter">
            	<h3 class="work">Search</h3>
                <p>&nbsp;</p>
                <div class="FilterForm">
                	<?php echo $this->form;?>
                </div>
            </div>
        </div>
        
        <div class="col-sm-9">
		<?php 
		if($this->paginator->getTotalItemCount() > 0) 
		{ 
			$InfoWindow='';
        foreach($this->paginator as $Users)
        {
			$name = $Users['user_first_name'];
			$image = trim(getUserImage($Users['user_image'],'160'));
			$InfoWindow.="['".$name."','".$Users['ud_latitude']."','".$Users['ud_longitude']."','".$Users['user_id']."','".$Users['ud_location']."','".$image."',],";
        	if($this->type!='map'){
		?>
            <div class="col-sm-3" style="min-height:290px;">
            
            	<!--
                <ul id="ServiceProviders" class="clr">
                    <li>
                        <div>
                            <img class="img-responsive bw" src="<?php echo getUserImage($Users['user_image'],'thumb')?>" 
                            onclick="window.location='<?php echo $this->url(array('user_id'=>$Users['user_id']),'user_profile')?>'" />
                        </div>
                    </li>    
                </ul>
                -->
                
                <div class="thumbnail-user-profile-large-service-providers">
	            	<a href="<?php echo $this->url(array('user_id'=>$Users['user_id']),'user_profile')?>"><img class="thumbnail-img-large" src="<?php echo getUserImage($Users['user_image'],'thumb')?>" /></a>
				</div>
                
                <div class="ServiceProviderDetails">
                    <div class="Name">
                        <a href="<?php echo $this->url(array('user_id'=>$Users['user_id']),'user_profile')?>">
                            <?php echo $Users['user_first_name'];?>
                        </a>
                    </div>
                    
                    <div class="Location">
                        <?php echo $Users['ud_location'];?>
                    </div>
                    
                    
                    <div class="rating-service-providers">
                    	<?php 
						if($this->RateData['count']>0){
						$rate=$this->RateData['rate']/$this->RateData['count']; 
							echo rating_display(round($rate));
						}else{
							echo rating_display(0);
						}
						?>
                    </div>
                    
                    
                    
                </div>
            </div>
		<?
        }
		}
		}else{
			echo 'No users found';
		}
        ?>
        <div id="MapCanvas" style="width:100%; height:500px;"></div>
        </div>
    </div>
    
    <div class="col-sm-12 text-center clear"> 
		<?php echo $this->paginationControl($this->paginator,'Sliding','pagination-control.phtml');?> 
    </div>
</div>
<style>
.infobox-wrapper {
    display:none;
}

#infobox {
    margin-top: 8px;
    background:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);
	background-color:rgba(255,255,255,0.9);
}
.gm-style img{
	max-width:100%;
}
</style>
<script> 
var InfoWindow = [<?=$InfoWindow?>];
var type = '<?php echo $this->type;?>'; 
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/richmarker.js"></script>
<script src="<?php echo SITE_HTTP_URL?>/public/front_js/markerclusterer.js"></script>
<script type="text/javascript" src="<?php echo SITE_HTTP_URL?>/public/front_js/infobox.js"></script>
<script> 
var gmarkers = [];
</script>

<script type="text/javascript">

window.onload = function(){

	//alert(window.location);
	var myURL = window.location;
	if(myURL.toString().indexOf("list") > - 1){
		document.getElementById('MapCanvas').style.display = 'none';
	}
	
}

</script>

