.form-signup {
	background-image: url(../img/getter6.jpg);
}
.form-signin {
	background: url('../img/getterdone.jpg');
}
.UserProfileBanner{
	background-image:url(../img/userbg1.jpg);background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; 
	background-size:cover;
}
.ServiceProvidersDiv{
	background-image:url(../img/userbg2.jpg);background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; 
	background-size:cover;
}