﻿
* {
padding:0;
margin:0;
list-style:none;
}

ul.rating{
background:url(../images/star.jpg) bottom;
height:21px;
width:115px;
overflow:hidden;
}

ul.rating li{
display:inline
}

.rating a {
display:block;
width:23px;
height:21px;
float:left;
text-indent:-9999px;
position:relative;
}

.rating a:hover {
background:url(../images/star.jpg) center;
width:115px;
margin-left:-92px;
position:static;
}

/*
.rating a:active {
background:url(images/star.jpg) center;
width:115px;
margin-left:-92px;
position:static;

}
*/
.ratingcategory{
	
	width:100px;
	/*border:1px fuchsia solid;*/
	float:left;
	height:25px;
	padding:4px;
	
	
}
