@charset "utf-8";
/* CSS Document */


/*CSSStart Form here Need to be added on site */
.carousel-control {
	color: #fff !important;
}
.glyphicon-chevron-left{
	left: 20% !important;
	top: 10% !important;
}
.glyphicon-chevron-right{

	left: 20% !important;
	top: 10% !important;
}
.ads-icon {
	color: #292929;
	display: block;
	font-size: 80px;
	text-align: center;
}

.ads-items.select{
	border-color: #07ae4d;
	opacity: 1;
}

.ads-items:hover{
	border-color: #07ae4d;
	opacity: 1;
}


.ads-items {
	background: #f8f8f8 none repeat scroll 0 0;
	border: 4px solid #fff;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: block;
	margin-bottom: 30px;
	opacity: 0.7;
	padding: 15px;
	transition: all 0.3s ease-in-out 0s;
}

.ads-header {
	display: block;
	margin-bottom: 15px;
	position: relative;
}
.ads-title > h3 {
	color: #444;
	font-family: open sans;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	margin: 0;
}

.ads-dsc p {
	color: #8b8b8b;
	font-family: open sans;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
}

.ads-price {
	color: #07ae4d;
	display: block;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 15px;
	text-align: center;
}

.ads-link {
	display: block;
	margin: 0;
}
#post-gallry {
	background: #f3f7f8 none repeat scroll 0 0;
	display: block;
	overflow: hidden;
	padding: 60px 0;
	font-family: Open Sans !important;
}

#carousel-gallry .carousel-control {
	background: lightgreen none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 1px;
	height: 35px;
	top: 45%;
	width: 35px;
}


.gallry-item {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #f3f3f3;
	cursor: pointer;
	display: block;
	margin: 10px 0;
	padding: 12px 15px;
	text-decoration: none !important;
	transition: all 0.2s ease-in-out 0s;
	position: relative;
	overflow: hidden;
}
.gallry-item:hover,.gallry-item:focus {
	border: 2px solid #e8e8e8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	text-decoration: none !important;
	outline: none;
}


.ga-title h3 {
	display: block;
	margin: 0;
}

.ga-title i.fa {
	font-size: 18px;
	left: 0;
	line-height: 18px;
	margin-right: 5px;
	position: absolute;
	top: 3px;
}


.ga-title {
	border-bottom: 1px solid #f3f7f8;
	color: #007f7f;
	display: block;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 15px;
	outline: medium none;
	padding-bottom: 15px;
	padding-left: 25px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-in-out 0s;
}

.ga-title h3{
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: #007F7F;
	display: block;
	text-decoration: none;
	outline:none;
	transition: all 0.3s ease-in-out 0s;
}

.ga-title h3 :hover , .ga-title h3 :focus ,.gallry-item:hover .ga-title h3,.gallry-item:focus{
	color: #06AE4E;
}


#carousel-gallry .carousel-control span {
	box-shadow: none;
	font-size: 18px;
	line-height: 28px;
	text-shadow: none;
}


.ga-cat, .ga-type, .ga-budget, .ga-date, .ga-stats, .ga-location {
	display: block;
	margin-bottom: 10px;
	color: #7c7c7c;
}

.lebel-title {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

.lebel-title strong {
	font-weight: 600;
	font-size: 14px;
	color: #a3a3a3;
}


.ga-location .lebel-title .fa-map-marker {
	margin-left: 3px;
	margin-right: 8px;
}

.ga-cat-items, .ga-type-items, .ga-budget-items, .ga-date-items ,.ga-loca-items{
	display: inline-block;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.ga-cat-items > li ,.ga-type-items li,.ga-budget-items li, .ga-loca-items li {
	display: inline-block;
}

.ga-cat-items li ,.ga-type-items li{
	background: #1281AE none repeat scroll 0 0;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-family: OPEN SANS;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	padding: 1px 5px;
	text-decoration: none;
	transition: all 0.3s ease-in-out 0s;
}



.ga-budget-items li span {
	color: #7c7c7c;
	font-family: Open Sans;
	/*font-weight: 600;*/
}




.lebel-title i.fa {
	margin-right: 7px;
}


.ga-ribbon{
	background: #007F7F;
	bottom: 24px;
	color: #fff;
	display: block;
	font-size: 12px;
	overflow: hidden;
	padding: 3px 25px;
	position: absolute;
	right: -32px;
	text-align: center;
	text-transform: capitalize;
	transform: rotate(-52deg);
}


.carousel-control{ width:  4%; }

.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev    { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}

@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev    { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}

@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -33.3333%; }
	.carousel-inner .next        { left:  33.3333%; }
	.carousel-inner .prev    { left: -33.3333%; }
}


.carousel-control.left {
	left: -25px;
}
.carousel-control.right {
	right: -8px;
}


.ads-title h3 i {
	color: #07ae4d;
}

.setup-content .work.ads-btn {
	margin: 0;
	text-align: center;
}

.setup-content .btn-success.work.ads-btn{
	background: #07ae4d none repeat scroll 0 0 !important;
	box-shadow: 0 4px #007f1e !important;
}

/* home gallery carousel ends here */

body{
	font-family: 'Open Sans', sans-serif;font-size:14px;color:#7c7c7c; -webkit-font-smoothing: antialiased !important;
}
a {
	text-decoration:none; outline:none !important; color:inherit !important;
}
a:focus {
	text-decoration:none;outline:none !important;
}
a:active,
a:hover {
	text-decoration:none;
}
.bdr{
	border:solid 1px #000000;
	box-sizing:border-box;
}
.alert{
	position: absolute;width: 84%;top: 85px; z-index:999;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	margin-top:0px;
}
.inline-block{display:inline-block;vertical-align:top;}
@media (max-width:767px){

	.hire-strip{
		display: none !important;
	}

	.ServiceProvidersWrapper .pull-right{
		float: left !important;
		width: 100%;
		padding-bottom: 10px;
	}

	.mobile-padding-left-right{
		padding-left:15px;
		padding-right:15px;
	}
	.text-center-xs{
		text-align:center;
	}
	.ForumContentDiv .AnswerDiv{
		width:100%;
	}

	.hvr-radial-out, .SignupLink .hvr-radial-out, .post-a-job .hvr-radial-out{
		display: inline-block !important;
		margin-top: 3px !important;
		margin-bottom: 3px !important;
	}
}
/*input::before{ 
content:"Read this -";background-color:yellow;color:red;font-weight:bold;
}*/
input[type=text],
input[type=password],
select,
textarea{
	font-family: 'Open Sans', sans-serif;
}
.main-container-outer{
	/*padding-top:50px !important;*/
}
.main-layout-container{
	min-height:460px;
}
.table{
	display:table;
}
.table-row{
	display:table-row;
}
.table-cell{
	display:table-cell;
}
.margin-0{
	margin:0px;
}
.padding-0{
	padding:0px;
}
.paddingRight-0{
	padding-right:0px;
}
.paddingLeft-0{
	padding-left:0px;
}
.container{
	max-width:1170px; width:100%;
}
.full-container{
	max-width:100%; width:100%; margin:0 auto;
}
.btn-default{
	border:none;
}
.btn-custom{
	border:none;text-transform:uppercase;color:#ffffff;font-weight:bold;font-family:Montserrat;font-size:20px;
}
.btn-dark{
	background:url(../img/bg_button_dark.png) repeat-x;
}
.btn-gray{
	background:url(../img/bg_button_gray.png) repeat-x;
}
.clear{
	clear:both !important;
}
.overflow{
	overflow:hidden !important;
}
.SiteHeading{
	font-weight:300; color:#07AE4D;line-height: 1.5;
}
.SiteHeading .Name{
	color:#1281AE; font-weight:400; font-style:italic;
}
.SiteHeading i{
	font-size:24px; color:#07AE4D;
}
.SiteHeading1 i{
	font-size:24px; color:#1281AE;
}
.SiteHeading1{
	font-weight:300; color:#1281AE;line-height: 1.5;
}
.SiteButton{
	width:auto !important; margin:0px !important; font-size:16px !important; padding: 10px 20px !important; text-align:center;
}
.fileinput .btn {
	padding: 5px;
}
.has-error .help-block{
	font-size:12px;
}
.form-group.has-error{
	position:relative;
}
.list-group-item{
	background-color: rgba(255,255,255,0.8);
}
.form-group label.required:after {
	color: red;content: " *";
}
.input-group label.required:after {
	color: #a94442;content: " *";
}
.input-group-sm > .form-control, .form-control {
	height: 40px ;border: 1px solid #cccccc !important; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important;
}
.popover .popover-title{
	border-radius: 5px 5px 0 0 !important;
}
/* Header Css-Starts */
.header-blue{
	background:#002142;
}
.header-blue .blue-header-nav{
	margin:0px;display:inline-block;list-style:none;
}
.header-blue .blue-header-nav li{
	display:inline-block;padding:4px 0;
}
.header-blue .blue-header-nav li a{
	font-family:'Montserrat';color:#fff;text-transform:uppercase;font-size:12px;line-height:12px;padding:0px 0 0 8px;
}
@media (max-width:767px){
	.header-blue{padding-right:12px;padding-top:4px;padding-bottom:4px;}
}
.header-main .table{
	width:100%;margin:0px;text-align:center;
}
.header-main .table .table-cell{
	width:16.3%;
}
.header-main .table .cell-logo{
	width:34.8%;background:#f3f3f3;
}
.header-main .table .table-cell{
	vertical-align:bottom;	text-align:center;
}
.header-main .table  .table-cell a.nav-link-desktop{
	font-family:'Montserrat';color:#828296;font-size:16px;line-height:50px;display:block;margin:20px 0;text-decoration:none;
}
.header-main .table  .table-cell a.nav-link-desktop:hover{
	color:#002142;text-decoration:underline;
}
.cell-border-left a{
	border-left:solid 1px #eeeeee;
}
.cell-border-right a{
	border-right:solid 1px #eeeeee;
}
.navbar-brand{
	float:none;display:block;padding:0px;text-align:center;
}
.navbar-toggle{
	float:none;width:100%;margin:0px;border-radius:0px;-moz-border-radius:0px;text-align:center;display:block;background:url(../img/bg_button_dark.png) #002142 repeat-x;
	color:#FFFFFF;font-family:'Montserrat';font-size:16px;border:0px;margin:0px;height:50px;
}
.navbar-toggle:hover,.navbar-toggle:active,.navbar-toggle:focus,{
	background:#002142 !important;
}
.Header li{
	font-size:14px;
}
.Header li a{
	padding:12px 10px;
}
.header-main .dropdown-menu > li input[type="checkbox"],
.header-main .dropdown-menu > li input[type="radio"]{
	margin-right:6px;vertical-align:middle;margin-top:0px;
}
.header-main .dropdown-menu > li{
	border:none !important;cursor:pointer;padding:8px 40px 8px 26px;color:white;font-size:14px;text-align:left;font-weight:normal;font-family:'Montserrat';
}
.header-main .dropdown-menu > li{
	padding:0px;
}
.header-main .dropdown-menu > li > a{
	display:block;padding:8px 12px;color:#FFFFFF;font-family:'Montserrat';border:none;
}
.header-main .dropdown-menu > li > a:hover ,
.header-main .dropdown-menu > li > a:focus{
	background-color:rgba(255,255,255,.6);color:#000;
}

.Header .dropdown-menu li {
	background-color: #ffffff;
	color: #7c7c7c !important;
}
.Header .dropdown-menu li a {
	padding:5px 10px;
	margin:0px !important;
}
.Header .dropdown{
	margin-left:50px;
}

.Header .dropdown-toggle {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 2px !important;
}
.Header.navbar-nav > .open > a, .Header.navbar-nav > .open > a:hover, .Header.navbar-nav > .open > a:focus{
	background-color:transparent !important;
}
.Header .dropdown-menu hr{
	margin:5px 10px !important;
}
/* Header CSS-Ends */

/* Footer CSS-Starts */
.footer{
	background:#2e2e2e;padding:12px 0;
}
.footer-link {
	text-align: center; margin: -3px 0 5px 0;
}
.footer-link > li {
	list-style: none;display: inline;padding: 0 10px;font-size: 15px;
}
.footer-link > li > a {
	color: #727272;font-size: 15px;
}
.footer-link > li > a:hover {
	color:#EEEEEE;
}
.copyright {
	text-align: center; color: #727272; margin: 0; font-size: 15px;
}
/* Footer CSS-Ends */

/* Static Pages CSS-Starts */
.static-content-heading {
	font-size: 29px; color: #067434; padding: 5px 0; line-height: 15px;
}
.contact-bg .static-content-heading{
	color:#1281AE;  font-size: 40px;
}
.contact-bg .get-started h2{
	color:#1281AE;
}
.contact-bg .contact-page-adddress p.glyphicon{
	color:#1281AE;
}
.contact-bg .contact-page-adddress{
	color:#1281AE;
}
.contact-bg .get-started .request h4 a{
	background-color:#1281AE;
}
.list-group{
	color:#545454;
}
.list-group h3{
	font-size:16px;text-align:center;margin:16px 0 0 0 ;/*background:#067434;*/padding:10px 0;color:#FFF;
}
.list-group.SP-sideBar h3{
	background-color: #1281AE; background-image: -webkit-gradient(linear, left top, left bottom, from(#1281AE), to(#1179A3));
	background-image: -webkit-linear-gradient(top, #1281AE, #1179A3);background-image: -moz-linear-gradient(top, #1281AE, #1179A3);
	background-image: -ms-linear-gradient(top, #1281AE, #1179A3);background-image: -o-linear-gradient(top, #1281AE, #1179A3);
	background-image: linear-gradient(to bottom, #1281AE, #1179A3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1281AE, endColorstr=#1179A3);
}
.list-group.E-sideBar h3{
	background-color: #067434; background-image: -webkit-gradient(linear, left top, left bottom, from(#067434), to(#055E2A));
	background-image: -webkit-linear-gradient(top, #067434, #055E2A);background-image: -moz-linear-gradient(top, #067434, #055E2A);
	background-image: -ms-linear-gradient(top, #067434, #055E2A);background-image: -o-linear-gradient(top, #067434, #055E2A);
	background-image: linear-gradient(to bottom, #067434, #055E2A);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#067434, endColorstr=#055E2A);
}
.list-group.E-sideBar .active{
	/*background:#07AE4D;*/border-color:#f3f3f3;color:#ffffff !important;
	background-color: #07AE4D; background-image: -webkit-gradient(linear, left top, left bottom, from(#07AE4D), to(#069643));
	background-image: -webkit-linear-gradient(top, #07AE4D, #069643);background-image: -moz-linear-gradient(top, #07AE4D, #069643);
	background-image: -ms-linear-gradient(top, #07AE4D, #069643);background-image: -o-linear-gradient(top, #07AE4D, #069643);
	background-image: linear-gradient(to bottom, #07AE4D, #069643);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#07AE4D, endColorstr=#069643);
}
.list-group.SP-sideBar .active{
	/*background:#07AE4D;*/border-color:#1281AE;color:#ffffff;
	background-color: #1281AE; background-image: -webkit-gradient(linear, left top, left bottom, from(#1281AE), to(#1179A3));
	background-image: -webkit-linear-gradient(top, #1281AE, #1179A3);background-image: -moz-linear-gradient(top, #1281AE, #1179A3);
	background-image: -ms-linear-gradient(top, #1281AE, #1179A3);background-image: -o-linear-gradient(top, #1281AE, #1179A3);
	background-image: linear-gradient(to bottom, #1281AE, #1179A3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1281AE, endColorstr=#1179A3);
}
.list-group.E-sideBar .active:hover,
.list-group.E-sideBar  a:focus,
.list-group.E-sideBar  .active:focus{
	background:#07AE4D;color:#ffffff !important;
}
.list-group.SP-sideBar .active:hover,
.list-group.SP-sideBar  a:focus,
.list-group.SP-sideBar  .active:focus{
	background:#1281AE;color:#ffffff !important;
}
.list-group  a{
	border-radius:0px !important;font-size:14px; color:inherit;
}
.Static-Box{
	margin: auto; border: 1px solid #ededed; padding: 15px; border-radius: 5px; box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5) !important; min-height:430px;
}
.Static-Box img{
	width:100%;
}
/* Static Pages CSS-Ends */

/* Profile Page CSS-Starts */
.profile-account .fileinput{
	text-align:center;margin:0 auto;position:relative;
}
.profile-account .fileinput .abs-img-crop{
	position:absolute;background:#002142;padding:4px 12px ;
}
.profile-account .fileinput .abs-img-crop a{
	color:#FFFFFF;
}
/* Profile Page CSS-Ends */

/* Sign-In Page CSS-Starts */
.form-signin {
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun1.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun1.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun1.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun1.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun1.jpg);
	background-repeat:no-repeat; background-size:cover; padding: 15px; margin: 0 auto !important; width: 100%; min-height: 450px; margin:15px;
}
.signin-bg {
	background: rgba(46,46,46, .7);/*background: rgba(7,174,77, .5);*/ width:100%; min-height: 475px; padding: 15px; margin:0 auto;
}
.SignupLink a{
	color: #07ae4d !important;/*text-decoration: underline;*/ border-radius:10px !important;  padding-top: 8px !important;  padding-bottom: 8px !important;
	margin-top: 23px !important;
}
.SignupLink a.hvr-radial-out{
	background-color:#ffffff;
}
.SigninLink a{
	color: #07ae4d !important;/*text-decoration: underline;*/ border-radius:10px !important;  padding-top: 8px !important;  padding-bottom: 8px !important;
	margin-top: 23px !important;
}
.SigninLink a.hvr-radial-out{
	background-color:#ffffff;
}
.SignupLink a.hvr-radial-out:before{
	background:#07ae4d; border-radius:10px !important;
}
.SigninLink a.hvr-radial-out:before{
	background:#07ae4d;
}
.SignupLink a:hover, .SigninLink a:hover{
	color:#ffffff !important;
}
#fbSignIn{
	max-width:200px; /*float:right; margin-top:-7px;*/ cursor:pointer; background-color:#3A5795; border:none; color:#ffffff; padding:8px 10px; margin-top:10px;border-radius: 2px;
}
#fbSignIn i{
	color:#ffffff; font-size:18px;display: inline-block; vertical-align: middle; padding:0px;
}
#fbSignIn span{
	display: inline-block; vertical-align: middle;
}
.fbsigninP{
	text-align: center;margin-top: 10px;
}
.form-signin #btnsubmit{
	/*float:left;*/
}
.form-signin .form-group{
	text-align:left;
}
.form-signin .form-group{
	text-align:left; margin-bottom:10px;
}
.form-signin .form-control{
	height:40px;
}
/* Sign-In Page CSS-Ends  */

/* Sign-Up Page CSS-Starts */
label[for=user_type]{
	width:100%;
}
label[for=user_type-service_provider], label[for=user_type-employer]{
	display:inline-block; margin-top:10px !important;
}
label[for=user_type-employer]{
	margin-left:15px;
}
span[for=user_type]{
	position:absolute; bottom:-20px;
}
.form-signup {
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun_image.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun_image.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun_image.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun_image.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/fun_image.jpg);
	background-repeat:no-repeat; padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
}
.signup-bg {
	background: rgba(46,46,46, .7); width: 100%; min-height: 475px; padding: 15px;
}
h2.ribbon i{
	color:#ffffff;
}
h2.ribbon{
	position:relative;color:#fff;background:#62B156;font-size:1.3em;float:left;clear:both;padding:10px 10px 10px 20px;margin-bottom:20px;text-shadow:0 -1px #62B156, 0 1px #62B156;
	-moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);-o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	width: 70%; margin-left: -10px; margin-top: 20px;
}
h2.ribbon:before, h2.ribbon:after{
	content:" ";background:url(../img/ribbon.png);display:block;width:10px;height:10px;position:absolute;bottom:0;left:0;margin-bottom:-10px;z-index:99999;
}
.form-signup #btnsubmit{
	/*float:left;*/
}
.form-signup .form-group{
	text-align:left; margin-bottom:10px; clear:both;
}
.form-signup .form-control{
	height:40px;
}
/*h2.ribbon:after {
  background: url(../img/ribbon-2.png); right: 0; left: auto;
}
*//* Sign-Up Page CSS-Ends */

/* Forgot Password Page CSS-Starts */
.form-forgot {
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/forgotpass2.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/forgotpass2.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/forgotpass2.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/forgotpass2.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/forgotpass2.jpg);
	background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
}
.forgot-bg {
	background: rgba(46,46,46, .7);width: 100%; min-height: 475px; padding: 15px;
}
/* Forgot Password Page CSS-Ends  */

/* Contact Us Page CSS-Starts */
.static-page {
	margin-top:20px;color:#333333;
}
.static-page .page-content p{
	font-size:14px;
}
.static-page .page-content p.lead{
	font-size:18px;
}
.static-page .page-content .heading{
	font-weight:bold;
}
.static-bg{
	background-image:url('../img/demo3-blur.jpg'); background-size:100% 100%;
}
.static-bg .fix-pages{
	background-color:rgba(255,255,255,0.7);
}
.contact-bg{
	background-image:url('../img/contact-us.jpg'); background-size:100% 100%;
}
.contact-bg .fix-pages{
	background-color:rgba(255,255,255,0.9);
}
.contact-page-adddress{
	margin-top:42px;color:#067434;
}
.contact-page-adddress .dynamic-content P{
	margin-bottom:4px;color:#7c7c7c;
}
.contact-page-adddress .dynamic-content a{
	text-decoration:underline;
}
.contact-page-adddress p.glyphicon {
	font-size: 48px;color: #067434;
}
.contact-us-form-wrapper{
	padding:24px 0px;
}
.gmap-area {
	background-image: url("../img/map.jpg");background-position: 0 0;background-repeat: no-repeat;background-size: cover;/*padding: 30px 0;*/ margin-top:30px; margin-bottom:30px;
	border-radius:4px;
}
.gmap-area .gmap #contact-map-canvas {
	/*border-radius: 10%;*/height: 330px;width: 100%px; border-radius:5px;
}
.gmap{
	border: 10px solid #f6f5f0;/* border-radius: 10%;*/height: 350px;width: 60%;box-shadow: 0px 0px 3px 3px #e7e4dc;overflow: hidden;position: relative;margin: 0 auto;
}
#contact-map-canvas {
	border-radius:5px;box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5) !important;
}
.get-started {
	background: transparent;border-radius: 0px; padding-bottom: 30px;position:relative; margin-bottom: 30px;margin-top: 10px;
}
.get-started h2 {
	padding-top: 0; margin-bottom: 20px; padding-left: 12px; padding-right: 12px; color: #067434;
}
.get-started .lead {
	line-height: 24px;font-weight: 400; padding-left:16px; padding-right:16px; color:#7c7c7c;font-size:14px;
}
.get-started .request{
	bottom: -15px;left: 50%;position: absolute;margin-left: -110px;
}
.get-started .request h4 {
	position: absolute;width: 220px;position:relative;
}
.get-started .request h4 a{
	background:#067434;color: #fff !important;font-size: 14px;font-weight: normal;border-radius: 3px;padding: 6px 20px;
}
.get-started .request h4:after {
	border-color: #067434 transparent transparent;border-style: solid;border-width: 12px;bottom: -18px;content: "";height: 0;position: absolute;right: 13px;z-index: -99999;
}
.get-started .request h4:before {
	border-color: #067434 transparent transparent;border-style: solid;border-width: 12px;bottom: -18px;content: "";height: 0;left: 13px;position: absolute;z-index: -99999;
}
/* Contact Us Page CSS-Ends */

.common-inner {
	background: #fff; padding: 24px; box-shadow: 0 0 20px 2px rgba(0,0,0,0.35); margin:0 0% 0 0;
}
.common-inner label {
	font-weight: 400;color:#7c7c7c;
}
.common-bg p {
	color: #ffffff; text-align: justify;
}
.common-bg a {
	color: #7c7c7c;
}
.common-bg a:hover {
	color: #07ae4d;
}
.common-bg h1 {
	color: rgb(255, 255, 255); font-size: 28px;
}
.common-bg .IconColor {
	color: #fff;
}

/* Profile page CSS-Starts */
.profile-bg{
	background-image:url('../img/bg1.jpg'); background-size:cover;
}
.custom-form-wrapper{
	background:rgba(255,255,255,0.9);padding:16px;  box-shadow: 0px 0px 8px 0px #ccc;
}
/*
.carousel .carousel-inner .item {
	opacity: 0; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity;
}
.carousel .carousel-inner .active {
	opacity: 1;
}
.carousel .carousel-inner .active.left,
.carousel .carousel-inner .active.right {
	left: 0; opacity: 0; z-index: 1;
}
.carousel .carousel-inner .next.left,
.carousel .carousel-inner .prev.right {
	opacity: 1;
}
.carousel .carousel-control {
	z-index: 2;
}
*/
/* Profile page CSS-Ends */

/* Manage Profile CSS-Starts */
.chosen-container, .chosen-container-single{
	width:100% !important; background-color:#ffffff;
}
.chosen-container-single .chosen-single{
	border: 1px solid #cccccc;  height: 40px; background-image:none; box-shadow:none;border-radius:0px !important;border-top-right-radius: 3px !important;border-bottom-right-radius: 3px !important;
}
.chosen-container-single .chosen-single span{
	margin-top:7px; color:#7c7c7c;
}
.chosen-container-single .chosen-single div b{
	margin-top:4px;
}
.chosen-container-multi .chosen-choices{
	border: 1px solid #cccccc; /* height: 40px !important;*/background-image:none;border-top-right-radius: 3px !important;border-bottom-right-radius: 3px !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	height:28px !important; color:#7c7c7c;margin: 5px 0;
}
.input-group-addon.fa {
	display: table-cell;
}
.input-group .input-group-addon {
	padding: 3px 10px;border: 1px solid #07AE4D;
}
span.input-group-addon {
	height: 20px !important;  /*background: #07AE4D; */color:#ffffff !important;
}
span.EmployerAddon{
	background: #07AE4D;
}
span.JobAddon{
	background: #07AE4D;
}
span.JobAddon i{
	color:#ffffff;
}
span.ServiceProviderAddon{
	background: #1281AE;
}
.input-group .input-group-addon.ServiceProviderAddon {
	border: 1px solid #1281AE;
}
.input-group .input-group-addon.EmployerAddon {
	border: 1px solid #07AE4D;
}
.EditProfile label{
	margin-bottom:0px; font-family:Open Sans; font-weight:400;
}
.EditProfile .form-group{
	margin-bottom:20px;
}
.EditProfile .form-control{
	border: 1px solid #7c7c7c;
}
.EditProfile .form-control[readonly]{
	background-color:#ffffff;
}
.EditProfile .help-block {
	margin-top: 5px; margin-bottom: 5px; position: absolute; left: 0px; color:#a94442; font-size:13px; bottom:-25px;
}
.EditProfile .form-control.input-file{
	padding:8px;
}
.input-group{
	margin-bottom:30px; position:relative;
}
span[for=sp_expertise].help-block, span[for=sp_skills].help-block span[for=e_industry].help-block{
	top:30px;
}
.EditProfileMain{
	background-image:url('../img/bg2.jpg'); background-size:cover;
}
.ProfileScore{
	font-weight:500; max-width:225px; background-color:#578EBE; padding:10px; color:#ffffff; font-size:18px; cursor:pointer;
}
.ProfileScore i{
	color:#ffffff; font-size:18px;
}
.EditProfileWorker{
	background-color:rgba(18,129,174,0.8); color:#ffffff !important; padding:5px 20px; font-size:20px; margin-bottom:30px; border-radius:2px !important;
}
.EditProfileWorker i{
	color:#ffffff !important; font-size:20px;
}
.EditProfileHirer{
	background-color:rgba(18,129,174,0.8); color:#ffffff; padding:5px 20px; font-size:20px; margin-bottom:30px; border-radius:2px !important;
}
.EditProfileHirer i{
	color:#ffffff !important; font-size:20px;
}
#WorkerCollapse{
	font-size:16px; margin-top:8px; cursor:pointer;
}
#HirerCollapse{
	font-size:16px; margin-top:8px; cursor:pointer;
}
.ProfileChangePassword,
.ProfileChangeImage{
	color:#07AE4D; font-size:15px; padding:0px; text-decoration:underline; overflow:hidden; clear:both; cursor:pointer; font-weight:600;
}
.ProfileChangeImage i,
.ProfileChangePassword i{
	color:#07AE4D;
}
.PasswordDiv {
	overflow:hidden; padding:10px; border:1px dashed #dedede; border-radius:3px; margin:8px; background-color:rgba(255,255,255,0.7);
}
/* Manage Profile CSS-Ends */

/* Subscription page CSS-Starts */
#ribbon {
	padding: .34em 1em;	margin: 0;position:relative;color: #585858;	font: 32px 'Open Sans', sans-serif;text-align: center;letter-spacing:0.05em; display: inline-block;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),inset 0px 0px 20px rgba(0,0,0,0.1),0px 1px 1px rgba(0,0,0,0.4);
	background: -webkit-linear-gradient(top,#e2e2e2, #ededed);
}
#ribbon:before, #ribbon:after {
	content: "";width:.2em;bottom:-.5em;position:absolute;display:block;border: .9em solid #e2e2e2;box-shadow:0px 1px 0px rgba(0,0,0,0.4);z-index:-2;
}
#ribbon:before {
	left:-1.13em;border-right-width: .75em;border-left-color:transparent;
}
#ribbon:after {
	right:-1.13em;border-left-width: .75em;border-right-color:transparent;
}
#content:before, #content:after {
	content:"";bottom:-.5em;position:absolute;display:block;border-style:solid;border-color: #c8c8c8 transparent transparent transparent;z-index:-1;
}
#content:before {
	left: 0;border-width: .5em 0 0 .5em;
}
#content:after {
	right: 0;border-width: .5em .5em 0 0;
}
.IndexSubscribeDiv{
	/*background:-webkit-radial-gradient(rgba(80,0,0,0.1) 0%,rgba(80,0,0,0.2) 30%, rgba(21,11,1,0.9) 100% ),url('http://subtlepatterns.com/patterns/wood_pattern.png');*/
	min-height:700px; background-repeat:repeat;
}
.IndexSubscribe{
	color:#575757; font-family:"Roboto"; text-align:center;margin-bottom: 40px; box-shadow:0px 0px 40px -12px rgba(0,0,0,0.5); border-radius:5px; padding:50px;
}
.IndexSubscribe .Head{
	font-size:40px; margin-top:35px;margin-bottom: 4px;
}
.IndexSubscribe .SubHead{
	font-size:14px; max-width:68%; margin:0 auto; line-height:1.8; margin-bottom:20px;
}
.IndexPlan1{
	display:inline-block; max-width:280px; text-align:center; position:relative; vertical-align:middle;	margin: 0 auto; margin-top:50px; width:100%;   padding: 40px 20px;
	padding-bottom: 60px;margin-right: 12px;
}
.Plan1{
	background-color:#fed762;
}
.Plan2{
	background-color:#abd373;
}
.Plan3{
	background-color:#6dc7e0;
}
.IndexPlan1 .Name{
	color:#010302;font-family:Open Sans; font-size:20px; font-weight:600; text-transform:uppercase;
}
.IndexPlan1 .Price{
	color:#010302;font-family:Open Sans; font-size:40px; font-weight:400;
}
.IndexPlan1 .Price small{
	font-size:12px;
}
.IndexPlan1 .Text{
	color:#010302;font-family:Open Sans; font-size:13px; font-weight:500; max-width: 160px; margin-bottom:20px; margin: 0 auto;margin-top:20px; text-shadow:0px 0px;
}
.IndexPlan1 .PlanUl{
	color:#010302; list-style:none; margin:0px; padding:0px;
}
.IndexPlan1 .PlanImg{
	position:absolute; top: 0px;  left: -23px; width:300px; height:50px;
}
.IndexPlan1 .PlanImg p:first-child{
	font-weight:bold; font-size:28px; margin-bottom:0px; margin-top:10px;
}
.IndexPlan1 .PlanImg p:first-child small{
	font-size:12px;
}
.IndexPlan1 .PlanImg p:last-child{
	font-size:18px; margin-bottom:0px; margin-top:5px;
}
.Plan1 hr{
	margin: 0px auto; border-top: 1px solid #e7c250;  width: 65%;
}
.Plan2 hr{
	margin: 0px auto; border-top: 1px solid #99c063;  width: 65%;
}
.Plan3 hr{
	margin: 0px auto; border-top: 1px solid #ff8a6c;  width: 65%;
}
.IndexPlan1 .PlanUl li{
	font-size:22px; padding:15px 5px;
}
.IndexPlan1 .PlanSignUp{
	font-family:Open Sans; font-size:13px; font-weight:500; border-radius:2px;position: absolute; bottom: -16px; left: 56px;padding:8px 43px 8px 43px; font-size:17px; color:#ffffff;
	background-color: #45484d; background-image:-webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
	background-image: -webkit-linear-gradient(top, #45484d, #000000);background-image: -moz-linear-gradient(top, #45484d, #000000);
	background-image: -ms-linear-gradient(top, #45484d, #000000);background-image: -o-linear-gradient(top, #45484d, #000000);
	background-image: linear-gradient(to bottom, #45484d, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
}
/* Subscription page CSS-Ends */

/* Post Job CSS-Starts */
.PostJobMainDiv{
	/*background-image:url('../img/userbg1.jpg');*/ background-size:cover; background-repeat:no-repeat;
}
.PostJobMainDiv label{
	margin-bottom:0px; font-family:Open Sans; font-weight:400;
}
.PostJobMainDiv .form-group{
	margin-bottom:20px;
}
.PostJobMainDiv .form-control{
	border: 1px solid #cccccc;  height: 40px; border-top-right-radius: 3px !important; border-bottom-right-radius: 3px !important;line-height: 3;
}
.PostJobMainDiv .help-block {
	margin-top: 5px; margin-bottom: 5px; position: absolute; left: 0px; color:#a94442; font-size:13px;
	bottom:-25px;
}
.JobFixedAmount, .JobRangeAmount {
	padding:10px 15px 12px 15px; position: relative; background-color:#1281AE; color:#ffffff; cursor:pointer;
}

.JobOr{
	margin-bottom:25px;
}
/*.JobFixedAmount:before {
  content: ""; position: absolute; top: 0; left: 0; right: 0; height: 4px;  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C0%204%2C4%208%2C0%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
}*/
.JobFixedAmount:after, .JobRangeAmount:after {
	content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 4px;
	background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C4%204%2C0%208%2C4%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
}
.setup-content{
	padding: 20px 0px; margin: 50px; box-shadow: rgba(153, 153, 153, 0.498039) 0px 0px 50px; display: block; background-color: rgb(255, 255, 255); border-left:5px solid #1281AE;
	border-radius:3px !important;
}
.stepwizard-step p {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 10px;
	text-shadow: 0 0;
	text-transform: uppercase;
}
.setup-content h3{
	font-weight:400; margin-bottom:20px;
}
.setup-content .nextBtn i{
	color:#ffffff; font-size:18px;
}
.setup-content .work{
	padding: 5px 10px !important;font-size: 14px !important; border-radius: 4px !important; font-weight: 500 !important;
}
.setup-content .work i{
	color:#ffffff;
}
.PostJobLocation{
	padding: 3px 10px;border: 1px solid #07AE4D; background-color:#07AE4D; height:40px; color:#ffffff !important;
}
.PostJobLocation i{
	color:#ffffff;
}

.PostJobOr{
	padding-top:10px; font-weight:600; font-size:16px;
}
#CurrentLocation{
	width:100%;
}
.PostJobMainDiv label[for=job_type-0]{
	float:left !important; padding-left:0px;
}
.PostJobMainDiv label[for=job_type-1]{
	float:left;  margin-top: 10px; margin-left: 30px;
}
.PostJobMainDiv .input-group{
	clear:both;
}
.PostJobMainDiv .form-group.has-error{
	padding-bottom:20px;
}
span[for=job_type]{
	bottom:-8px !important;
}
.PostJobMainDiv input[type="radio"], .PostJobMainDiv input[type="checkbox"] {
	margin: 2px 0 0; margin-right:10px;
}
.PostJobMainDiv #job_type-0, .PostJobMainDiv #job_type-1, .PostJobMainDiv #job_type-{
	display:block;
}
/* Post Job CSS-Ends */

/* Search Job CSS-Starts */
.SearchJobDiv label{
	font-family:"Open Sans"; margin-bottom:0px; font-size:13px;
}
.SearchJobDiv .setup-content{
	margin:50px 2px;
}
.SearchJobDiv label[for=job_fix_type-0]{
	float:left;
}
.SearchJobDiv label[for=job_fix_type-1]{
	float:left; margin-top:10px; margin-left:10px;
}
.SearchJobDiv .input-group{
	margin-bottom:10px;
}
.SearchJobDiv .form-group{
	margin-bottom:15px;
}
.SearchJobDiv .form-control{
	border-radius:4px !important;
}
.SearchJobDiv .SelectPrice{
	font-size: 15px;font-weight: 500;
}
.ClearFilters{
	margin-top: 8px;margin-left:14px; font-size:13px; color:#428BCA;
}
.ClearFilters i{
	color:#428BCA;
}
#MapProcess{
	width:100%; height:100%; position:fixed; top:0px; color:#ffffff; background-color:rgba(255,255,255,0.9);left:0px;text-align: center;padding-top: 20%; display:none;
}
.ApplyText{
	color:#666666; font-size:14px; font-weight:300; text-align:left;
}
span[for=ApplyMessage],span[for=job_app_offer]{
	color:#a94442; font-size:12px; text-align:left;
}
.ToggleView .hire{
	padding: 5px 10px !important; font-weight: 500; font-size: 15px !important; border-radius: 4px !important;
}
.ToggleView .hire i, .ToggleView .work i{
	color:#ffffff; font-size:16px;
}
.ToggleView .work{
	padding: 5px 10px !important; font-weight: 500 !important; font-size: 15px !important; border-radius: 4px !important;
}
.SearchJobDiv label[for=job_type-]{
	float:left !important; padding-left:0px; cursor:pointer;
}
.SearchJobDiv label[for=job_type-].checked{
	color:#07AE4D; font-weight:600;
}
.SearchJobDiv label[for=job_type-0]{
	float:left !important; padding-left:0px; cursor:pointer; margin-left: 30px; margin-top:10px;
}
.SearchJobDiv label[for=job_type-0].checked{
	color:#07AE4D; font-weight:600;
}
.SearchJobDiv label[for=job_type-1]{
	float:left;  margin-top: 10px; margin-left: 30px; cursor:pointer; padding-left:0px;
}
.SearchJobDiv label[for=job_type-1].checked{
	color:#07AE4D; font-weight:600;
}
#job_type-0, #job_type-1, #job_type-{
	display:none;
}
.SearchJobDiv .input-group{
	clear:both;
}
.SearchJobDiv .form-group{
	clear:both;
}
/* Search Job CSS-Ends */

/* Job List CSS-Starts */
.JobListDiv{
	color:#545454; padding:10px; min-height:300px; border-width:2px; border-style:solid;border-color:#7eeaab; background-color:rgba(255,255,255,0.9); margin-bottom:75px;
	width:100%;
}
.JobListDiv:hover{
	color:#545454 !important;border-color:#4b77be ;
}
.JobListDiv.hvr-sweep-to-bottom:before{
	background:#f9f9f9;
}
.JobListDiv .Title{
	font-size:16px; text-align:left; font-weight:600; min-height:60px;clear:both; cursor:pointer;
}
.JobListDiv .Title label{
	margin-top:5px;
}
.JobListDiv .Desc{
	font-size:13px; text-align:left; font-weight:300; min-height:135px; clear:both;
}
.JobListDiv .Apply{
	color:#E15A6B; font-weight:600; text-align:right;
}
.nextBtn:focus{
	background-color:#000000;
}
.JobListsDiv .nav-tabs, .nav-pills{
	margin-bottom:0px;
}
.JobListsDiv .nav-tabs > li > a{
	border-radius: 5px 5px 0 0 !important; font-family: "Open Sans";  font-weight: 500;  font-size: 16px;color: #1281AE; background-color:rgba(255,255,255,0.9);
}
.JobListsDiv .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color:rgba(7,174,77,0.9); color:#ffffff !important; border:1px solid #067434;
}
.btn-circle{
	border:1px solid;
}
.btn-circle.btn-primary{
	color:#ffffff !important;
}
.JobListDiv .ApplyMessage{
	text-align:left; font-weight:300;
}
.JobListDiv .ApplyMessage label{
	font-weight:600;
}
.JobListDiv .ApplyMessage span{
	margin-left:5px;
}
.JobListDiv .PostedBy label{
	font-weight:400; font-size:13px; margin-bottom:0px; color:#545454;
}

.JobListDiv .PostedBy{
	font-size:13px; text-align:left; color:#1281AE;
}
.JobListDiv .PostedBy small{
	color:#545454; font-size:10px;
}
.JobListDiv .PostedBy .Applicants{
	padding: 3px 8px; border-radius: 3px; color:#ffffff; font-size: 11px;
}
.JobListDiv .PostedBy .Applicants .badge{
	margin-top: -25px;margin-right: -18px;font-size: 10px !important;
}
#ApplicantsModal .modal-body{
	padding:0px;
}
#ApplicantsModal hr{
	margin:10px 0px;
}
.AppMessage{
	margin-top: 10px; font-style:italic;
}
/* Job List CSS-Ends */

/* Job Detail CSS-Starts */
.JobDetailMainDiv{
	background-image:url('../img/userbg1.jpg'); background-size:cover; background-repeat:no-repeat; padding-top:30px !important;
}
.JobDetailDiv{
	color:#545454; padding:20px; /*min-height:300px;*/ border-width:2px; border-style:solid;border-color:#7eeaab; background-color:rgba(255,255,255,1)
}
.JobDetailDiv.hvr-sweep-to-bottom:before{
	background:#f2f2f2;
}
.JobDetailDiv .Title{
	font-size:16px; text-align:left; font-weight:600; margin-bottom:12px;
}
.JobDetailDiv .Desc{
	font-size:13px; text-align:left; font-weight:300; min-height:100px;
}
.JobDetailDiv .PostedBy{
	font-size:13px; text-align:left; font-weight:400;
}
.JobDetailDiv .PostedBy label{
	font-weight:600;
}
.PostedBy a{
	font-weight:bold; color:#2FC2A5 !important; text-decoration:underline !important;
}
.JobDetailDiv .Category{
	font-size:12px; line-height:1.8
}
.JobDetailDiv .Category i{
	padding-left:0px;
}
.JobDetailDiv .Category label{
	font-weight:600; font-size:13px;
}
.JobDetailDiv .Category i.fa-dollar{
	font-size:12px;
}
.JobDetailDiv .Apply{
	color:#E15A6B; font-weight:600; text-align:right;
}
.JobDetailDiv label[for=review_star]{
	float:left; margin-right:10px;
}
.JobDetailDiv .JobRatingDiv{
	background-color:#ffffff; box-shadow:0px 0px 8px 0px rgba(0,0,0,0.2); border-radius:3px; padding:10px; margin-top:20px;
}
.JobDetailDiv .JobRatingDiv h4{
	font-weight:600; color:#07AE4D; font-style:italic;
}
.JobDetailDiv .JobRatingDiv .radio, .checkbox{
	min-height:0px; margin-top:0px;
}
.JobDetailDiv .JobRatingDiv .form-group{
	overflow:hidden;
}
.JobDetailDiv .JobRatingDiv .fa-thumbs-o-up, .JobDetailDiv .JobRatingDiv .fa-thumbs-o-down{
	font-size:20px; cursor:pointer;
}
.JobDetailDiv .JobRatingDiv .fa-thumbs-up, .JobDetailDiv .JobRatingDiv .fa-thumbs-down{
	font-size:22px; color:#07AE4D; cursor:pointer;
}
span[for=review_star]{
	color:#a94442; font-size:12px;
}
/* Job Detail CSS-Ends */

/* User Profile CSS-Starts */
.UserProfileBanner{
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg1.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg1.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg1.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg1.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg1.jpg);
	background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
}
.UserProfileDiv{
	background-color:rgba(255,255,255,0.6); color:#000000; font-family:"Open Sans"; padding:20px; border-radius:3px !important;
}
.UserProfileDiv .Name{
	font-weight:500; font-size:32px;
}
.UserProfileDiv .Image img{
	border:5px solid #07AE4D; height:200px;
}
.UserProfileDiv i{
	color:#000000;
}
.UserProfileDiv .Message .btn{
	padding: 3px 7px;font-weight: 500; font-size:13px;border-radius: 5px !important;
}
.UserProfileSkills{
	background-color:rgba(255,255,255,0.6); color:#000000; font-family:"Open Sans"; padding:20px; border-radius:3px !important; min-height:500px; max-height:700px; overflow:hidden;
}
.UserProfileSkills i{
	color:#ffffff !important; cursor:pointer;
}
.UserProfileSkills .work{
	position:relative;
}
.UserProfileSkills .work span{
	position: absolute;top: -8px;right: -8px;padding: 6px 9px 3px 9px; height:25px; font-weight:600;
}
.UserProfileSkills .Title{
	font-weight:400; font-size:25px;
}
.UserProfileDiv .hire{
	font-weight:400; font-size:20px; padding:3px 15px; border-radius:5px !important; margin:0px;
}
.UserProfileDiv .hire i{
	color:#ffffff; font-size:16px;
	margin-top:8px;
}
.UserProfileDiv .Location{
	font-size:14px;margin-top:3px;
}
.UserProfileDiv .Location i{
	font-size:14px;
}
.UserProfileDiv .Pitch{
	font-size:13px; font-style:italic; margin-top:6px;
}
.UserProfileSkills p{
	padding:10px !important; border-radius:3px !important; color:#ffffff; font-size:13px !important; font-weight:500; margin:10px 0px 20px 0px !important;
}
.UserProfileSection1 .UserProfileWork{
	background-color:rgba(255,255,255,0.8); border-left:5px solid #4BA279; padding:10px; border-top-left-radius:2px !important; border-bottom-left-radius:2px !important;
	margin-bottom:10px;
}
.UserProfileSection1 .UserProfileWork .JobTitle{
	color:#4BA279 !important; font-weight:400; font-size:13px; font-style:italic;margin-bottom:2px;
}
.UserProfileSection2 .UserProfileHire{
	background-color:rgba(255,255,255,0.8); border-left:5px solid #2D7076; padding:10px; border-top-left-radius:2px !important; border-bottom-left-radius:2px !important;
}
.UserProfileSection2 .UserProfileHire .JobTitle{
	color:#2D7076 !important; font-weight:400; font-size:13px; font-style:italic; margin-bottom:2px;
}
.UserProfileSection1 .UserProfileWork .Date{
	font-weight:400;font-size:12px; font-style:italic; margin-left:20px; color:#545454;
}
.UserProfileSection1 .UserProfileWork .Title{
	font-weight:600;
}
.UserProfileSection2 .UserProfileHire .Title{
	font-weight:600;
}
.UserProfileSection2 .UserProfileHire .Date{
	font-weight:400;font-size:12px; font-style:italic; margin-left:20px; color:#545454;
}
.UserProfileDiv .Rating .fa{
	font-size:20px; color:#07AE4D;
}
.UserProfileDiv .Rating span{
	color:#067434; font-weight:600;
}
.UserProfileDiv .Rating small{
	font-size:11px; font-style:italic;
}
.SeeMore{
	font-style:italic; font-size:13px; text-align:right; margin-bottom:0px; color:#1281AE;
}
/* User Profile CSS-Ends */

/* Job Hire List CSS-Starts */
.JobHireListDiv{
	padding:10px; text-align:left;/*border:1px solid #07AE4D;*/ border-left:5px solid #1281AE; margin-bottom:20px; border-top-left-radius:5px; border-bottom-left-radius:5px;
	background-color:#f7f7f7; color:#343434;
}
.JobHireListsDiv{
	background-color:rgba(255,255,255,0.8); padding:20px;
}
.JobHireListDiv .Title{
	font-weight:500; font-size:18px;
}
.JobHireListDiv .Desc{
	font-weight:300; font-size:13px; margin-top:5px; font-style:italic;
}
.JobHireListDiv .hire{
	padding: 4px 10px; color: #fff !important; font-weight: 500; font-size: 13px; margin:0px; border-radius:5px !important;
}
.JobHireListDiv .Title small{
	font-size:12px; font-style:italic; color:#1281AE;
}
/* Job Hire List CSS-Ends */

/* Service Providers CSS-Starts */
.ServiceProvidersDiv{
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg2.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg2.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg2.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg2.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/userbg2.jpg);
	background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
}
.ServiceProvidersWrapper{
	background-color:rgba(255,255,255,0.8); padding: 30px;
}
/* HEX CONTENT-Starts */
.ServiceProvidersWrapper #ServiceProviders{
	overflow:hidden; width:100%; float:left;padding: 0px;/*padding-right: 30px;*/
}
.ServiceProvidersWrapper #ServiceProviders li{
	position:relative;list-style-type:none;width:99.857143%;/*=(100-2.5)/3.5*/padding-bottom:116.167601%;/*=width/0.866*/float:left;overflow:hidden;visibility:hidden;
	-webkit-transform: rotate(-60deg) skewY(30deg); -ms-transform: rotate(-60deg) skewY(30deg);transform: rotate(-60deg) skewY(30deg);
}
.ServiceProvidersWrapper #ServiceProviders li *{
	position:absolute;visibility:visible;
}
.ServiceProvidersWrapper #ServiceProviders li > div{
	width:100%;height:100%;text-align:center;color:#fff;overflow:hidden;-webkit-transform: skewY(-30deg) rotate(60deg);-ms-transform: skewY(-30deg) rotate(60deg);
	transform: skewY(-30deg) rotate(60deg);-webkit-backface-visibility:hidden; background-color:#000000;
}
.ServiceProvidersWrapper #ServiceProviders li img{
	left:-100%; right:-100%;width: auto; height:100%;margin:0 auto;  cursor:pointer;
}
/* HEX CONTENT-Ends */
.ServiceProvidersWrapper .ServiceProviderDetails{
	clear: both;overflow: hidden; text-align:center;
}
.ServiceProvidersWrapper .ServiceProviderDetails .Name{
	color:#323232; font-weight:600; font-size:16px;
}
.ServiceProvidersWrapper .ServiceProviderDetails .Location{
	color:#067434; font-weight:500; font-size:12px; font-style:italic
}
.ServiceProvidersWrapper .bw {
	-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease;
}
.ServiceProvidersWrapper .bw:hover {
	-webkit-filter: grayscale(100%);
}
.ServiceProvidersFilter{
	background-color:rgba(255,255,255,0.6); border:5px solid #ffffff; padding:10px; border-radius:3px; margin-bottom: 20px;
}
.ServiceProvidersFilter h3{
	color:#1281AE; font-weight:400;  margin: 0px; padding: 10px; text-align: center; border-radius: 3px !important; font-size:23px; box-shadow:0 2px #0A4A64 !important;
}

.pagingMainDiv{
	padding-top: 10px;
}

/* Service Providers CSS-Ends */

/* Message CSS-Starts */
.MessageMainDiv{
	/*
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/bg6.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/bg6.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/bg6.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/bg6.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/bg6.jpg);
	*/
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/demo3-blur.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/demo3-blur.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/demo3-blur.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/demo3-blur.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/demo3-blur.jpg);
	background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
}
.MessageBox.custom-form-wrapper{
	min-height:430px;background: rgba(255,255,255,0.8);
}
.MessageBox .SiteHeading i{
	font-size:34px;
}
.MessageLeftPanel{

}
.MessageLeftPanel .Compose{
	border-left:4px solid;border-color:#FFC64B; padding:10px; color:#323232; font-size:14px; margin-bottom:10px;background-color:#F4F9FD; font-weight:600;
}
.MessageLeftPanel .Compose.active{
	border-color:#F4F9FD;color:#ffffff;background-color:#FFC64B;
}
.MessageLeftPanel .Inbox{
	border-left:4px solid;border-color:#22cdba; padding:10px; color:#323232; font-size:14px; margin-bottom:10px;background-color:#F4F9FD; font-weight:600;
}
.MessageLeftPanel .Inbox.active{
	border-color:#F4F9FD;color:#ffffff;background-color:#22cdba;
}
.MessageLeftPanel .Hirers{
	border-left:4px solid;border-color:#FB88A5; padding:10px; color:#323232; font-size:14px; margin-bottom:10px;background-color:#F4F9FD; font-weight:600;
}
.MessageLeftPanel .Hirers.active{
	border-color:#F4F9FD;color:#ffffff;background-color:#FB88A5;
}
.MessageLeftPanel .Workers{
	border-left:4px solid;border-color:#4ebaff ; padding:10px; color:#323232; font-size:14px; margin-bottom:10px;background-color:#F4F9FD; font-weight:600;
}
.MessageLeftPanel .Workers.active{
	border-color:#F4F9FD;color:#ffffff;background-color:#4ebaff;
}
.MessageLeftPanel .Sent{
	border-left:4px solid;border-color:#f65a62; padding:10px; color:#323232; font-size:14px; margin-bottom:10px;background-color:#F4F9FD; font-weight:600;
}
.MessageLeftPanel .Sent.active{
	border-color:#F4F9FD;color:#ffffff;background-color:#f65a62;
}
.InboxDiv{
	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #22cdba;
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.InboxDiv:after{
	right: 98.2%;top: 81px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(34, 205, 186, 0);
	border-right-color: #22CDBA;border-width: 20px;margin-top: -30px;
}
.InboxDiv h3{
	background-color:#22cdba; padding:6px; color:#ffffff; border-top-left-radius:3px !important; border-top-right-radius:3px !important;
}
.ComposeDiv{
	/*background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
 	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #FFC64B;
 	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/

	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #22cdba;
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.ComposeDiv:after{
	right: 98.1%; top: 30px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(34, 205, 186, 0);
	border-right-color: #22cdba;border-width: 20px;margin-top: -30px;
}
.ComposeDiv h3{
	background-color:#22cdba; padding:6px; color:#ffffff; border-top-left-radius:3px !important; border-top-right-radius:3px !important;
}
.HirerDiv{
	/*background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
 	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #FB88A5;
 	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/

	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #22cdba;
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.HirerDiv:after{
	right: 98.2%;top: 130px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(34, 205, 186, 0);
	border-right-color: #22cdba;border-width: 20px;margin-top: -30px;
}
.HirerDiv h3{
	background-color:#22cdba; padding:6px; color:#ffffff; border-top-left-radius:3px !important; border-top-right-radius:3px !important;
}
.WorkerDiv{
	/*background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
 	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #4EBAFF;
 	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/

	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #22cdba;
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.WorkerDiv:after{
	right: 98.2%;top: 180px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(34, 205, 186, 0);
	border-right-color: #22cdba;border-width: 20px;margin-top: -30px;
}
.WorkerDiv h3{
	background-color:#22cdba; padding:6px; color:#ffffff; border-top-left-radius:3px !important; border-top-right-radius:3px !important;
}
.SentDiv{
	/*background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
 	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #f65a62;
 	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/

	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #22cdba;
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.SentDiv:after{
	right: 98.1%;top: 230px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(34, 205, 186, 0);
	border-right-color: #22cdba;border-width: 20px;margin-top: -30px;
}
.SentDiv h3{
	background-color:#22cdba; padding:6px; color:#ffffff; border-top-left-radius:3px !important; border-top-right-radius:3px !important;
}

.DraftDiv{
	/*background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
 	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #f65a62;
 	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/

	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #22cdba;
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.DraftDiv:after{
	right: 98.1%;top: 280px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(34, 205, 186, 0);
	border-right-color: #22cdba;border-width: 20px;margin-top: -30px;
}
.DraftDiv h3{
	background-color:#22cdba; padding:6px; color:#ffffff; border-top-left-radius:3px !important; border-top-right-radius:3px !important;
}
.MessageBox .form-control, .MessageBox .chosen-container-single .chosen-single{
	border-radius:4px !important;
}
.MessageBox .hire{
	margin-bottom: 10px !important;  padding: 5px 16px !important;font-size: 14px !important;  border-radius: 5px !important; font-weight:500;
}
.MessageBox .form-group{
	margin-bottom:20px;
}
span[for=msg_to]{
	position: absolute; bottom: -24px;
}
span[for=msg_job]{
	position: absolute; bottom: -24px;
}
.MessageDetail{
	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));border-radius:3px !important; min-height:300px;
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd); border:1px solid #bfe868;
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	overflow:hidden;
}
.MessageDetail h3{
	background-color:#bfe868; padding:6px; color:#ffffff; border-top-left-radius:3px !important; border-top-right-radius:3px !important;
}
.MessageInDetail{
	padding:10px;
}
.MessageInDetail h4{
	font-weight:600; color:#545454;
}
.MessageInDetail hr{
	border-top: 1px solid #ccc;
}
.MessageInDetail .MessageFrom{
	color:#545454; font-weight:600; font-size:13px;
}
.MessageInDetail .MessageFrom label{
	font-size:11px; color:#545454;font-weight:600;
}
.MessageInDetail .MessageText{
	font-size:13px; font-weight:400; padding-top:0px; color:#545454; font-style:italic;
}
.MessageInDetail .ReplyForward{
	background-color:#CCC; padding:4px 3px 3px 3px ; color:#1281AE !important;
}
.MessageInDetail .ReplyForward i{
	color:#1281AE !important; font-size:12px;
}
.MessageInDetail .ReplyForward span{
	cursor:pointer;
}
#msg_file{
	background-color: #ffffff;border: 1px solid #ccc;border-radius: 5px !important;display: block;padding: 10px; max-width:100%;
}
/* Sent Messages-Css-Starts */
.SentMessages{
	padding:10px; overflow:hidden;	box-shadow: 0px 0px 8px 0px #ccc; margin:20px; background-color:rgba(255,255,255,0.8); border-radius:5px !important;
}
.SentMessages .Subject{
	font-weight:300; color:#000000; font-size:15px; font-style:italic; margin-bottom:2px;
}
.SentMessages .Text{
	font-size:13px;font-weight:300; margin-bottom:0px;
}
.SentMessages .UserName{
	font-weight:600;
}
.MessageBox #sentTable_wrapper, .MessageBox #draftTable_wrapper{
	margin:10px;
}
.table-scrollable > .table > thead > tr > th{
	font-weight: 400; font-size: 14px;
}
.table .To{
	font-weight:600; font-size:12px;
}
.table .Message{
	font-weight:400; font-size:12px;
}
.table .Date{
	font-weight:400; font-size:11px;
}
.table .Head{
	background-color:#708090;
}
.table-scrollable > .table > thead > tr > th{
	color:#ffffff;
}
.MessageBox .input-small {
	width: 200px !important;margin-left: 10px; height:32px !important;
}
.table.dataTable thead .sorting_desc {
	background: url('../img/sort_desc.png') no-repeat center right;
}
.table.dataTable thead .sorting_asc {
	background: url('../img/sort_asc.png') no-repeat center right;
}
.MessageBox #sample_editable_1_new.hire{
	margin:0px; padding:5px 8px !important;font-size: 13px !important;
}
/* Sent Messages-Css-Ends */

/* Message CSS-Ends */

/* Blog Css-Starts */
.BlogCatMainDiv{
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog-1.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog-1.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog-1.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog-1.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog-1.jpg);
	background-repeat:repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:contain;
}
.BlogCategoryDiv{
	min-height:500px;
}
.BlogCategoryDiv .Category.work{
	text-align:left; font-size:18px; color:#1281AE; font-weight:300; font-family:"Open Sans"; text-shadow:0px 0px; margin:0px; margin-bottom:35px; padding:6px 15px; border-radius:5px !important;box-shadow: 0 4px #0A4A64 !important; font-style:italic;
}
.BlogCategoryDiv .Category.work:hover{
	box-shadow: 0 4px #0A4A64 !important;
}
.BlogCategoryDiv .Category .btn i{
	color:#ffffff;
}
.BlogCategoryDiv .Category .btn{
	padding:3px 5px 3px 9px;
}
.BlogCategoryDiv .BlogDiv{
	background-color:#ffffff; border-radius:3px;
}
.BlogCategoryDiv .BlogDiv .BlogTitle{
	/*padding:16px;*/ text-align:left; font-size:17px; font-weight:500; color:#000000; font-style:italic;
}
.BlogCategoryDiv .BlogDiv .BlogTitle small{
	font-size:11px; color:#545454;
}
.BlogCategoryDiv .BlogDiv .BlogDesc{
	font-weight:300; font-size:13px; text-align:left; padding:16px;
}
.BlogCategoryDiv .BlogDiv .BlogDesc small{
	color:#1281AE; font-weight:600; font-style:italic;
}
.BlogCategoryDiv .BlogDiv .BlogDesc small i{
	color:#1281AE; font-size:12px; font-weight:600;
}

.BlogDetailMainDiv{
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog_bg.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog_bg.jpg);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog_bg.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog_bg.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(../img/blog_bg.jpg);
	background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:contain;
}
.BlogDetailMainDiv .custom-form-wrapper{
	background-color:rgba(255,255,255,1);
}
.BlogDetailMainDiv .BlogDetails h1{
	color:#000000; font-style:italic; text-align:left;
}
.BlogDetailMainDiv .BlogDesc{
	text-align:left; font-weight:300;color:#000000;
}
.breadcrumb {background: rgba(7, 174, 77,0.5); border: 0px solid rgba(245, 245, 245, 1); border-radius: 3px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(255, 255, 255, 1) !important;}
.breadcrumb a:hover {color: rgba(255, 255, 255, 1);}
.breadcrumb>.active {color: rgba(255, 255, 255, 0.8);}
/*.breadcrumb>li+li:before {color: rgba(255, 255, 255, 1); content: "\002F\00a0";}*/
.breadcrumb>li+li:before {color: rgba(255, 255, 255, 1); content:initial;}
.breadcrumb li:first-child:after {color: rgba(255, 255, 255, 1); content: "\002F\00a0"; margin-left:10px;}
.BlogComments{
	margin-top:20px;
}
.BlogComments hr{
	/*border-bottom:1px solid #ffffff;*/
}
.BlogComments h3 {
}
.BlogComments h3 .AddComment{
	font-size:16px; font-weight:600; padding-top:10px; cursor:pointer;
}
.BlogComments .Comment{
	border:1px solid #dbdbdb; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; padding: 10px 10px 10px 10px;background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#FFFFFF));background-image: -webkit-linear-gradient(top, #f7f7f7, #FFFFFF);
	background-image: -moz-linear-gradient(top, #f7f7f7, #FFFFFF);background-image: -ms-linear-gradient(top, #f7f7f7, #FFFFFF);
	background-image: -o-linear-gradient(top, #f7f7f7, #FFFFFF);background-image: linear-gradient(to bottom, #f7f7f7, #FFFFFF);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7f7f7, endColorstr=#FFFFFF); min-height:100px; padding-left:60px; font-size:12px;
}
.BlogComments .Image{
	font-size:12px;position:absolute;z-index:99;top: 30%;left: 0px;
}
.BlogComments .Image img{
	max-width:50px; border-radius:3px;
}
.BlogAddComment{
	background-color:#ffffff; padding:20px; border-left:5px solid #07AE4D;
}
.BlogComments .CommentList{
	padding:10px; position:relative;
}
.BlogComments .Comment h5{
	font-weight:600; margin-bottom:5px;
}
.BlogComments .Comment .Date{
	font-size:10px; margin-bottom:2px; font-style:italic;
}
.BlogComments .Comment .Date i{
	font-size:11px; padding-left:0px;
}
.BlogComments .CommentList hr{
	margin:10px 0px;
}
.BlogAllComments .CommentDiv{
	overflow:visible; /*max-height:600px;*/ margin-bottom:20px;
}
/* Blog Css-Ends */

/* End Off Canvas */
.form-control.input-file{
	padding: 0 12px;
}
.post-a-job a {
	border-radius: 10px !important; background-color: #07ae4d !important;color: #FFFFFF !important; padding: 8px 15px !important; margin: 24px 2px !important; max-width:124px;
	transition-property: border-radius; -webkit-transition-duration: 0.3s;  transition-duration: 0.3s; -webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.post-a-job a:hover{
	border-radius:0px;
}
.slider-content {
	position: absolute; left: 0; right: 0; top: 45%; margin: 0 auto;
}
.slider-content p {
	color: #FFF; font-weight: bold; text-align: center; font-size: 34px; margin:0;
}
.slider-content > div {
	padding: 15px 0; text-align: center;
}
.hire {
	padding: 10px 65px; color: #fff !important; font-weight: bold; font-size: 28px; background: #07AE4D !important; box-shadow: 0 4px #067434 !important;
	border-radius: 10px !important; margin:0 13px;
}
.hire.hvr-underline-from-center:before, .work.hvr-underline-from-center:before{
	background:#ffffff !important;box-shadow: 0 4px #ffffff !important;
}
.hire:hover {
	box-shadow: 0 2px #067434 !important;
}
.work {
	padding: 10px 65px; color: #fff !important; font-weight: bold; font-size: 28px; background: #1281AE !important; box-shadow: 0 4px #0A4A64 !important; border-radius: 10px  !important;margin:0 13px;
}
.work:hover {
	box-shadow: 0 2px #0A4A64 !important;
}
.hire:hover,.work:hover {
	color: #EEEEEE;
}
.backBtn {
	padding: 3px 12px; color: #fff !important; font-weight: 500; font-size: 14px; background: #067434 !important; box-shadow: 0 4px #000000 !important;
	border-radius: 5px !important;margin: 0px; margin-top: 20px;
}
.backBtn i{
	color:#ffffff !important; font-size:15px; padding:0px;
}
.backBtn:hover {
	box-shadow: 0 2px #000000 !important;
}
.bggreen {
	background-color: #06ae4e; color: #FFFFFF; text-align: center; /*max-height:141px;*/ padding-top:25px; padding-bottom:20px;
}
.hover-info {
	background-color: #06ae4e !important; color: #FFFFFF; text-align: center;  padding: 14px; /*max-height: 145px;padding-bottom: 40px;*/
}
.hover-info img {
	margin: -15px 0px 0px;
}
.hover-info p {
	font-size: 30px; font-weight: lighter;
}
.join-today {
	background:#FFF; text-align: center;
}
.join-today p {
	color: rgb(7, 174, 77); font-size: 30px; padding-top:20px; margin-bottom:0px;
}

.join-today h1 {
	color: rgb(7, 174, 77) !important; font-size: 30px !important; padding-top:20px !important; margin-bottom:0px !important; font-weight: normal;
}

.learn-more {
	background: #07ae4d; color: #FFFFFF; padding: 18px 22px; text-transform: uppercase; margin-top: 22px;border: 0 none; margin-bottom:35px;
}
.learn-more.hvr-sweep-to-bottom:before{
	background:#067434;
}
.learn-more:hover{
	color:#EEEEEE;
}
.list-social-icons {
	text-align: center;width: 100%; font-size: 20px; margin: 0;
}
.hire-message {
	background: url('../img/bg-blur.png'); background-repeat: no-repeat; color: #ffffff; font-size: 24px; font-weight: bold; padding: 23px; position: absolute; right: 6%; top: 20%;
	max-width: 520px; width: 100%; text-align: center;
}
.work-message {
	background: url('../img/bl-blur.png'); background-repeat: no-repeat; color: #ffffff; font-size: 24px; font-weight: bold; padding: 23px; position: absolute; right: 6%; top: 20%;
	max-width: 520px; width: 100%; text-align: center;
}
.hover-hire-info {
	/*display: inline-block;*/ margin: auto; max-width: 770px; text-align: center; width: 100%;
}
.hover-hire-info > p {
	display: inline-block; margin: 0; /*padding: 0 32px;*/ text-align: center;font-size:18px;line-height:30px; font-weight:300;min-width: 245px; /*min-width: 231px;*/
	text-shadow:0px 0px;
}
.hover-hire-info > div > p {
	font-size: 16px; margin: 6px 0;
}
.hover-hire-info > div {
	display: inline-block;
}
.hover-work-info {
	/*display: inline-block;*/ margin: auto; max-width: 770px; text-align: center; width: 100%;
}
.hover-work-info > p {
	display: inline-block; margin: 0; /*padding: 0 32px;*/ text-align: center;font-size:18px;line-height:30px; font-weight:300;min-width:245px; text-shadow:0px 0px;
}
.hover-work-info > div > p {
	font-size: 16px; margin: 6px 0;
}
.hover-work-info > div {
	display: inline-block !important;
}
.bg-blue {
	background: #1281ae !important;color: #FFFFFF;text-align: center;/*max-height:141px;*/ padding-top:25px; padding-bottom:20px;
}
.bg-blue.hidden-lg{
	max-height:100%;
}
.bggreen.hidden-lg{
	max-height:100%;
}
.hire-strip {
	background: none repeat scroll 0 0 #067434; height: 8px; line-height: 5px; max-width: 175px; width: 100%;

	/*background: #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;*/
}
.hire-strip-hover {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.hire-strip.hvr-sweep-to-right:before{
	background:#ffffff;
}
.work-strip {
	background: none repeat scroll 0 0 #0c5d7e;height: 8px; line-height: 5px; max-width: 175px; width: 100%;

	/*background: #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration:  0.5s;
  transition-duration:  0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;*/
}
.work-strip-hover {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.work-strip.hvr-sweep-to-right:before{
	background:#ffffff;
}
.fa{
	display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
	color:#8a8a8a;padding:0 5px;
}
.fa:hover {
	color:#07AE4D;
}
.footer-active {
	color:#EEEEEE !important;
}
.our-people {
	border-radius: 145px !important; margin: 10px 0;box-shadow: 0 0 0 0 !important;
}
.fix-pages {
	background: #fff; margin: 15px 0; padding: 15px;
}
.carousel-inner img{
	/* min-height: 400px; */
}
@media screen and (max-width: 767px) {
	.bottom-container .border-right{
		border-right:none;border-bottom:solid 2px #dedede;
	}
	.list-group-item {
		padding: 10px 5px;
	}
	.list-group a{
		font-size:13px;
	}
	.Header.navbar-nav > .dropdown{
		float:none !important;
	}
	.Header.navbar-nav > .dropdown ul{
		width:100% !important;
	}
	.Header.navbar-nav > .dropdown ul a{
		padding-left:0px !important;
	}
	.Header .dropdown{
		margin-left:0px;
	}
	.NotifyJobContentBlock,.NotifyJobContentDiv{
		padding:0px;
	}

}
@media screen and (max-width: 790px) {
	.hover-hire-info > p {
		min-width:231px ;
	}
	.hover-work-info > p {
		min-width:231px ;
	}
}
@media screen and (max-width: 940px) {
	.nav > li > a{
		padding:8px;
	}
	.Header li {
		font-size: 14px;
	}
	.ForumContentDiv .AnswerDiv{
		min-height:120px;
	}
	.BlogCategoryDiv .BlogDiv .BlogTitle{
		font-size:14px;
	}
}
/* Off Canvas */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; transition: all 0.25s ease-out;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}
	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	.sidebar-offcanvas {
		position: absolute;top: 0; width: 50%; /* 6 columns */
	}
	.btn-circle {
		width:20px; height:20px;padding: 2px 0;font-size: 12px;
	}
	.stepwizard-row:before {
		top: 10px; height:3px;
	}
	.stepwizard-step p {
		font-size: 10px;
	}
	.setup-content {
		margin:5px 0px;
	}
	.chosen-container-single .chosen-single span{
		margin-right:0px;
	}
	.common-inner {
		margin: 0 0% 0 0;
	}
	h2.ribbon{
		width:100%;
	}
	.hover-hire-info > p{
		font-size:13px; min-width:30%; width:30%;
	}
	.hover-hire-info > div{
		margin:0px 4.5%;
	}
	.PostJobMainDiv label[for=job_type-1] {
		float: none !important;margin-top: 10px;margin-left: 0px;padding-left: 0px;
	}
	.PostJobMainDiv label[for=job_type-0] {
		float: none !important;
	}
	.ToggleView .hire {
		padding: 5px 5px !important;
		font-weight: 500;
		font-size: 13px !important;
		border-radius: 4px !important; float:left;
	}
	.ToggleView .work {
		padding: 5px 5px !important;
		font-weight: 500 !important;
		font-size: 13px !important;
		border-radius: 4px !important;float:left;
	}
	.ToggleView .hire i, .ToggleView .work i {
		color: #ffffff;
		font-size: 13px;
	}
	.UserProfileDiv .Image img {
		margin:0 auto;
	}
	.UserProfileSkills{
		min-height:185px;margin-bottom: 15px;
	}

	.BlogCategoryDiv .BlogDiv .BlogTitle{
		font-size:17px;
	}
	.BlogComments .Comment{
		padding-left:10px;
	}
	.threadText{
		padding-left:35px;
	}
	.ForumThreadSection{
		padding:0px !important;
	}
	.ForumThreadSectionBlock{
		padding:5px;
	}
	.MessageViewDivContent{
		text-align:left;
	}
	.ForumThreadSectionBlock .avatar{
		border:none;
		max-width:100% !important;
	}
	.suggestDiv{
		margin-top:10px;
	}

	.nav{
		text-align: center;
	}

	.nav li ul{
		top: 0px !important;
	}

	.navbar-nav .open .dropdown-menu{
		position: relative;
	}

	.navbar-collapse{
		max-height: none !important;
	}


}
@media screen and (max-width: 460px) {
	.PostJobMainDiv label{
		font-size:12px;
	}
	.PostJobMainDiv .form-control{
		height:30px;
	}
	.chosen-container-single .chosen-single{
		height:30px !important;
	}
	.chosen-container-multi .chosen-choices{
		height:30px !important;
	}
	.chosen-container-single .chosen-single span{
		margin-top:2px;
	}
	.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
		margin:0px;
	}
	.input-group .input-group-addon{
		padding:3px;
	}
	.PostJobDiv.custom-form-wrapper{
		padding:5px;
	}
	.PostJobMainDiv .container{
		padding:0px;
	}
	.setup-content .col-xs-12, .setup-content .col-md-12{
		padding:5px;
	}
	.main-container-outer.form-signup, .main-container-outer.form-signin{
		padding:0px;
	}
	.main-container-outer.form-signup .col-xs-12, .main-container-outer.form-signin .col-xs-12{
		padding:2px;
	}
	.main-container-outer.JobDetailMainDiv .container{
		padding:2px;
	}
	.hover-hire-info > p{
		font-size:13px; min-width:90px; width:90px;line-height: 1.6;
	}
	.hover-hire-info > div{
		margin:0px 5px;
	}
	.carousel-inner img{
		/* min-height:150px; */
	}
	.JobListsDiv .nav-tabs > li > a{
		font-size:12px;
	}
	.ToggleView{
		margin-top:10px;
	}
	.UserProfileSkills{
		min-height:185px;margin-bottom: 15px;
	}
	.hire, .work {
		padding: 3px 25px !important;font-size: 16px !important;
	}
	.gallery-heading{
		font-size: 22px;
		padding-top: 10px;

	}
	.UserProfileDiv{
		padding:5px;
	}
	.UserProfileDiv .Image img {
		margin:0 auto;
	}
	.UserProfileDiv .Name{
		font-size:18px;
	}
	.UserProfileDiv .Location {
		font-size: 12px;
	}
	.UserProfileDiv .Pitch {
		font-size: 12px;
	}
	.UserProfileDiv .Rating {
		float:none !important; clear:both;
	}
	.UserProfileDiv .Message {
		float: none !important;text-align: center;clear: both; margin-top:20px;
	}
	.UserProfileSection2 .UserProfileHire .JobTitle{
		font-size:12px;
	}
	.bx-wrapper .bx-controls-direction a.bx-prev{
		left:88% !important;
	}
	.bx-wrapper .bx-controls-direction a.bx-next{
		left:88% !important;
	}
	.EditProfile .col-xs-12{
		padding:0px !important;
	}
	.container > .navbar-header, .container > .navbar-collapse{
		margin:0px !important; float:left;
	}
	.navbar-brand img{
		max-width:250px;
	}
	.navbar-header.visible-xs{
		float:right;
	}
	.navbar-collapse.in{
		width:100%;
	}
	#job_search_form .col-md-4{
		padding:0px;
	}
	.SearchJobDiv label[for=job_type-0]{
		margin-left:10px;
	}
	.SearchJobDiv label[for=job_type-1]{
		margin-left:10px;
	}
	.UserProfileBanner{
		padding-left:0px !important; padding-right:0px !important;
	}
	.PostJobMainDiv #step-3 .col-md-4{
		padding:0px;
	}
	.JobFixedAmount:after, .JobRangeAmount:after{
		background-image:none;
	}
	.JobFixedAmount, .JobRangeAmount{
		margin-bottom:10px !important;
	}
	.PostJobMainDiv .form-control{
		line-height:1;
	}
	#infobox{
		padding:0px 5px !important;
	}
	.UserProfileAccountBtn{
		margin:0 auto; overflow:hidden; padding:10px 0px; text-align:center;
	}
	.UserProfileAccountBtn .hire{
		padding: 5px 25px !important; float:none !important;
	}
	.UserProfileDiv .Rating .fa{
		font-size:14px;
	}
	.UserProfileDiv .Rating small{
		font-size:10px;
	}

	.footer-link > li{
		display: block !important;
		width: 50% !important;
		float:left;
		text-align: left; padding:0px;
	}
	.footer-link > li > a{
		font-size:13px;
	}
	.breadcrumb li {
		font-size: 13px;
	}
	.BlogDetails h4{
		font-size: 14px;line-height: 1.4;
	}
	.BlogAllComments .work{
		clear:both; float:none !important;
	}
	.reportDiv{
		float: none !important; clear: both; margin-top: 10px;
	}
	.suggestDiv{
		float:none !important; clear:both;
	}
	.InboxDiv:after, .ComposeDiv:after, .HirerDiv:after, .WorkerDiv:after, .SentDiv:after, .DraftDiv:after{
		display:none;
	}
	.MessageBox .col-sm-9, .MessageBox .col-sm-3{
		padding:0px;
	}
	.table .Date{
		width:30%; font-size:10px;
	}
	.table .Message{
		font-size:10px;
	}
	.table .To{
		font-size:10px;
	}
	.table-scrollable > .table > thead > tr > th{
		font-size:11px;
	}
	.MessageFrom .pull-left, .MessageFrom .pull-right{
		float:none !important;
	}
	.MessageInDetail .ReplyForward{
		margin-top:10px;
	}
	#mapCanvas{
		margin-top:20px;
	}


	.nav{
		text-align: center;
	}

	.nav li ul{
		top: 0px !important;
	}

	.navbar-nav .open .dropdown-menu{
		position: relative;
	}

	.navbar-collapse{
		max-height: none !important;
	}

	.UserProfileDiv .hire i {
		color: #fff;
		font-size: 16px;
		margin-top: 0px;
	}


}

.avatar{
	border: 4px solid #f3f3f3;
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.46);
	border-radius:50% !important;
}


/* FORUM CSS START */

.ForumContentBlock input{
	min-height:55px;
}
.ForumContentDiv .Image,.ForumContentDiv .BlogTitle{
	padding:8px;

}
.ForumContentDiv{
	margin-bottom:15px;
	border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;text-decoration:none;
	color: #FFFFFF;
	background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.ForumContentDiv:hover{
	/*cursor:pointer;*/
	border:1px solid #bfc4c4;
	background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
	background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
.ForumContentDiv .AnswerDiv
{
	background-color:#07AE4D;
	color:#fff;
	padding:25px;
	min-height:115px;
}
.NoRecordFound{
	font-size:14px;
	color:#07AE4D;
}
.BlogCommentsDiv button{
	margin-bottom:20px !important;
}

.BlogAllComments textarea{
	min-height:100px;
}
.BlogAllComments .input-group {
	margin-top:10px !important;
}
.BlogAllComments .SiteButton{
	font-size: 14px !important;
	padding: 8px 10px !important;
	border:none !important;
	float:right;
	margin-bottom:10px;
}

.BlogAllComments .work{
	padding: 5px 10px !important;
	font-size: 12px !important;
}

.ForumThreadSectionBlock{
	background-color:#e2e2e2;
	border-radius:5px;
	overflow:auto !important;
	max-height:300px !important;
}
.ForumThreadSection{
	padding:10px;
	overflow:visible !important;
}

.ForumThreadSection:after, .ForumThreadSection:before {
	bottom: 100%;
	left: 3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(226, 226, 226, 0);
	border-bottom-color: #e2e2e2;
	border-width: 5px;
	margin-left: -5px;
}
.overflow-visible{
	overflow:visible;
}

.SearchPageHr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(73,86,165,0), rgba(73,86,165,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(73,86,165,0), rgba(73,86,165,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(73,86,165,0), rgba(73,86,165,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(73,86,165,0), rgba(73,86,165,0.75), rgba(0,0,0,0));
}

.CommentListBlockLabel{
	background-color:#07AE4D;
	color:#fff;
	padding:5px;
	text-align:center;
	border-radius:10px;
	float:right;
	font-size:12px;
}
.cursor{
	cursor:pointer;
}

#reportModal .btn-default,#improvementModal .btn-default,#skillModal .btn-default{
	border:1px solid #ccc !important;
}
.reportDiv{
	color:#07AE4D;
	font-weight:600;
	font-style:italic;
}
.suggestDiv{
	color:#1281AE;
	font-weight:600;
	font-style:italic;
}

.addSkillBtn{
	padding:5px 10px !important;
	font-size:12px !important;
}
.addSkillBtn .fa{
	color:#fff;
}

.NotifyMainContent img{
	width:100%;
	max-width:90px;
	margin:5px;
}
.NotifyMainContent span,.NotifyMainContent .UserName{
	font-size:15px !important;
	/*text-decoration:underline;*/
}

.NotifyMainContent .notifyType{
	font-size:13px !important;
	color:#fff !important;
}

.NotifyMainContent{
	background-color:rgba(226,226,226,0.8);
	padding:10px;
	overflow:visible;
	min-height:140px; margin-top:15px;
}

.NotifyMainContent:after, .NotifyMainContent:before {
	bottom: 100%;
	left: 3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(226, 226, 226, 0);
	border-bottom-color: #e2e2e2;
	border-width: 6px;
	margin-left: -6px;
}

.NotifyMainContent .ratingDiv img {
	width:auto !important;
}

.sociallikeDiv{
	background-color:rgba(255,255,255,0.8);
	border-radius:5px;
	padding:10px;
	min-height:150px;
}

.BackBtn{
	padding:5px 10px !important;
	font-size:14px !important;
	margin-bottom:20px;
}
.BackBtn .fa{
	color:#fff !important;
}
.ForumSearchBar{
	margin-top:10px; overflow:hidden;
}
.ForumSearchBar .hire{
	font-size:16px; font-weight:normal; padding:6px 20px; border-radius:4px !important; margin:0px;
}
.ForumSearchBar #keyword{
	background-image:url(../img/search_icon.png); background-repeat:no-repeat; background-position:right; background-color:#f5f5f5; background-size:contain;
}


/* FORUM CSS END */

/* Notifications - START */

.notification{
	width: 26px;
	height: 33px;
	line-height: 33px !important;
	display: inline-block !important;
	text-align: center;
	color: white !important;
	font-size: 12px;
	font-weight: bold;
	background-repeat: no-repeat;
	padding: 0 0 !important;
	margin-bottom: 10px !important;
	top: 5px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.notification-on{
	background-image: url('../img/notification-on.png');
}

.notification-off{
	background-image: url('../img/notification-off.png');
}

.agreement-link{
	font-weight: bold;
	text-decoration: underline;
}

/* Notifications - END */

/* Profile Avator - START */

.thumbnail-user-profile{
	width: 40px;
	height: 40px;
	border-radius: 50% !important;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.thumbnail-user-profile-medium{
	width: 200px;
	height: 200px;
	border-radius: 50% !important;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	text-align: center;
	border:5px solid #07AE4D;
}

.medium-img {
	top: 50%;
	left: 50%;
	border: none !important;
}

.thumbnail-img{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 40px;
	min-height: 40px;
	margin-top: -20px;
	margin-left: -30px;
	width: 60px;
}

.thumbnail-user-profile-large{
	width: 250px;
	height: 250px;
	border-radius: 50% !important;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	text-align: center;
	border: 5px solid #07AE4D;
}

.thumbnail-user-profile-large-service-providers{
	width: 170px;
	height: 170px;
	border-radius: 50% !important;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	text-align: center;
	border: 5px solid #07AE4D;
}

.thumbnail-img-large{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 250px;
	min-height: 250px;
	margin-top: -125px !important;
	margin-left: -150px !important;
	width: 300px !important;
	height: auto !important;
	border: 0px !important;
	max-width: 300px !important;
}

.nav .dropdown .dropdown-toggle .caret{
	position: absolute;
	margin-top: -20px;
	margin-left: 45px;
}

.hidden-element{
	display: none !important;
}

/* Profile Avator - END */

.ReplyForward{
	float: right;
}


.no-fees-div{
	display: none;
}

.JobListDiv .Desc{
	min-height: auto;
	height: 80px;
	overflow: hidden;
}

.rating-service-providers{
	float: left;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

.rating-service-providers img{
	float: none !important;
}

.ServiceProviderDetails .Name{
	padding-top: 10px;
}

.ServiceProviderDetails .Location{
	padding-bottom: 5px;
}

.skills-endorse-div-full{
	width: 100%;
	float: left;
}

.skills-endorse-div-left{
	float: left;
	width: 50%;
}

.skills-endorse-div-left img{
	max-width: 100%;
	height: auto;
}

.skills-endorse-div-right{
	float: left;
	width: 50%;
	text-align: right;
}

.skills-endorse-div-right img{
	max-width: 100%;
	height: auto;
}

#infobox .img-responsive, #infobox * .img-responsive{
	width: 50px;
	max-width: 50px;
	border-radius: 50px;
}

.grayed-out{
	cursor: default !important;
	background-color: darkgrey !important;
	box-shadow: 0px 0px !important;
}

.grayed-out:hover{
	box-shadow: 0px 0px !important;
}

@media screen and (min-width: 1200px) {

	.no-fees-div{
		display: block;
		position: absolute;
		left: 0px;
		bottom: 0px;
		z-index: 999;
	}

}


/*icon change*/
body .job_form .input-group-sm .fa-align-justify::before {content: "\f009";}




.setup-panel .btn-primary + p {
	color: #428bca;
}
.UserProfileDiv .thumbnail-img-medium {
	border-radius: 50%;
}
.hire.btn.pull-right {
	margin-left: -15px;
}
#step-4 .work.BackBtn {
	float: right;
	margin-top: -30px;
}

.steps_redirect {
	cursor: pointer;
}
.reply {
	color: black;
	font-weight: bold;
}

.posting-min-price span .help-block {
	bottom: -45px;
}

.posting-max-price span .help-block {
	bottom: -62px;
}

@media screen  {
	.account-setting
	{
		float: left !important;
	}
}

.popover{
	width: 230px;
}
.maintenance-message{
	background-color: #f2dede;
	border-color: #ebccd1;
	color:#a94442;text-align: center;
	font-size: 16px;
	padding: 10px 0 10px 0;
}
.bootstrap-validator-form .help-block{margin-bottom:0}

.bs-callout {
	margin: 20px 0;
	padding: 20px 20px 20px 20px;
	border-left: 3px solid #eee;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout-danger h4 {
	color: #d9534f;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fdf7f7;
	border-color: #d9534f;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
span.help-block {
	font-weight: bolder;
}
.bootstrap-validator-form .help-block {
	font-weight: bold;
}
.cvv .help-block
{

	top: 36px;
	white-space: nowrap;
}
.has-success .form-control-feedback {
	display: none !important;
}
#myCarousel .slider-background{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 410px !important;
	padding: 65px 0 90px;
}

@media(max-width: 480px){


	#myCarousel .slider-background{
		height: 300px !important;

	}

	span.ga-ribbon {
		right: -30px;
		bottom: 17px;
	}
}

button:disabled {
	cursor: not-allowed;
	pointer-events: all !important;

}
.btn-postjob-disable{

	background: #2e2e2e  !important;
	box-shadow: 0 4px #2e2e2e  !important;
	padding: 5px 10px !important;
	font-size: 14px !important;
	border-radius: 4px !important;
	font-weight: 500 !important;



}