<style >

/**/
    /*#myCarousel .slider-background img {*/
        /*min-height: 220px;*/
    /*}*/


    @media(max-width: 480px){


        #carousel-gallry .ga-title{
        padding-bottom: 5px;
            font-size: 1em;
        }

        #carousel-gallry .ga-cat,
        #carousel-gallry .ga-type,
        #carousel-gallry .ga-budget,
        #carousel-gallry .ga-date,
        #carousel-gallry .ga-location,
        #carousel-gallry .ga-ribbon {


            margin-top: 5px;
            margin-bottom: 5px;
        }

        #carousel-gallry a, #carousel-gallry span,#carousel-gallry strong,#carousel-gallry li{
            font-size: 0.92em;
        }
        #carousel-gallry h3{
            font-size: 0.95em;
        }
        #post-gallry{

            padding: 0px !important;

        }

        /*#myCarousel .slider-background{*/
            /*height: 245px;;*/
        /*}*/
        #myCarousel .slider-background img {
            height: 100%;
        }
        #myCarousel .slider-content{
            top: 40% !important;
        }

    }

</style>

<section id="post-gallry" class="bggreen" style="     padding: 10px;   background-color: #06ae4e;">
    <h2 class="gallery-heading"><strong>Homepage Gallery</strong></h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carousel-gallry" class="carousel slide text-left" data-ride="carousel" data-type="multi" data-interval="10000">
                    <div class="carousel-inner" role="listbox" >
                        <?php
                        $counter = 0;
                        foreach ($this->gallery_jobs as $job){
                            $counter++;
                            ?>
                            <div class="item <?php echo $counter===1? "active" : ""; ?>">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <a href="<?php echo SITE_HTTP_URL ."/job-details/". $job["job_id"]; ?>" class="gallry-item">
                                        <div class="ga-title text-left"> <h3> <i class="fa fa-cog"></i><?php echo strlen($job["job_title"])>= 35 ? substr($job["job_title"], 0,30)."..." : $job["job_title"]; ?></h3></div>
                                        <div class="ga-cat">
								      			<span class="lebel-title">
								      				<i class="fa fa-sitemap"></i> <strong> Category: </strong>
								      			</span>
                                            <ul class="ga-cat-items">
                                                <li> <?php echo $job["category_title"]; ?></li>
                                            </ul>
                                        </div>
                                        <div class="ga-type">
								      			<span class="lebel-title">
								      				<i class="fa fa-briefcase"></i> <strong> Type of Work: </strong>
								      			</span>
                                            <ul class="ga-type-items" >
                                                <li><?php echo getWorkType($job["job_type_of_work"]) ?></li>
                                            </ul>
                                        </div>
                                        <div class="ga-budget">
								      			<span class="lebel-title">
								      				<i class="fa fa-money"></i> <strong> Budget: </strong>
								      			</span>
                                            <ul class="ga-budget-items">
                                                <?php if($job['job_budget_type']=='0'){?> <!-- FIXED BUDGET -->
                                                    <?php if($job['job_fix_type']=='0'){
                                                        echo '<i class="fa fa-dollar"></i>'.$job['job_budget']; }
                                                    else{
                                                        echo '<i class="fa fa-dollar"></i>'.$job['job_budget'].' per hour'; }?>
                                                <? }else{ ?> <!-- BUDGET IN RANGE -->

                                                    <?php
                                                    echo '<li><span><i class="fa fa-dollar"></i>'.$job['job_min_price'].' </span></li> - <li><span><i class="fa fa-dollar"></i>'.$job['job_max_price'].'</span></li>'?>
                                                <? }?>

                                            </ul>

                                        </div>

                                        <div class="ga-date">
								      			<span class="lebel-title">
								      				<i class="fa fa-calendar"></i> <strong>&nbsp;Completed before: </strong>
								      			</span>

                                            <ul class="ga-date-items">
                                                <li><span><?php echo date('M d, Y',strtotime($job["job_closing_date"]));?> </span></li>
                                            </ul>

                                        </div>

                                        <div class="ga-location">
								      			<span class="lebel-title">
								      				<i class="fa fa-map-marker text-center"></i> <strong>&nbsp;Postcode:  </strong>
								      			</span>

                                            <ul class="ga-loca-items">
                                                <li><span><?php echo strstr($job["job_location"] , " ") ; ?></span></li>
                                            </ul>
                                        </div>
								      		 <span class="ga-ribbon ">
                                                 <?php if($job['job_type']==0) {?>
								      			<span>Online job</span>
                                                <?php } else { ?>
								      			<span>physical job</span>
                                                <?php } ?>
								      		</span>
                                    </a>
                                </div>
                            </div>
                        <?php }?>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-gallry" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-gallry" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section>

<div class="join-today col-sm-12">
    <h1>Welcome to The Job Mill!</h1>

    <div class="homepage-content"><?php echo $this->site_pages['Home']; ?></div>

    <button type="button" class="learn-more hvr-sweep-to-bottom" onclick="window.location='<?php echo $this->url(array(),'about_us')?>'">Learn more about The Job Mill</button>

</div>

<style>.gmap-area { display: none;}

    @-moz-document url-prefix() {
        .hover-info {
            padding:13.5px !important;
        }
    }
</style>

    <script type="text/javascript">

        $(".dropdown-toggle").on("click",function(){

            $(this).parent().addClass("open");
        });
    </script>