 <!-- THEJAMPSTOP -->
 <!--Erorr Phtml  -->
 <!-- pages       -->
<div class="col-md-8 col-md-offset-2">
    <?php /*?><h1><?php echo $this->message ?></h1><?php */?>
    <img src="<?php echo FRONT_IMAGES_PATH?>/error_404_new.png" />
    
    <?php echo @$this->hiddenmessage ?>
    <?php if (isset($this->exception)): ?>
    
    <h3>Exception information:</h3>
    <p>
    <b>Message:</b> <?php echo $this->exception->getMessage() ?>
    </p>
    
    <?php if(isset($this->lastQuery)){ ?>
    <p>
    <b>Last Query:</b> <pre><?php print_r($this->lastQuery); ?></pre>
    </p>
    <?php } ?>
    
    
    <h3>Stack trace:</h3>
    <pre><?php echo $this->exception->getTraceAsString(); ?>
    </pre>
    
    <h3>Request Parameters:</h3>
    <pre><?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
    </pre>
    
    <?php endif ?>
</div> 
  