<?php /*?><div class="fix-pages">
	<h1 class="static-content-heading"><?php echo $this->content['page_title'];?></h1>
	<hr />
    <div class="row">
        <div class="col-md-12">
            <div class="page-content">
                <div class="static-page-header">
                    <div class="get-started text-center">
                        <h2>How to Reach Us?</h2>
                        <p class="lead">
                        We are always thrilled to receive anything about your requirement.
                        </p>
                        <div class="request">
                            <h4>
                                <a href="javascript:void(0)" class="simple" id="DropMessage" >
                                &nbsp;Drop Your Message&nbsp;
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                
                <div class="contact-page-adddress">
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <p class="glyphicon glyphicon-map-marker icons_font_contact"></p>
                            <h3>Address</h3>
                            <div class="dynamic-content">
                                <p>
                                The White House 1600 Pennsylvania Ave NW, Washington, DC 20500, United States
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <p class="glyphicon glyphicon-envelope icons_font_contact"></p>
                            <h3>E-mails</h3>
                            <div class="dynamic-content">
                                <p>
                                <a href="mailto:support@getterdone.com">support@getterdone.com</a>
                                </p>
                                <p>
                                <a href="mailto:noreply@getterdone.com">noreply@getterdone.com</a>
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <p class="glyphicon glyphicon-earphone icons_font_contact"></p>
                            <h3>Phone number</h3>
                            <div class="dynamic-content">
                                <p>+33 (0)4 82 53 52 56</p>
                                <p>+33 (0)4 82 53 52 56</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><?php */?>

<div class="common-bg">
	<div class="forgot-bg">
    	<h1><i class="fa fa-envelope IconColor"></i><?php echo $this->content['page_title'];?></h1>
        <hr/>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">	
                		<?php echo $this->content['page_content']?>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">	
                	<div class="common-inner">
						<?php echo $this->form;?> 
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
