<div class="container">
	<div class="fix-pages">
        <h1 class="static-content-heading"><?php echo $this->content['page_title'];?></h1>
        <hr />
        
        <?php if($this->content['page_id']=='4'){?>
        <img src="<?php echo FRONT_IMAGES_PATH?>/banner2.png" class="img-responsive" />
		<? }?>
        <div class="row">
            <div class="col-md-12">
                <div class="page-content"><?php echo $this->content['page_content']?></div>
            </div>
        </div>
     </div>
</div>

 