<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="<?php echo $this->url(array(),'admin_dashboard',true)?>">
				<img src="<?php echo HTTP_IMG_PATH?>/logo.png" alt="logo" class="img-responsive" style="display:inline-block; margin-top:6px;max-width:166px;"/>
			</a>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<!--<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="icon-bell"></i>
					<span class="badge badge-default"> 7 </span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<p>
								 You have 14 new notifications
							</p>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height:50px;">
								<li>
									<a href="#">
									<span class="label label-sm label-icon label-success">
									<i class="fa fa-plus"></i>
									</span>
									New user registered. <span class="time">
									Just now </span>
									</a>
								</li>
								
							</ul>
						</li>
						<li class="external">
							<a href="#">
							See all notifications <i class="m-icon-swapright"></i>
							</a>
						</li>
					</ul>
				</li>-->
				<!-- END NOTIFICATION DROPDOWN -->
				<!-- BEGIN INBOX DROPDOWN -->
				<!--<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="icon-envelope-open"></i>
					<span class="badge badge-default">
					4 </span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<p>
								 You have 12 new messages
							</p>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height:50px;">
								<li>
									<a href="inbox14c8.html?a=view">
									<span class="photo">
									<img src="<?php echo getUserImage($this->user->user_image,'60')?>" alt=""/>
									</span>
									<span class="subject">
									<span class="from">
									Lisa Wong </span>
									<span class="time">
									Just Now </span>
									</span>
									<span class="message">
									Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
									</a>
								</li>
 							</ul>
						</li>
						<li class="external">
							<a href="inbox.html">
							See all messages <i class="m-icon-swapright"></i>
							</a>
						</li>
					</ul>
				</li>-->
				<!-- END INBOX DROPDOWN -->
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="admin-nav-img img-circle" src="<?php echo getUserImage($this->user->user_image,'60')?>"/>
						<span class="username">	Bob </span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="<?php echo $this->url(array(),'admin_profile',true)?>">
							<i class="icon-user"></i> My Profile </a>
						</li>
					<!--	<li>
							<a href="page_calendar.html">
							<i class="icon-calendar"></i> My Calendar </a>
						</li>
						<li>
							<a href="inbox.html">
							<i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
							3 </span>
							</a>
						</li>
						<li>
							<a href="#">
							<i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
							7 </span>
							</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="extra_lock.html">
							<i class="icon-lock"></i> Lock Screen </a>
						</li>
-->						<li>
							<a href="<?php echo $this->url(array(),'admin_logout',false)?>">
							<i class="icon-key"></i> Log Out </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->



<?php if(false){?>
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="container-fluid">
           
            <!-- BEGIN LOGO -->
            <a class="brand" href="<?php echo $this->baseUrl('admin')?>">
           		 <img src="<?PHP echo ADMIN_ASSETS_PATH?>/img/logo.png" alt="<?php echo $this->site_configs['site_title']?>" />
            </a>
            <!-- END LOGO -->
           
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->	
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            	<img src="<?PHP echo ADMIN_ASSETS_PATH?>/img/menu-toggler.png" alt="" />
            </a>          
            
            <!-- END RESPONSIVE MENU TOGGLER -->				
            <!-- BEGIN TOP NAVIGATION MENU -->					
            <ul class="nav pull-right">
				<?php 	$adminData =(array)$this->user;?>
            
                <li class="dropdown user">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<?php 
							 
                            if(!empty($adminData['admin_image']) and file_exists(ROOT_PATH.ADMIN_PROFILE."/".$adminData['admin_image'])){
                                $path =  $this->baseUrl().ADMIN_PROFILE."/thumb/".$adminData['admin_image'] ;
                            }else{
                                $path =  $this->baseUrl().ADMIN_PROFILE."/thumb/default.png" ;
                            }
                        ?>
                        <img src="<?php echo $path?>" alt="<?php $adminData['admin_nicname']?>" class="admin-image-nav"/>
                        <span class="username"> <?php echo ucwords($adminData['admin_first_name']." ".$adminData['admin_last_name'])?> </span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->baseUrl('/admin/profile')?>"><i class="icon-user"></i> Profile</a></li>
                        <li><a href="<?php echo $this->baseUrl('/admin/index/changepassword')?>"  id="ax" ><i class="icon-key"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="<?php echo $this->baseUrl()."/admin/index/logout"?>"><i class="icon-off"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->	
        </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->


<?php  } ?>
