<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" >
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>

<?php 
	echo $this->headMeta();
	echo $this->headTitle('Admin Login');
	echo $this->headLink();
	$model = new Application_Model_Static();
	$Siteimages = $model->Super_Get("background_images","1","fetchAll");
?>
<link rel="shortcut icon" href="<?=HTTP_BG_IMAGES_PATH?>/<?php echo $Siteimages[11]['bg_file']?>">

<script> var baseUrl = '<?php echo APPLICATION_URL?>';</script>

</head>
<!-- END HEAD -->


<!-- BEGIN BODY -->
<body class="login">

	<!-- BEGIN LOGO -->
	<div class="logo" style="margin-top:10%;">
		<a href="<?php $this->url(array(),'admin_login');?>">
		<img  src="<?php echo HTTP_IMG_PATH?>/logo.png" alt="" style="max-width:400px;"/>
		</a>
	</div>
	<!-- END LOGO -->
	
	
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler"></div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	
	
	<!-- BEGIN LOGIN -->
	<div class="content">
	
		<?php echo $this->getHelper("Messages")->getMessages();?>
		<!-- BEGIN LOGIN FORM -->
		<form class="login-form"   method="post">
			<h3 class="form-title">Login to your account</h3>
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span>
				Enter any username and password. </span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Username</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<?php echo $this->form->user_email?>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i>
						<?php echo $this->form->user_password?>
				   </div>
			</div>
			<div class="form-actions">
				<label class="checkbox">
				<?php /*?><input type="checkbox" name="remember" value="1"/> Remember me </label><?php */?>
				<button type="submit" class="btn green pull-right"> Login <i class="m-icon-swapright m-icon-white"></i> </button>
			</div>
		</form>
		<!-- END LOGIN FORM -->
	</div>
	<!-- END LOGIN -->
	
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		 <?=date('Y')?> &copy; 
		<?php echo $this->site_configs['site_title'];?> 
	</div>


	<?php echo $this->headScript(); // Javascript?>


	<script type="application/javascript">
	jQuery(document).ready(function() {     
		Metronic.init(); // init metronic core components
		Login.init();
	});
	</script>
</body>
</html>