<?php 
$queryString = "";
if(@count($this->getHelper('baseUrl')->view->queryString) > 0 && @is_array($this->getHelper('baseUrl')->view->queryString))
$queryString = http_build_query($this->getHelper('baseUrl')->view->queryString); 
$page_vars=$this->getVars(); 
?>
<style>
.pagination ul
{
	list-style:none; padding:0px;  overflow:hidden; margin-bottom:0px;
}
.pagination ul li
{
	float:left;font-size: 14px;margin-right: 5px; margin-left:5px;border:1px solid #cccccc; border-radius:2px; padding:8px 0px; background-color:#008AB3; width:40px;
	text-shadow:0px 0px;
}
.pagination ul li a 
{
	color:#ffffff !important;
}
.pagination ul li.disabled
{
	color:#ffffff; background-color:#cccccc;
}

</style>
<div class="row">
	<div class="col-md-12 pagingMainDiv">
        <?php if($this->pageCount){?>
        <?php /*?><div class="pull-left">
            <select name="number_records" style="width:auto; height:2em" class="pull-left" onchange="changeItemCount(this)" >
                <option value="10" <?php  if($this->itemCountPerPage == 10) echo "selected='selected'"; ?>>10</option>
                <option value="25" <?php  if($this->itemCountPerPage == 25) echo "selected='selected'"; ?>>25</option>
                <option value="50"	<?php  if($this->itemCountPerPage == 50) echo "selected='selected'"; ?>>50</option>
                <option value="100"	<?php  if($this->itemCountPerPage == 100) echo "selected='selected'"; ?>>100</option>
                <option value="150" <?php  if($this->itemCountPerPage == 150) echo "selected='selected'"; ?>>150</option>
                <option value="200" <?php  if($this->itemCountPerPage == 200) echo "selected='selected'"; ?>>200</option>
            </select>  
        </div><?php */?>
        
        <div class="pagination margin-0" >
            <ul>
                <!-- Previous page link -->
                <?php if (isset($this->previous)){ ?>
                	<li>
                    	<a href="<?php echo $this->url(array('page' => $this->previous)).(($queryString!="")?"?".$queryString:""); ?>">&laquo;</a> 
                    </li>
                <?php }else{ ?>
                	<li class="disabled">
                    	<a href="#">&laquo;</a> 
                    </li>
                <?php } ?>
                
                <?php 
                foreach($this->pagesInRange as $page=>$pageno)
				{
                	if($this->current!=$pageno)
					{ 
				?>		
                <li> 
                	<a href="<?php echo $this->url(array('page' => $pageno)).(($queryString!="")?"?".$queryString:""); ?>"><?=$pageno?></a>
                </li>
                <?php 
					}
					else
					{ 
				?>
                <li class="disabled">
                	<?=$pageno?>
                </li>
                <?php 
					}
                }
                ?>
                
                <?php if(isset($this->next)){?>
                <li>
                	<a href="<?php echo $this->url(array('page' => $this->next)).(($queryString!="")?"?".$queryString:""); ?>">&raquo; </a>
                </li>  
                <?php }else{ ?>
                <li class="disabled">
                	<a href="#">&raquo; </a>
                </li>  
                <?php } ?>
            </ul>
        </div>
        <div class="clearfix"></div>
        <?php /*?><div class="row">
            <div class="col-md-12 text-left" style="margin-top:20px;">
            	<h4 class="margin-0"><?php echo $this->firstItemNumber; ?> - <?php echo $this->lastItemNumber; ?> of  <?php echo $this->totalItemCount; ?></h4>
            </div>
        </div><?php */?>
        <?php }?>
     </div>
</div>

 
<script type="text/javascript">
function changeItemCount(sel){
	var currUrl='<?php echo $this->url();?>';	
	var currUrl='<?php echo $this->url(array('itemcountpage' => 'setitemcount')) ?>';	
	if(currUrl.indexOf("?")>=0){
		currUrl="<?php $this->url() ?>?itemcountpage="+sel.value ;
	}else{
		var currUrl='<?php echo $this->url(array('itemcountpage' => 'setitemcount')).(($queryString!="")?"?".$queryString:""); ?>';	
		currUrl=currUrl.replace("setitemcount",sel.value);	
	}

	window.location=currUrl ;
}
</script>
