<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="<?php echo $this->pageIcon?>"></i><?php echo $this->pageHeading?>
				</div>
			</div>
			<div class="portlet-body form">
				<div class="form-body">
					<?php echo $this->form ;?>
				</div>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
<?php
if(isset($this->cust_show_image) and $this->cust_show_image ){
	if(isset($this->prefix)){/* For Custmoization Steps */
		include(ROOT_PATH."/private/customizer_contstant.php");
		global $_options_array_customizer , $_parent_child_relation_customization ;
		$prefix = $this->prefix ;
		$_settings = $_options_array_customizer[$_parent_child_relation_customization[$prefix]];
		$image_key = $_settings['child'][$prefix]['prefix']."_child_thumb";
		if(!isset($this->page_content[$image_key])){
			$image_key = $_settings['child'][$prefix]['prefix']."_cust_thumb";
		}

		if(isset($this->page_content[$image_key]) and !empty($image_key) and file_exists($_settings['directory_path']['directory_path']."/".$this->page_content[$image_key])){
			$http_image_name = $_settings['directory_path']['http_path']."/thumb/".$this->page_content[$image_key];
			$element_image = '<p><img src="'.$http_image_name.'" alt="$image_name" /></p>';
			?>
			<script type="text/javascript">
				$(document).ready(function(e) {
					$('#<?php echo $image_key?>').parent().after('<?php echo $element_image ?>');
				});
			</script>
		<?php
		}
	}else{
		/* Show thumbs for other  */
		$image_fields = array_flip (array("product_thumb","product_banner_image"));
		$current_image_fields = array_intersect_key($this->page_content,$image_fields);
		foreach($current_image_fields as $image_key=>$values){
			if(isset($this->page_content[$image_key]) and !empty($image_key) and file_exists(PRODUCT_IMAGES_PATH."/1x1/".$this->page_content[$image_key])){
				$http_image_name =HTTP_PRODUCT_IMAGES_PATH."/1x1/".$this->page_content[$image_key];
				$element_image = '<p><img src="'.$http_image_name.'" alt="$image_name" /></p>';
			?>
			<script type="text/javascript">
				$(document).ready(function(e) {
					$('#<?php echo $image_key?>').parent().after('<?php echo $element_image ?>');
				});
			</script>
		<?php
		}
		}
	}
}
?>
<script>

	var toggleSelectedEmails = function(){
		type = $('select[name="email_type"]').val();
		if(type == 3){
			$('[name="selected_email"]').parent().show();
		}else{
			$('[name="selected_email"]').parent().hide();
		}
	};
    $(document).ready(function(e) {
        $('[name=selected_email]').tooltip({
            trigger: "focus"
        });

		toggleSelectedEmails();
    });
    var emailShow = $('[name="selected_email"]:disabled').length;
    var type = $('select[name="email_type"]').val();
    //Check if page is add or edit
    if(emailShow == 0){
        $('[name="selected_email"]').parent().hide();
    }

    $('select[name="email_type"]').change(toggleSelectedEmails);


</script>