<div class="col-sm-12 BlogCategoryDiv custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Browse Topics<br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    
    <!-- SEARCH BAR STARTS -->
    <div class="col-md-5 ForumSearchBar pull-right">
        <form name="search_form" id="search_form" method="post" action="<?php echo $this->url(array('controller'=>'forum','action'=>'index','search'=>'1'),'default',true)?>">
    		<div class="col-md-9 padding-0">
            	<input type="text" name="keyword" id="keyword" class="form-control" <?php if(isset($this->data_post) && !empty($this->data_post)){?> value="<?php echo $this->data_post['keyword']?>" <? }?> />
            </div>
            
            <div class="col-md-3 text-right padding-0">
            	<button type="submit" class="btn hire">Search</button>
            </div>
        </form>
    </div>
    <!-- SEARCH BAR ENDS -->
    
    <p class="clear">&nbsp;</p>
    
    <div class="col-sm-12 overflow text-center padding-0 ForumContentBlock"> 
        
        <!-- POST TOPIC FORM START -->
        <div align="left">
            <h3>Post Your Topic Here..</h3>
            <?=$this->topicForm?>
        </div>
        <!-- POST TOPIC FORM END -->
        <p class="clear">&nbsp;</p>
        <hr />
    	<?php 
		if(count($this->forumTopicData)>0){
		foreach($this->forumTopicData as $forumTopicData){
			if(strlen($forumTopicData['forum_topic'])>200)
				$topicDesc=substr($forumTopicData['forum_topic'],0,200)."...";
			else
				$topicDesc=$forumTopicData['forum_topic'];
		?>
        <div class="col-sm-12 padding-0 BlogDiv ForumContentDiv overflow">
            <div class="col-sm-1 Image padding-0" style="max-width:60px;">
            	<a href="<?php echo $this->url(array('user_id'=>$forumTopicData['user_id']),'user_profile')?>">
                	<img src="<?php echo getUserImage($forumTopicData['user_image'],'60')?>" class="avatar img-responsive" />
                </a>
            </div>
            <div class="col-sm-10 BlogTitle padding-0">
            	<?php echo strtoupper($forumTopicData['forum_cat_id']);?><br />
                <a href="<?=$this->url(array('forum_id'=>$forumTopicData['forum_id']),'front_topic_detail')?>">"<?php echo $topicDesc?>"</a>
                &nbsp;
                <a href="<?=$this->url(array('forum_id'=>$forumTopicData['forum_id']),'front_topic_detail')?>"><small><i>view more....</i></small></a>
                <br />
                <small>Posted on <?php echo date('M d, Y',strtotime($forumTopicData['forum_added_date']));?></small>
            </div>
             <div class="col-sm-1 padding-0 AnswerDiv pull-right">
                <?=$forumTopicData['totalThreads']?><br/><span>Posts</span>
            </div>
        </div>
        <? } }else{ echo '<h4>No Topics Found</h4>';}?>
    </div>
    <p class="clear">&nbsp;</p>
</div>
<style>
#forum_cat_id{
	border-top-left-radius: 4px !important;  border-bottom-left-radius: 4px !important;border-top-right-radius: 0px !important;  border-bottom-right-radius: 0px !important; 		
	min-height:55px;
}
</style>
<script>
$(document).ready(function(e) {
    $('#forum_cat_id').closest('div.form-group').css('float','left');
	$('#forum_cat_id').closest('div.form-group').css('width','25%');
	$('#forum_topic').closest('div.form-group').css('width','75%');
	$('#forum_topic').closest('div.form-group').css('overflow','hidden');
	if(window.outerWidth<700){
		$('#forum_cat_id').closest('div.form-group').css('width','100%');
		$('#forum_topic').closest('div.form-group').css('width','100%');
		$('#forum_topic').closest('div.form-group').css('padding-right','0');
	}
});
</script>