
<div class="col-sm-12 BlogCategoryDiv custom-form-wrapper padding-0" <?php /*?>style="margin-top: 180px;"<?php */?>>
    <div class="col-sm-12 overflow text-center BlogDetails padding-0">
    	
        
          <?php
			if(strlen($this->forumTopicData['forum_topic'])>150)
				$topicDesc=substr($this->forumTopicData['forum_topic'],0,150)."...";
			else
				$topicDesc=$this->forumTopicData['forum_topic'];
		?>
        <div class="BlogBreadcrumb text-left">
            <ul class="breadcrumb">
                <li><a href="<?php echo $this->url(array(),'front_forums')?>">Forum</a></li>
                <li class="active"><?php echo $topicDesc;?></li>
            </ul>
    	</div>
        
      
        <h4 align="left">
        	"<?php echo $this->forumTopicData['forum_topic'];?>"<br />
        </h4>
        <p class="text-left">
        	<small>Posted on <?php echo date('M d, Y',strtotime($this->forumTopicData['forum_added_date']));?></small>
        </p>
        <p>&nbsp;</p>
        
        <div class="BlogComments">
        	<div class="BlogAllComments text-left">
            	
                <hr />
                <div class="CommentDiv clear overflow">
                	<?php 
					if(count($this->forumThreadData)>0) {
						foreach($this->forumThreadData as $forumThreadData){
						
						$modelUser = new Application_Model_User();	
						$forumCommentData = $modelUser->Super_Get('forum_comments',"fc_thread_id='".$forumThreadData['f_thread_id']."'","fetchAll",array(),array('0'=>array('0'=>'users','1'=>'user_id=fc_user_id','2'=>'full','3'=>array('user_first_name','user_last_name','user_image'))));
					?>
                   		 <div class="clear CommentList overflow">
                                <div class="Image padding-0">
                                    <img class="img-responsive" style="display:inline-block;" src="<?php echo getUserImage($forumThreadData['user_image'],'thumb')?>" />
                                </div>
                                
                     		   <div class="col-sm-12 Comment padding-0 overflow">
                               			<label class="CommentListBlockLabel"><?=count($forumCommentData)?><br/>Comments</label>
                                    
                                    <div class="clear">
                                        <h5>
                                            <?php echo $forumThreadData['user_first_name']?>
                                        </h5>
                                        <p class="Date">
                                            <i class="fa fa-calendar"></i> <?php echo date('F M d, Y',strtotime($forumThreadData['f_added_date']))?>&nbsp;&nbsp;
                                            <i class="fa fa-clock-o" style="font-size:14px;"></i> <?php echo date('H:i a',strtotime($forumThreadData['f_added_date']))?>
                                            <?php 
                                            if(!empty($this->user)){
                                            if($this->user->user_id==$forumThreadData['f_user_id']){?>
                                                <a href="<?php echo $this->url(array('controller'=>'forum','action'=>'deletethread','f_thread_id'=>$forumThreadData['f_thread_id'],
                                                'forum_id'=>$this->forumTopicData['forum_id']),'default',true)?>">
                                                    <i class="fa fa-times pull-right" style="cursor:pointer;"></i>
                                                </a>
                                            <? } }?>
                                        </p>
                                    </div>
                                    <hr />
                           <div class="threadText"><?php echo $forumThreadData['f_thread'];?></div>
                            
                            <p class="clear"></p>
                            <div class="clear">
                                <button class="work SiteButton pull-left" value="ENTER COMMENT" type="button" 
                                onclick="postComment('<?=$forumThreadData['f_thread_id']?>')">ENTER COMMENT</button>
                                
                                <div class="pull-right cursor reportDiv" onclick="reportPost('<?=$forumThreadData['f_thread_id']?>','<?=$this->forumTopicData['forum_id']?>')">Report User</div>
                                <div class="clear cursor pull-right suggestDiv" onclick="suggestPost('<?=$forumThreadData['f_thread_id']?>','<?=$this->forumTopicData['forum_id']?>')">Suggest for Improvement</div>
                            </div>
                            
                            <p class="clear">&nbsp;</p>
                            
                                 <!-- REPLY MESSAGE HERE START -->
                                  <div class="overflow clear hide" align="left" id="commentSection<?=$forumThreadData['f_thread_id']?>">
                                  <form action="" method="post" name="message_form<?=$forumThreadData['f_thread_id']?>" id="message_form<?=$forumThreadData['f_thread_id']?>"
                                               class="message_form" enctype="multipart/form-data">
                                               
                                                   <div class="col-sm-12 clear overflow" id="MessageText">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-addon fa fa-comment EmployerAddon" id="fc_comment-label">&nbsp;</span>
                                                            <textarea rows="5" class="required form-control" 
                                                            id="fc_comment<?=$forumThreadData['f_thread_id']?>" name="fc_comment[]"></textarea>
                                                            <input type="hidden" name="fc_thread_id" id="fc_thread_id" value="<?=$forumThreadData['f_thread_id']?>" />
                                                            <input type="hidden" name="f_forum_id" id="f_forum_id" value="<?=$this->forumTopicData['forum_id']?>" />
                                                        </div>
                                                        
                                                          <button class="hire SiteButton" value="POST COMMENT" type="button" 
                                                            id="fc_comment_btn<?=$forumThreadData['f_thread_id']?>" name="fc_comment_btn" 
                                                            onclick="checkReplyForm('<?=$forumThreadData['f_thread_id']?>')">POST COMMENT</button>
                                                           <p class="clear">&nbsp;</p> 
                                                  </div>  
                                                    
                                 </form>
                                 
                                 </div> 
                                 <!-- REPLY MESSAGE HERE START -->
                                 
                                 
                                  <!-- VIEW ALL COMMENTS START -->
                                  	
                                    <?php if(count($forumCommentData)>0) { ?>
                                    		<div class="col-sm-10 pull-right clear overflow-visible ForumThreadSectionBlock">
                                            
                                            	<?php foreach($forumCommentData as $AllComments) { ?>
                                                    <div class="col-sm-12 ForumThreadSection">
                                                      <?php 
														if(!empty($this->user)){
														if($this->user->user_id==$AllComments['fc_user_id']){?>
															<a href="<?php echo $this->url(array('controller'=>'forum','action'=>'deletecomment','fc_comment_id'=>$AllComments['fc_comment_id'],'forum_id'=>$this->forumTopicData['forum_id']),'default',true)?>">
																<i class="fa fa-times pull-left" style="cursor:pointer;"></i>
															</a>
														<? } }?>
                                            
                                                      <div class="col-xs-10 col-sm-11 MessageViewDivContent overflow padding-0 clear" align="right">
                                                            <p>
                                                                <span class="MsgName"><?=$AllComments['user_first_name']?></span>
                                                                <span><?=date('d F Y g:i a',strtotime($AllComments['fc_added_date']))?></span><br/>
                                                                <div class="MsgText">"<?=$AllComments['fc_comment']?>"<br/>
                                                                 </div>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-2 col-sm-1 padding-0">
                                                            <img src="<?php echo getUserImage($AllComments['user_image'],'60')?>" class="avatar" />
                                                        </div>
                                                    </div>
                                                    <p class="clear">&nbsp;</p>
                                                    <hr class="SearchPageHr clear" /> 
                                               <?php } ?>    
                                            </div>
                                    <?php } ?>	
                                       	
                                  <!-- VIEW ALL COMMENTS START -->
                        </div>
                        
                               
                        
                    </div>
                    
                    
                    <? }  ?>
                    	 <div align="center"><?php echo $this->paginationControl($this->forumThreadData,'Sliding','pagination-control.phtml');  ?>  </div>                           
                    <? } else { ?>
                    		<div class="NoRecordFound col-sm-4 col-sm-offset-4" align="center">No Posts Found..</div>
                    <?php } ?>
                </div>
                
                <p class="clear"></p>
                
                
                 <hr class="clear" />
                <!-- POST TOPIC COMMENT FORM START -->
        		<div class="col-sm-12 padding-0 BlogCommentsDiv clear overflow" align="left">
                	<h3>Enter Your Post here..</h3>
					<?=$this->forumThreadForm?>
                </div>
        		<!-- POST TOPIC COMMENT FORM END -->
        
            </div>
        </div>
    </div>
</div>



<!-- REPORT POST START -->
   <div class="modal fade" id="reportModal">
      	<div class="modal-dialog">
       		 <div class="modal-content Overflow">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Why is this post inappropriate?</h4>
                      </div>
                      <div class="modal-body" id="ProfileSection"><?=$this->reportForm?></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="reportBtn">SUBMIT</button>
                      </div>
       		 </div>
     	 </div>
   </div>
 <!-- REPORT POST END -->
 
 
 <!-- IMPROVEMENT POST START -->
   <div class="modal fade" id="improvementModal">
      	<div class="modal-dialog">
       		 <div class="modal-content Overflow">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Suggest Improvement</h4>
                      </div>
                      <div class="modal-body" id="ProfileSection"><?=$this->improvementForm?></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="improvementBtn">SUBMIT</button>
                      </div>
       		 </div>
     	 </div>
   </div>
 <!-- IMPROVEMENT POST END -->