<?php 
$model = new Application_Model_Static();
$unreadMessages = $model->Super_Get("messages","msg_to='".$this->user->user_id."' and msg_status='0'","fetchAll");
?>
<div class="MessageLeftPanel">
    <div class="Inbox <?php if($this->current_action=='compose'){?>active<? }?>">
    	<a href="<?php echo $this->url(array(),'compose')?>">
        COMPOSE
        </a>
    </div>
    
    <div class="Inbox <?php if($this->current_action=='index'){?>active<? }?>">
    	<a href="<?php echo $this->url(array(),'inbox')?>">
    	INBOX&nbsp;&nbsp;<span class="badge badge-danger"><?php echo count($unreadMessages);?></span>
        </a>
    </div>
    
    <div class="Inbox <?php if($this->current_action=='hirers'){?>active<? }?>">
    	<a href="<?php echo $this->url(array(),'from_hirers')?>">
    	FROM HIRERS
        </a>
    </div>
    
    <div class="Inbox <?php if($this->current_action=='workers'){?>active<? }?>">
    	<a href="<?php echo $this->url(array(),'from_workers')?>">
    	FROM WORKERS
        </a>
    </div>
    
    <div class="Inbox <?php if($this->current_action=='sent'){?>active<? }?>">
    	<a href="<?php echo $this->url(array(),'sent')?>">
    	SENT
        </a>
    </div>
    
    <div class="Inbox <?php if($this->current_action=='drafts'){?>active<? }?>">
    	<a href="<?php echo $this->url(array(),'drafts')?>">
    	DRAFTS
        </a>
    </div>
</div>