<div class="col-sm-12 MessageBox custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-envelope"></i>
        <span class="Name"><?php echo $this->user->user_first_name?></span> <small>Private Messages</small> 
        <br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    <p class="clear">&nbsp;</p>
    <div class="container padding-0">
    	<div class="col-sm-3 paddingLeft-0">
        	<?php echo $this->render("message/_message_side_bar.phtml");?>
        </div>
        
        <div class="col-sm-9">
        	<div class="ComposeDiv">
            	<h3>Compose Message</h3>
                <div class="col-sm-12">
                    <?php /*?><form method="post" action="<?php echo $this->url(array('controller'=>'message','action'=>'compose','DraftId'=>$this->DraftId),'default',true)?>" 
                    enctype="multipart/form-data"><?php */?>
						<?php echo $this->form;?>
                        <?php if($this->messageDetails['msg_file']!=''){?>
                            <div class="Attachment">
                                <i class="fa fa-file"></i>
                                <a href="<?php echo $this->url(array('controller'=>'message','action'=>'download','file'=>$this->messageDetails['msg_file']),'default',true)?>">
                                <?php echo $this->messageDetails['msg_file'];?>
                                </a>
                                <p></p>
                            </div>
                        <? }?>
                    <?php /*?></form><?php */?>
                </div>
            </div>
        </div>
    </div>
</div>




<script language = "Javascript">


 
//$(document).ready(function(e) {
$("#msg_to").change(function () {	

	var param1 = '<?php echo $this->user->user_id; ?>';
	//var param2 = '164';
	var param2 = this.value;

	var host = 'https://' + window.location.hostname + '<?php echo $this->url(array('controller'=>'message'),"",true); ?>';	
	
	$("#msg_job").html("");
	
	//array('action' => 'dropdown', 'controller' => 'message')
	
	jQuery.ajax({
		  url: '<?php echo $this->baseUrl(); ?>/message/retrievejobs',
		  //url: host+"/retrievestaticdata",
		  type: 'POST',
		  data: {param1: param1, param2:param2},
		  dataType: "json",
		  success: function(result){
				//var return1 = result.return1;
				//var return2 = result.return2;
				//console.log(return1 + " - " + return2);
				
				/*
				var json = JSON.stringify(result);
				var jparsed = JSON.parse(json);
				*/
				
				console.log(result);
				
				console.log(result.length);

				for (var i = 0; i <= result.length - 1; i++) {
					//var option = document.createElement("option");
					//option.value = result.length[i][0];
					//option.textContent = result.length[i][1];
					$("#msg_job").append("<option value='" + result[i][0] + "'>" + result[i][1] + "</option>");
				};
				
				
				// return1 and return2 is value from php file.
				// fill out DOM element or do the windows.location()
		  },
		  
		  
		  error: function(jqXHR, exception) {
            if (jqXHR.status === 0) {
					alert('Not connect.\n Verify Network.');
				} else if (jqXHR.status == 404) {
					alert('Requested page not found. [404]');
				} else if (jqXHR.status == 500) {
					alert('Internal Server Error [500].');
				} else if (exception === 'parsererror') {
					alert('Requested JSON parse failed.');
				} else if (exception === 'timeout') {
					alert('Time out error.');
				} else if (exception === 'abort') {
					alert('Ajax request aborted.');
				} else {
					alert('Uncaught Error.\n' + jqXHR.responseText);
				}
			}

	});
	
	
	
	
	
});
	
</script>

<script>
var DraftId = '<?php echo $this->DraftId?>';
$(document).ready(function(e) {
    $('#btnsubmit').before($('.Attachment'));
});
</script>