<style>
.dataTables_length{ display: none; }
</style>
<div class="col-sm-12 MessageBox custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-envelope"></i>
        <span class="Name"><?php echo $this->user->user_first_name?></span> <small>Private Messages</small> 
        <br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    <p class="clear">&nbsp;</p>
    <div class="container padding-0">
    	<div class="col-sm-3 paddingLeft-0">
        	<?php echo $this->render("message/_message_side_bar.phtml");?>
        </div>
        
        <div class="col-sm-9">
        	<div class="MessageDetail">
            	<h3>Message</h3>
                <div class="MessageInDetail">
                	<h4><?php echo $this->messageDetails['msg_subject'];?></h4>
                    <hr />
                    <div class="col-sm-1 col-xs-3 paddingLeft-0">
                    	<img class="img-responsive img-circle" src="<?php echo getUserImage($this->messageDetails['from_image'],'thumb')?>"  />
                    </div>
                    
                    <div class="col-sm-11 col-xs-9 paddingLeft-0 MessageFrom">
                    	<div class="pull-left">
						<?php echo $this->messageDetails['from_first_name']?> <br />
                        <small>to me</small>
                        </div>
                        
                        <div class="pull-right">
                            <label class="ReplyForward">
                                <span id="ReplyMessage">
                                	
                                    <?php $myURL = $this->url(array('type'=>'1','message_id'=>$this->messageDetails['msg_id']),'compose'); ?>
                                    
                                    <?php if (strpos($myURL, '/compose/1/') !== false) { ?>
	                                	<a href="https://thejobmill.com/compose?profile_user_id=<?php echo $this->messageDetails['msg_from'] ?>">
	    	                            	<i class="fa fa-mail-reply-all"></i>&nbsp;Reply
                                        </a>
                                    <?php }else{ ?>
	                                	<a href="<?php echo $this->url(array('type'=>'1','message_id'=>$this->messageDetails['msg_id']),'compose')?>">
    		                            	<i class="fa fa-mail-reply-all"></i>&nbsp;Reply
        	                            </a>
									<?php } ?>
                                       
                                </span>
                                <!--
                                &nbsp; | &nbsp;
                                <span id="ForwardMessage">
                                	<a href="<?php echo $this->url(array('type'=>'2','message_id'=>$this->messageDetails['msg_id']),'compose')?>">
                                	Forward<i class="fa fa-mail-forward"></i>
                                    </a>
                                </span>
                                -->
                            </label>
                            <br />
                            <label>
								<?php echo date('M d,Y',strtotime($this->messageDetails['msg_date']));?>
                                (<?php echo showPostTime($this->messageDetails['msg_date']);?>)
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 clear padding-0 MessageText">
                    	<div class="col-sm-1 paddingLeft-0">
                        </div>
                        
                        <div class="col-sm-11 paddingLeft-0">
                    	<?php echo $this->messageDetails['msg_text'];?>
                        </div>
                    </div>
                    
                    <p class="clear"></p>
                    
                    <?php if($this->messageDetails['msg_file']){ ?>
                    <div class="col-sm-12 clear padding-0 Attachment">
                    	<div class="col-sm-1 paddingLeft-0">
                        </div>
                   		<div class="col-sm-11 paddingLeft-0">
                        	<i class="fa fa-paperclip"></i>
                            <a href="<?php echo $this->url(array('controller'=>'message','action'=>'download','file'=>$this->messageDetails['msg_file']),'default',true)?>">
                        	<?php echo $this->messageDetails['msg_file']; ?>
                            </a>
                        </div>
                    </div>
                    <? }?>
                </div>
            </div>
        </div>
    </div>
</div>