<style>
.dataTables_length{ display: none; }
</style>
<div class="col-sm-12 MessageBox custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-envelope"></i>
        <span class="Name"><?php echo $this->user->user_first_name?></span> <small>Private Messages</small> 
        <br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    <p class="clear">&nbsp;</p>
    <div class="container padding-0">
    	<div class="col-sm-3 paddingLeft-0">
        	<?php echo $this->render("message/_message_side_bar.phtml");?>
        </div>
        
        <div class="col-sm-9">
        	<div class="SentDiv">
            	<h3>Messages Sent</h3>
                <form action="<?php echo $this->baseUrl() ?>/message/removemessages" method="post" onsubmit="return checkSelects();" >
                	<p style="margin-top:18px;"></p>
                    <div class="col-sm-6">
                    <button id="sample_editable_1_new"  class="btn hire btn-sm"><i class="fa fa-trash-o" style="padding:0px; color:#ffffff;"></i>&nbsp;Delete Messages</button>
                    </div>
                    <table class="table table-striped table-hover dataTable" id="sentTable">
                        <thead>
                            <tr class="Head">
                                <th width="5%">
                                    <input type="checkbox" class="group-checkable checkboxes" data-set="#sentTable .checkboxes" name="deletebcchk" id="deletebcchk" />
                                </th>
                                <th>To</th>
                                <th>Message</th>
                                <th>Date</th>
                            </tr>
                         </thead>
                         <tbody>
                            <?php foreach($this->messages as $message){?>
                            <tr>
                                <td width="5%">
                                    <input class="elem_ids checkboxes" type="checkbox" name="messages[<?php echo $message['msg_id']?>]" value="<?php echo $message['msg_id']?>">
                                </td>
                                <td class="To" style="width:15%;">
                                    <?php echo $message['user_first_name']?>
                                </td>
                                <td class="Message" onclick="window.location='<?php echo $this->url(array('message_id'=>$message['msg_id']),'message_details')?>'" style="cursor:pointer;">
                                    <?php echo substr($message['msg_subject'],0,70);?>
                                </td>
                                <td class="Date">
                                    <?php echo date('d M, Y H:i',strtotime($message['msg_date']))?>
                                </td>
                            </tr>
                            <? }?>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
$(document)	 .ready(function(e) {
	$('#sentTable').dataTable( {
		"bProcessing": true,
		"oLanguage": {
        "sEmptyTable": "No Messages Found",
    	},
		"bServerSide": false,
		"aaSorting": [[3, "desc" ]],
		"aoColumnDefs": 
		 [
			{ "bSortable": false, "aTargets": [0,1,2] },
		 ],
		"iDisplayLength":50,
	    "aLengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
		"fnDrawCallback": function( oSettings ) {
			re_init();
		}
	} );
});
</script>