<?php 
$footer_how_it_works = $footer_provider = $footer_job_list = $footer_post_a_job = $footer_terms = $footer_policy =  $footer_contact = '';
$uri = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
$pagelink=explode('/',$uri);
$pagelinkhere ='';
if(isset($pagelink[2])){
$pagelinkhere = $pagelink[2];
}
// Local $pagelinkhere = $pagelink[3];
if($pagelinkhere=="how-it-works") { $footer_how_it_works="footer-active";  } else 
if($pagelinkhere=="service-providers") { $footer_provider="footer-active";  } else 
if($pagelinkhere=="term-and-conditions") { $footer_terms="footer-active";  } else 
if($pagelinkhere=="privacy-policy") { $footer_policy="footer-active";  } else 
if($this->current_controller=="static" and $this->current_action=="contact")  { $footer_contact="footer-active";  } 
?>

<div class="footer">
	<div class="container">
		<ul class="footer-link">
        	<li>
            	<a href="<?php echo $this->url(array(),'how_it_works')?>" class="<?php echo $footer_how_it_works ?>"> How It Works</a>
            </li>
            <?php if($this->site_configs['forum_state']=='1'){?>
             <li>
            	<a href="<?php echo $this->url(array(),'front_forums')?>" class="<?php echo $footer_policy ?>"> Forum </a>
            </li>
            <? }?>
           <?php /*?> <li>
            	<a href="<?php echo $this->url(array(),'blog_category')?>" class="<?php echo $footer_policy ?>"> Blogs </a>
            </li><?php */?>
            <li>
            	<?php /*?><a href="<?php echo $this->url(array(),'service_providers')?>" class="<?php echo $footer_provider; ?>"> Service Providers</a><?php */?>
            	<a href="<?php echo $this->url(array(),'service_providers')?>" class="<?php echo $footer_provider; ?>"> Workers</a>
            </li>
            <?php /*?><li>
            	<a href="#" class="<?php echo $footer_job_list; ?>"> Jobs List </a>
            </li><?php */?>
            <?php /*?><li>
            	<a href="#" class="<?php echo $footer_post_a_job ?>"> Post A Job</a>
            </li><?php */?>
            <li>
            	<a href="<?php echo $this->url(array(),'term_and_conditions')?>" class="<?php echo $footer_terms ?>"> Terms and Conditions</a>
            </li>
            <li>
            	<a href="<?php echo $this->url(array(),'privacy_policy')?>" class="<?php echo $footer_policy ?>"> Privacy Policy </a>
            </li>
            <li>
            	<a href="<?php echo $this->url(array(),'contact_us')?>" class="<?php echo $footer_contact ?>"> Contact Us</a>
            </li>

            <?php if(isset($this->user->user_id) && $this->user->user_id!='') { ?>
            <li>
            	<?php /*?><a href="<?php echo $this->url(array('controller'=>'user','action'=>'deleteaccount'),'default',true)?>" class="<?php echo $footer_contact ?>"><?php */?>
                <!--
                <a onclick="return DeleteAccount();" class="cursor">
                	Delete Account
                </a>
                -->
            </li>
            <? }?>
        </ul>
        <ul class="list-social-icons list-inline pull-right">
            <li>
            	<a href="<?php echo $this->site_configs['social_link_facebook'] ?>" target="_blank" class="link"><span class="fa fa-facebook"></span></a>
            </li>
            <li>
            	<a href="<?php echo $this->site_configs['social_link_linkedin'] ?>" target="_blank" class="link"><span class="fa fa-linkedin"></span></a>
            </li>
            <li>
            	<a href="<?php echo $this->site_configs['social_link_twitter'] ?>" target="_blank" class="link"><span class="fa fa-twitter"></span></a>
            </li>
        </ul>
        <p class="copyright overflow clear">© Copyright The Job Mill <?php echo date('Y'); ?></p>
	</div>
</div>
<style>
#reasonModal .modal-content {
  position: relative;background-color: rgba(0,0,0,0.7);border: 1px solid #999999;border: 0px solid rgba(0, 0, 0, 0.2);border-radius: 2px;outline: none;background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);padding: 10px;
}
#reasonModal .modal-footer {
  padding: 19px 20px 10px;
}
#reasonModal .close {
  background-image: url('<?php echo FRONT_IMAGES_PATH?>/remove-icon-small-white.png') !important; opacity:1;
}
#reasonModal .modal-body .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
}
</style>
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="reasonModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<label for="reason" style="font-size:18px; color:#ffffff;">We're sad to see you go</label>
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 10px;margin-right: 10px;">
                	<span aria-hidden="true">&times;</span>
                </button>
            </div>
			<form class="delete_account_form" action="<?php echo $this->url(array('controller'=>'user','action'=>'deleteaccount'),'default',true)?>" method="post">
                <div class="modal-body" style="margin-top:25px; padding-top:0px;">
                        <label for="reason" style="font-size:18px; color:#ffffff;">But we would love to hear your feedback</label>
                        <textarea name="reason" id="reason" class="form-control required" style="height:100px;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
			</form>
        </div>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<?php echo $this->site_configs['ga_tracking_code'] ?>', 'auto');
  ga('send', 'pageview');

</script>
