<?php

if(isset($this->user->user_id) && $this->user->user_id!='') {

	$model = new Application_Model_Static();
	$unreadMessages = $model->Super_Get("messages","msg_to='".$this->user->user_id."' and msg_status='0'","fetchAll");
	$unreadNotifications = $model->Super_Get("notifications","notify_for_user_id='".$this->user->user_id."' and notify_status='0' and notify_type!='0'","fetchAll");
	$myJobsNotifications = $model->Super_Get("notifications","notify_for_user_id='".$this->user->user_id."' and notify_status='0' and (notify_type='1' or notify_type='2' or notify_type='3')","fetchAll");

}

?>


<?php
$how_it_works = $home = $provider = $job_list = $post_a_job = $terms = $policy =  $contact = $signup = $signin = '';
$uri = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
$pagelink=explode('/',$uri);
$pagelinkhere ='';
if(isset($pagelink[2])){
$pagelinkhere = $pagelink[2];
}
// Local $pagelinkhere = $pagelink[3];
if($pagelinkhere=="how-it-works") { $how_it_works="active";  } else
if($pagelinkhere=="service-providers") { $provider="active";  } else
if($pagelinkhere=="term-and-conditions") { $terms="active";  } else
if($pagelinkhere=="privacy-policy") { $policy="active";  } else
if($this->current_controller=="static" and $this->current_action=="contact")  { $contact="active";  }  else
if($this->current_controller=="index" and $this->current_action=="index")  { $home="active";  }  else
if($this->current_controller=="user" and $this->current_action=="register")  { $signup=" active";  } else
if($this->current_controller=="user" and $this->current_action=="login")  { $signin=" active";  }
?>
<?php if(preg_match('/(?i)msie [1-9]/',$_SERVER['HTTP_USER_AGENT'])){?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('public/front_css/ie.css')?>">
<? } ?>
<nav class="navbar navbar-default">
    <?php if($this->site_configs['maintenance_mode']=='1'):?>
        <div class="maintenance-message">The site is currently undergoing maintenance and/or development. As such, some features are not available.</div>
    <?php endif; ?>
    <div class="container" style="max-width:1280px;">
        <div class="navbar-header">
          <a class="navbar-brand" href="<?php echo $this->baseUrl('/')?>">
          	<img alt="The Job Mill Logo" src="<?php echo HTTP_IMG_PATH?>/logo.png" alt="" class="img-responsive" style="max-width:300px;" />
          </a>
        </div>
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-image:none; width:auto; float:right;
            background: transparent;">
                <span class="inline-block">
                    <span class="icon-bar" style="margin-top:4px;"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
                <?php /*?><span class="inline-block">&nbsp;&nbsp;NAVIGATION MENU&nbsp;&nbsp;</span> <?php */?>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right Header">
                <li class="<?php echo $home; ?>">
                	<a href="<?php echo $this->baseUrl('/')?>">Home</a>
                </li>

                <li class="">
                	<a href="<?php echo $this->baseUrl('/how-it-works')?>">How It Works</a>
                </li>

                <?php /*?><li class="<?php echo $how_it_works; ?>">
                	<a href="<?php echo $this->url(array(),'how_it_works')?>">How It Works</a>
                </li><?php */?>
                <?php /*?><li class="<?php echo $provider; ?>">
                	<a href="#">Service Providers</a>
                </li><?php */?>
                <li class="#">
                	<a href="<?php echo $this->url(array('type'=>'work'),'search_jobs')?>">Find a Job</a>
                </li>
                <li <?php /*?>class="post-a-job"<?php */?> class="#">
                	<a href="<?php echo $this->url(array('job_id'=>''),'post_job')?>">Post A Job</a>
                </li>
                <li><a href="<?php echo $this->baseUrl('/blog')?>">Blog</a></li>
                <li><a style ="color: #07ae4d!important;" href="<?php echo $this->baseUrl('/timeismoney')?>">Time is Money</a></li>
                <?php /*?><li class="<?php echo $contact; ?>">
                	<a href="<?php echo $this->url(array(),'contact_us')?>">Contact Us</a>
                </li><?php */?>
                <?php if(isset($this->user->user_id) && $this->user->user_id!='') { ?>
                <?php /*?><li>
                	<a href="<?php echo $this->url(array('user_id'=>$this->user->user_id),'user_profile')?>">My Account</a>
                </li> <?php */?>

                <?php

						$myMessagesCount = "";

					 	if(count($unreadMessages) > 0){
							$myMessagesCount = '&nbsp;<span class="badge badge-danger">' . count($unreadMessages) . '</span>';
						}

				?>

                <li>
                	<a href="<?php echo $this->url(array(''),'inbox')?>">Messages <?php echo $myMessagesCount ?></a>
                </li>

                <?php

						$myUnreadNotificationsCount = "";
						$myUnreadNotificationsCountWithParentheses = "";
					 	$myNotificationsClass = "";

					 	if(count($unreadNotifications) > 0){
							$myUnreadNotificationsCount = count($unreadNotifications);
							$myUnreadNotificationsCountWithParentheses = "(" . count($unreadNotifications) . ")";
							$myNotificationsClass = "notification-on";
						}else{
							$myNotificationsClass = "notification-off";
						}

					$unreadNotifications

				?>

                <?php

						$myJobsNotificationsCountWithParentheses = "";

					 	if(count($myJobsNotifications) > 0){
							$myJobsNotificationsCountWithParentheses = "(" . count($myJobsNotifications) . ")";
						}

				?>


                <li>
                	<a href="/view-notifications" class="notification <?php echo $myNotificationsClass; ?>"><?php echo $myUnreadNotificationsCount; ?></a>
                </li>

               <?php /*?> <li>
                	<a href="<?php echo $this->url(array(''),'change_password')?>">Change Password</a>
                </li> <?php */?>
               <?php /*?> <li>
                	<a href="<?php echo $this->url(array(),'front_logout')?>">Logout</a>
                </li> <?php */?>
				<?php } else { ?>
                <li class="SignupLink<?php echo $signup; ?> post-a-job">
                	<a href="<?php echo $this->url(array(),'front_register')?>" class="hvr-radial-out">Sign Up</a>
                </li>

                <li class="SigninLink<?php echo $signin; ?> post-a-job">
                	<a href="<?php echo $this->url(array(),'front_login')?>" class="hvr-radial-out">Sign In</a>
                </li>
				<?php }
                ?>

               <?php if(isset($this->user->user_id) && !empty($this->user->user_id)) { ?>
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="position:relative;">

                        <!-- <img alt="" src="<?php echo getUserImage($this->user->user_image,'thumb');?>" class="img-circle" style="width:40px; height:40px;" /> -->

                        <div class="thumbnail-user-profile">
	                        <img alt="" src="<?php echo getUserImage($this->user->user_image,'thumb');?>" class="thumbnail-img" />
                        </div>
                        <span class="caret"></span>






                    </a>

                    <ul class="dropdown-menu" role="menu" style="text-align:left; top:70px;">
                        <li><a href="<?php echo $this->url(array('user_id'=>$this->user->user_id),'user_profile')?>"><i class="fa fa-user"></i> Profile</a></li>
                        <li><hr /></li>
                        <li><a href="<?=$this->url(array(),'view_notifications')?>"><i class="fa fa-bell"></i> Notifications&nbsp;<?php echo $myUnreadNotificationsCountWithParentheses; ?></a></li>
                        <li><hr /></li>
                        <li><a href="<?=$this->url(array(),'job_list')?>"><i class="fa fa-gear"></i> My Jobs&nbsp;<?php echo $myJobsNotificationsCountWithParentheses; ?></a></li>
                        <li><hr /></li>
                        <li><a href="<?php echo $this->url(array(),'front_logout')?>"><i class="fa fa-ban"></i> Log out</a></li>
                    </ul>
                </li>
                <?php } ?>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<?php /*?><style>@media screen and (max-width: 768px) {.post-a-job a {margin:10px 5px !important;}	} </style><?php */?>