<?php echo $this->docType("HTML5");?>
<html lang="en">
<head>
	<?php
	echo $this->headMeta()."\n";
	echo $this->headTitle()."\n";
	echo $this->headLink()."\n";
	?>

	<?php
	$userId='';$userType='';
	if(!empty($this->user))
	{
		$userId=$this->user->user_id;
		$userType=$this->user->user_type;
	}
	$model = new Application_Model_Static();
	$Siteimages = $model->Super_Get("background_images","1","fetchAll");
	$map_icon = $Siteimages[8]['bg_file'];
	$processing_icon = $Siteimages[9]['bg_file'];

	?>
	<link rel="shortcut icon" href="<?=HTTP_BG_IMAGES_PATH?>/<?php echo $Siteimages[11]['bg_file']?>">
	<style>@-ms-viewport{width:auto!important}</style>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

	<script src="<?php echo $this->baseUrl('public/plugins/jquery-1.11.0.min.js')?>"></script>
	<script>
		var baseUrl = SITEURL = SITE_URL = '<?php echo $this->baseUrl()?>';
		var controllerName = '<?php echo $this->current_controller?>';
		var actionName = '<?php echo $this->current_action?>';
		var userId = '<?php echo $userId?>';
		var userType = '<?php echo $userType?>';
		var SITE_HTTP_URL = '<?php echo SITE_HTTP_URL?>';
		var mapIcon = '<?php echo $map_icon ?>';
		var processingIcon = '<?php echo $processing_icon ?>';
	</script>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7759778785831151",
    enable_page_level_ads: true
  });
</script>

</head>
<body>
<?php echo $this->render('header.phtml'); ?>
<?php echo $this->render("sub_home_slider.phtml");?>

<?php
if($this->current_controller=="index" and $this->current_action=="index" ){
	?>
	<?php echo $this->getHelper('Messages')->getMessages();?>
	<?php echo $this->render("sub_show_messages.phtml");?>
	<?php echo $this->layout()->content?>
	<?
}else{
	$bg_class='';
	if($this->current_controller=="user" and $this->current_action=="register"){$bg_class='form-signup';}
	if($this->current_controller=="user" and $this->current_action=="login"){$bg_class='form-signin';}
	if($this->current_controller=="user" and ($this->current_action=="forgotpassword" || $this->current_action=="resetpassword")){$bg_class='form-forgot';}
	if($this->current_controller=="static" and $this->current_action=="index"){$bg_class='static-bg';}
	if($this->current_controller=="static" and $this->current_action=="contact"){$bg_class='contact-bg';}
	if($this->current_controller=="profile" and ($this->current_action=="index" || $this->current_action=="image" || $this->current_action=="cropimage" ||
			$this->current_action=="password")){$bg_class='profile-bg';}
	if($this->current_controller=="user" and $this->current_action=="subscription"){$bg_class='IndexSubscribeDiv';}
	if($this->current_controller=="profile" and $this->current_action=="editprofile"){$bg_class='EditProfileMain';}
	if($this->current_controller=="job" and $this->current_action=="index"){$bg_class='PostJobMainDiv';}
	if($this->current_controller=="job" and $this->current_action=="jobdetails"){$bg_class='JobDetailMainDiv';}
	if($this->current_controller=="job" and $this->current_action=="searchjobs"){$bg_class='JobDetailMainDiv';}
	if($this->current_controller=="job" and $this->current_action=="joblist"){$bg_class='JobDetailMainDiv';}
	if($this->current_controller=="message" || ($this->current_action=="viewnotifications") || ($this->current_action=="socialdetails")){$bg_class='MessageMainDiv';}
	if($this->current_controller=="job" and ($this->current_action=="serviceproviders" || $this->current_action=="jobhire")){$bg_class='ServiceProvidersDiv';}

	if($this->current_controller=="forum" and ($this->current_action=="categories" || $this->current_action=="listing")){$bg_class='BlogCatMainDiv';}
	//if($this->current_controller=="blog" and ($this->current_action=="blogdetails")){$bg_class='BlogDetailMainDiv';}
	$model = new Application_Model_Static();
	$bg_image1 = $model->Super_Get('background_images',"bg_type='1'",'fetch');
	//prd($bg_image1);
	$bg_image2 = $model->Super_Get('background_images',"bg_type='2'",'fetch');
	$bg_image3 = $model->Super_Get('background_images',"bg_type='3'",'fetch');
	$bg_image4 = $model->Super_Get('background_images',"bg_type='4'",'fetch');
	$bg_image5 = $model->Super_Get('background_images',"bg_type='5'",'fetch');
	$bg_image6 = $model->Super_Get('background_images',"bg_type='6'",'fetch');
	$bg_image10 = $model->Super_Get('background_images',"bg_type='10'",'fetch');

	if(($this->current_controller=='profile' && $this->current_action=='userprofile') || ($this->current_controller=='job' && ($this->current_action=='serviceproviders' || $this->current_action=='jobs'))){
		$containerClass = 'full-container';
	}else{
		$containerClass = 'container';
	}
	?>
	<style>
		.form-signup{
			background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image1['bg_file']?>);
			background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image1['bg_file']?>);
			background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image1['bg_file']?>);
			background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image1['bg_file']?>);
			background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image1['bg_file']?>);
			background-repeat:no-repeat; padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
		}
		.form-signin{
			background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image2['bg_file']?>);
			background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image2['bg_file']?>);
			background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image2['bg_file']?>);
			background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image2['bg_file']?>);
			background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image2['bg_file']?>);
			background-repeat:no-repeat; padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
		}
		.form-forgot{
			background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image3['bg_file']?>);
			background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image3['bg_file']?>);
			background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image3['bg_file']?>);
			background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image3['bg_file']?>);
			background: -ms-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)),url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image3['bg_file']?>);
			background-repeat:no-repeat;padding: 15px; margin: 0 auto !important; width: 100%; min-height: 500px; margin:15px; background-size:cover;
		}
		.contact-bg{
			background-image:url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image6['bg_file']?>); background-size:cover;
		}
		.profile-bg{
			background-image:url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image4['bg_file']?>); background-size:cover;
		}
		.EditProfileMain{
			background-image:url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image5['bg_file']?>); /*background-size:100% 100%; */ background-attachment:fixed;
		}
		.PostJobMainDiv {
			background-image: url(<?php echo HTTP_BG_IMAGES_PATH?>/<?=$bg_image10['bg_file']?>);
		}
	</style>
	<div class="main-container-outer <?php echo $bg_class;?>">
		<div class="<?php echo $containerClass;?> main-layout-container">
			<div class="row margin-0">
				<?php echo $this->getHelper('Messages')->getMessages();?>
				<?php echo $this->layout()->content?>
				<?php /*?><?php if($this->current_controller=="static" and $this->current_action=="contact"){?>
                <div class="gmap-area"><div><?php include "application/layouts/scripts/sub_full_map.phtml"; ?></div></div>
                <? }?><?php */?>
			</div>
		</div>
	</div>
<?php }	?>
<!--========================================== //End PROJECT-NAME Layout Section-->
<?php echo $this->render('footer.phtml');?>
<!--========================================== //End PROJECT-NAME Footer Section-->
<?php echo $this->headScript();?>

</body>
</html>

<script>
	$(".alert").ready(function () {
		$(".alert").slideDown('slow');
	});
	window.setTimeout(function () {
		$(".alert").hide("slow");
	}, 6000);
</script>
<script>
	$(function(){
		//$('#MapProcess').css('height',window.innerHeight+'px');
		/*if(controllerName=='job' && actionName=='searchjobs'){
		 $('html, body').animate({
		 scrollTop: $("#MapCanvas").offset().top-50
		 }, 1000);
		 }*/
		//$('#MapProcess').css('display','block');
		NProgress.start();
	});

	$(window).load(function(e) {
		/*if(controllerName=='job' && actionName=='searchjobs' && type!='list'){
		 $('html, body').animate({
		 scrollTop: $("#MapCanvas").offset().top-100
		 }, 1000);
		 }*/
		//$('#MapProcess').css('display','none');
		NProgress.done();
	});
</script>