<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="<?php echo $this->baseUrl('public/plugins/jquery-validation/js/jquery.validate.min.js')?>"></script>
<script src="<?php echo $this->baseUrl('public/plugins/jquery-validation/js/additional-methods.min.js')?>"></script>
<script src="<?php echo $this->baseUrl('public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl('public/plugins/bootstrap-datepicker/css/datepicker.css')?>" />

<script src="<?php echo $this->baseUrl('public/front_js/custom.js')?>"></script>
<script src="<?php echo $this->baseUrl('public/front_js/general.js')?>"></script>
<?php 
$conrollerName = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$actionName = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
$routeName = Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName();
//if($conrollerName=='tour' && $actionName=='tourpreview'){
?>
<?
//}
?>
<script>
var baseUrl = SITEURL = SITE_URL = '<?php echo $this->baseUrl()?>';
var moduleName = '<?php echo $this->current_module?>';
var controllerName = '<?php echo $this->current_controller?>';
var actionName = '<?php echo $this->current_action?>';
var routeName = '<?php echo $routeName?>';
var SITE_HTTP_URL = '<?php echo SITE_HTTP_URL?>';
var PasswordMismatchError = '<?php echo $this->translate('Password Mismatch, please enter correct password'); ?>';
jQuery.extend(jQuery.validator.messages, {
	required:'<?php echo $this->translate('This field is required'); ?>',
	email:'<?php echo $this->translate('Enter a valid email address'); ?>',
	minlength:'<?php echo $this->translate('Please enter at least {0} characters.'); ?>',
});
</script>	

<?php echo $this->layout()->content?>
