<?php 
if($this->current_controller=="index" and $this->current_action=="index" ){
	$model = new Application_Model_Static();
	$bg_image = $model->Super_Get('background_images',"bg_type='0'",'fetch');
?>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">

	<div class="no-fees-div">
		<img alt="We don't charge fees" src="<?php echo HTTP_IMG_PATH?>/we-dont-charge-fess-ribbon.png" />
	</div>

    <!-- Indicators -->
    <?php /*?><ol class="carousel-indicators">
    <?php 
        $active = "active";
        foreach($this->slider_images as $values){?>
         <li data-target="#myCarousel" data-slide-to="<?php echo $values['slider_image_id']?>" class="<?php echo $active;$active="";?>"></li>
    <?php  }?>
    </ol><?php */?>
    
    <div class="carousel-inner">
    	<?php $active = "active";?>
         <div class="item <?php echo $active;$active="";?> text-center">
            <div class="slider-background" style="background-image: url('<?php echo HTTP_BG_IMAGES_PATH.'/'.$bg_image['bg_file'] ?>') ">
<!--                <img style="display:inline-block; width:100%;" src="--><?php //echo HTTP_BG_IMAGES_PATH?><!--/--><?php //echo $bg_image['bg_file']; ?><!--" alt="job miller header image" class="img-responsive">-->
            </div>
        </div>
    </div>
    
    <?php /*?><a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a><?php */?>
    <?php 
    /*if($this->type=='hire')*/ {?> 
    	<p class="hire-message">Find your perfect candidate</p> 
    <?php }/* else if($this->type=='work') */{ ?> 
    	<p class="work-message">Turn spare time into cash</p> 
    <?php } ?>
    <div class="slider-content">
        <p>Are you looking to</p>
        <div>
            <a href="<?php echo $this->url(array('type'=>'hire'),'post_job')?>" class="hire" id="hireHome">Hire</a>
            <a href="<?php echo $this->url(array('type'=>'work'),'search_jobs')?>" class="work" id="workHome">Work</a>
        </div>
    </div>
</div><!-- /.carousel -->
	
<script type="application/x-javascript">
if(window.innerWidth<769){
	var normalcontent = '<div class="hover-hire-info"><div><img alt="Choose Category" src="<?php echo HTTP_IMG_PATH?>/hire-1.png" alt="" title="" id="hire1"/></div><div>&nbsp;</div><div><img alt="Describe Your Need" src="<?php echo HTTP_IMG_PATH?>/hire-2.png" alt="" title="" id="hire2"/></div><div>&nbsp;</div><div><img alt="Get Matched To Pros" src="<?php echo HTTP_IMG_PATH?>/hire-3.png" alt="" title="" id="hire3"/></div></div><div class="hover-hire-info"><p id="hirepoint-1">1. Choose Category</p><p id="hirepoint-2">2. Describe Your Need</p><p id="hirepoint-3">3. Get Matched To Pros</p></div>';
}else{
var normalcontent = '<div class="hover-hire-info"><div><img alt="Choose Category" src="<?php echo HTTP_IMG_PATH?>/hire-1.png" alt="" title="" id="hire1"/></div><div class="hire-strip">&nbsp;</div><div><img alt="Describe Your Need" src="<?php echo HTTP_IMG_PATH?>/hire-2.png" alt="" title="" id="hire2"/></div><div class="hire-strip">&nbsp;</div><div><img class="Get Matched To Pros" src="<?php echo HTTP_IMG_PATH?>/hire-3.png" alt="" title="" id="hire3"/></div></div><div class="hover-hire-info"><p id="hirepoint-1">1. Choose Category</p><p id="hirepoint-2">2. Describe Your Need</p><p id="hirepoint-3">3. Get Matched To Pros</p></div>';
}
var nextcontent = '<div class="hover-info"><img src="<?php echo HTTP_IMG_PATH?>/arrow-top.png" alt="Hover for more info" title="Hover for more info"/><p>Hover for more info</p></div>';

$(document).ready(function(e) {
	$('.carousel').carousel({
	  interval: 5000
	});
	$('#HomeBgGreen').css('display','block');
	$('#HomeBgBlue').css('display','none');
	$('.hover-info').css('display','none');
	$('.hire-message').css('display','none');
	$('.work-message').css('display','none');
	
	$('#HomeBgGreen').html(normalcontent);
	
});

$('#hireHome').mouseover(function(e) {
	$('#HomeBgGreen').css('background-color','#06ae4e');
	$('#HomeBgGreen').html(normalcontent);
	
	$('#hire1').attr('src','<?php echo HTTP_IMG_PATH?>/hire-1.png');
	$('#hire2').attr('src','<?php echo HTTP_IMG_PATH?>/hire-2.png');
	$('#hire3').attr('src','<?php echo HTTP_IMG_PATH?>/hire-3.png');
	
	$('#hirepoint-2').html('2. Describe Your Need');
	$('#hirepoint-3').html('3. Get Matched To Pros');
	
	$('.hire-strip').css('background-color','#067434');
	$('.hire-message').css('display','block');
	$('.work-message').css('display','none');
});

$('#workHome').mouseover(function(e) {
	$('#HomeBgGreen').css('background-color','#1281AE');
	$('#HomeBgGreen').html(normalcontent);
	
	$('#hire1').attr('src','<?php echo HTTP_IMG_PATH?>/work-1.png');
	$('#hire2').attr('src','<?php echo HTTP_IMG_PATH?>/work-2.png');
	$('#hire3').attr('src','<?php echo HTTP_IMG_PATH?>/work-3.png');
	
	$('#hirepoint-2').html('2. Find Your Job');
	$('#hirepoint-3').html('3. Get Matched To Hirers');
	
	$('.hire-strip').css('background-color','#0c5d7e');
	$('.hire-message').css('display','none');
	$('.work-message').css('display','block');
});

$('#hireHome').mouseout(function(e) {
	$('#HomeBgGreen').css('background-color','#06ae4e');
	$('#HomeBgGreen').html(nextcontent);
	$('.hire-message').css('display','none');
	$('.work-message').css('display','none');
});

$('#workHome').mouseout(function(e) {
   $('#HomeBgGreen').css('background-color','#06ae4e');
   $('#HomeBgGreen').html(nextcontent);
   $('.hire-message').css('display','none');
	$('.work-message').css('display','none');
});
</script>
<?php  } ?>