<!-- Add / Edit Style Page -->
<div class="portlet box blue">
	<div class="portlet-title">
    	<h4><i class="<?php echo $this->pageIcon?>"></i>&nbsp;<?php echo $this->pageHeading?></h4>
    </div>
    <div class="portlet-body">
		<?php echo $this->getHelper('Messages')->getMessages();?> 
        <?php echo $this->form ;?>
        
        <?php if(!empty($this->blog) && $this->blog['blog_image']!=''){?>
        <div id="BlogImage">
        	<img src="<?php echo HTTP_BLOG_IMAGES_PATH?>/<?php echo $this->blog['blog_image']?>" class="img-thumbnail" style="max-width:500px;" />
        </div>
		<? }?>
    </div>
</div>
<style>
span[for=blog_desc]{
	position: absolute;bottom: -25px;
}
.hire{
	margin-top:20px !important;
}
</style>
<script>
$(document).ready(function(e) {
    $('#submit').before($('#BlogImage'));
});
</script>


 