<div class="row">
 	<div class="col-md-12 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-gears"></i> Job Details </div>
			</div>
			
			<div class="portlet-body padding-0" style="overflow:hidden;">
                <div class="col-sm-12 PostJobDiv custom-form-wrapper">
                    
                    <div class="col-sm-12 overflow text-center padding-0"> 
                        <div class="col-sm-5 overflow text-center padding-0"> 
                            <div class="JobDetailDiv">
                                <div class="Title">
                                    <?php echo $this->job['job_title'];?>
                                </div>
                                
                                <div class="Category text-left">
                                    <i class="fa fa-sitemap"></i> 
                                    <label>Category :</label> <?php echo $this->job['category_title']?> 
                                    <br />
                                    <i class="fa fa-sitemap"></i> 
                                    <label>Skills :</label> <?php echo $this->job['skills']?>
                                    <br />
                                    <i class="fa fa-money"></i> 
                                    <label>Budget :</label> 
                                    <?php if($this->job['job_budget_type']=='0'){?> <!-- FIXED BUDGET -->
                                        <?php if($this->job['job_fix_type']=='0'){ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget']; }
                                        else{ echo '<i class="fa fa-dollar"></i>'.$this->job['job_budget'].' per hour'; }?>
                                    <? }else{ ?> <!-- BUDGET IN RANGE -->
                                    
                                    <?php echo '<i class="fa fa-dollar"></i>'.$this->job['job_min_price'].' to <i class="fa fa-dollar"></i>'.$this->job['job_max_price']?>
                                    <? }?>
                                    <br />
                                    <i class="fa fa-calendar"></i> <label>Completed before:</label> <?php echo date('M d, Y',strtotime($this->job['job_closing_date']));?>
                                    <p></p>
                                </div>
                                
                                <div class="Desc">
                                    <?php echo $this->job['job_desc'];?>
                                </div>
                                
                                <div class="PostedBy">
                                    <label>Posted By : </label><br />
                                    <i><?php echo $this->job['user_first_name'];?></i> 
                                    <small>
                                    <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'user','action'=>'account','user_id'=>$this->job['job_user_id']),
									'default',true) ?>">(See Profile)</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-sm-7 overflow text-center"> 
                        	<div id="mapCanvas" style="height:500px; width:100%;"></div>
                        </div>
                    </div>
                    <p class="clear">&nbsp;</p>
                </div>
            </div>
        </div>
	</div>
</div>


<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script> var joblatitude = '<?php echo $this->job['job_latitude']?>'; var joblongitude = '<?php echo $this->job['job_longitude']?>';</script>

<script>
$(document).ready(function(e) {
	initializeMap1(joblatitude,joblongitude);
});
function initializeMap1(latitude,longitude)
{
	var mapOptions = {
		zoom:6,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		center: new google.maps.LatLng(latitude,longitude)
	};
	var map = new google.maps.Map(document.getElementById("mapCanvas"),mapOptions);
	var siteLatLng = new google.maps.LatLng(latitude,longitude);
	var marker = new google.maps.Marker({
			position: siteLatLng,
			map: map,
			//title: userlocation,
	});
	
	map = new google.maps.Map(document.getElementById('mapCanvas'),mapOptions);
	marker = new google.maps.Marker({map: map});
	marker.set("draggable", "true");
	map.setCenter(mapOptions.center);
	marker.setPosition(mapOptions.center);
	marker.setVisible(true);
	var geocoder = new google.maps.Geocoder(); 
}

$('#ApplyJob').click(function(e) {
	$('#ApplyForm').toggle('slow');
	return false;
});
</script>