<div class="col-sm-12 BlogCategoryDiv custom-form-wrapper" <?php /*?>style="margin-top: 180px;"<?php */?>>
    <div class="col-sm-12 overflow text-center BlogDetails padding-0">
    	<h1>
        	"<?php echo $this->blog['blog_title'];?>"<br />
        </h1>
        <p class="text-left">
        	<small>Posted on <?php echo date('M d, Y',strtotime($this->blog['blog_date']));?></small>
        </p>
        <?php if($this->blog['blog_image']!=''){?>
    	<div class="BlogImage">
        	<img src="<?php echo HTTP_BLOG_IMAGES_PATH?>/<?php echo $this->blog['blog_image']?>" class="img-responsive img-thumbnail" />
        </div>
        <? }?>
        <p>&nbsp;</p>
        <div class="BlogBreadcrumb text-left">
            <ul class="breadcrumb">
                <li><a href="#">Blogs</a></li>
                <li><a href="#"><?php echo $this->blog['blog_cat_title']?></a></li>
                <li class="active"><?php echo $this->blog['blog_title'];?></li>
            </ul>
    	</div>
        
        <div class="BlogDesc text-left">
        	<?php echo $this->blog['blog_desc'];?>
        </div>
        
        <div class="BlogComments">
        	<div class="BlogAllComments text-left">
                <div class="CommentDiv clear">
                	<?php 
					foreach($this->blogComments as $blogComment){
					?>
                    <div class="clear CommentList overflow">
                        <div class="Image padding-0">
                            <img class="img-responsive" style="display:inline-block;" src="<?php echo getUserImage($blogComment['user_image'],'thumb')?>" />
                        </div>
                        
                        <div class="col-sm-12 Comment ">
                        	<h5>
								<?php echo $blogComment['user_first_name']?>
                            </h5>
                            <p class="Date">
                            	<i class="fa fa-calendar"></i> <?php echo date('F M d, Y',strtotime($blogComment['blog_comm_date']))?>&nbsp;&nbsp;
                                <i class="fa fa-clock-o" style="font-size:14px;"></i> <?php echo date('H:i a',strtotime($blogComment['blog_comm_date']))?>
                                <?php if($this->user->user_id==$blogComment['blog_comm_user_id']){?>
                                    <a href="<?php echo $this->url(array('controller'=>'blog','action'=>'deletecomment','blog_comm_id'=>$blogComment['blog_comm_id'],
                                    'blog_id'=>$blogComment['blog_comm_blog_id']),'default',true)?>">
                                        <i class="fa fa-times pull-right" style="cursor:pointer;"></i>
                                    </a>
                                <? }?>
                            </p>
                            <hr />
                            <?php echo $blogComment['blog_comment'];?>
                        </div>
                    </div>
                    <? }?>
                </div>
            </div>
        </div>
    </div>
</div>