<?php 
$model = new Application_Model_Static();
$MessageCount = $model->Super_Get('messages',"msg_status='0' and msg_to='".$this->user->user_id."'",'fetch',$extra=array('fields'=>array('UnreadCount'=>'COUNT(msg_id)')));
?>

<div class="list-group <?php if($this->user->user_type=='service_provider'){?> SP-sideBar <? }else{?> E-sideBar <? }?>">
	<h3 style="margin:0;">Profile </h3>
	<a class="list-group-item text-center" href ="<?php echo $this->url(array(),'front_image')?>">
		<img class="img-responsive img-circle" style="display:inline-block;max-width:150px;" src="<?php echo getUserImage($this->user->user_image,'thumb')?>" />
	</a>
    <a class="list-group-item" data-title="edit_profile" href ="<?php echo $this->url(array('user_id'=>$this->user->user_id),'user_profile')?>"> Public Profile </a>
 	<?php /*?><a class="list-group-item" data-title="front_profile" href ="<?php echo $this->url(array(),'front_profile')?>"> Update Account </a><?php */?>
    <a class="list-group-item" data-title="edit_profile" href ="<?php echo $this->url(array(),'edit_profile')?>"> Manage Profile </a>
    <a class="list-group-item" data-title="front_image" href ="<?php echo $this->url(array(),'front_image')?>">Change Image</a>
    <a class="list-group-item" data-title="change_password"  href ="<?php echo $this->url(array(),'change_password')?>">Change Password</a>
    <a class="list-group-item overflow" data-title="inbox"  href ="<?php echo $this->url(array(),'inbox')?>">Message Board
    	<span class="badge badge-danger"><?php echo $MessageCount['UnreadCount'];?></span>
    </a>
	<a class="list-group-item" data-title="logout"  href ="<?php echo $this->url(array(),'front_logout')?>">Logout</a>
</div>

<script  type="text/javascript">
	$(document).ready(function(e){$('a[data-title="<?php echo $this->show?>"]').addClass("active");});
</script>