<p>&nbsp;</p>
<div class="row row-offcanvas row-offcanvas-left">
	<div class="col-xs-12 col-sm-12">
        <div class="custom-form-wrapper">
        	<h1 class="SiteHeading pull-left">
            	Manage Profile <br />
            	<img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
            </h1>

            <button type="button" class="btn pull-right green-jungle" onclick="window.location='<?php echo $this->url(array('user_id'=>$this->user->user_id),'user_profile')?>'"
            style=" background-color:#07AE4D;">
                <i class="fa fa-angle-double-left" style="color:#ffffff;"></i> Back to account
            </button>

            <?php /*?><button type="button" class="btn pull-right red" style="margin-right:20px;" onclick="window.location='<?php echo $this->url(array('controller'=>'user',
			'action'=>'deleteaccount'),'default',true)?>'">
                <i class="fa fa-ban" style="color:#ffffff;"></i> Delete Account
            </button><?php */?>

        	<p class="clear">&nbsp;</p>
            <h3 class="clear ProfileScore" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-cube"></i>
                <span>Profile Score : </span>
                <?php if($this->user->user_type=='employer'){?>
                    <?php echo round(($this->profile_score/15)*100);?> %
                <? }else{  ?>
                    <?php echo round(($this->profile_score/15)*100);?> %
                <? }?>
            </h3>
            <div class="EditProfile clear">
                <form class="profile_form" enctype="multipart/form-data" method="post">
                    <div class="col-md-6 col-xs-12 col-sm-6 paddingLeft-0">
						<?php echo $this->form->user_first_name;?>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 paddingLeft-0">
						<?php echo $this->form->user_last_name;?>
                    </div>

                    <?php /*?><div class="col-md-6 col-xs-12 col-sm-6 paddingRight-0">
						<?php echo $this->form->user_last_name;?>
                    </div><?php */?>

                    <div class="col-md-6 col-xs-12 col-sm-6 paddingLeft-0">
                    	<?php echo $this->form->user_email;?>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 paddingLeft-0">
						<?php echo $this->form->ud_contact_no;?>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 paddingLeft-0">
                    	<?php echo $this->form->ud_contact_via;?>
                    </div>


                    <div class="col-md-6 col-xs-12 col-sm-6 paddingLeft-0">
						<?php echo $this->form->ud_location;?>
                    </div>

					<div class="col-md-12 col-sm-12 col-xs-12 ProfileChangeImage">
						<i class="fa fa-camera"></i><a class='iframe' href="<?php echo $this->baseUrl('/profile-picture') ?>">Change Picture</a>
					</div>
					<br />

                    <?php if($this->user->user_login_type!='social'){?>
                    <div class="col-md-12 col-sm-12 col-xs-12 ProfileChangePassword">
                        <i class="fa fa-key"></i>Change Password
                    </div>
                    <p class="clear"></p>
                    <div class="PasswordDiv" style="display:none;">
                        <div class="col-md-12 col-xs-12 col-sm-12 padding-0">
                            <?php echo $this->form->user_old_password;?>
                        </div>

                        <div class="col-md-12 col-xs-12 col-sm-12 padding-0">
                            <?php echo $this->form->user_password;?>
                        </div>

                        <div class="col-md-12 col-xs-12 col-sm-12 padding-0">
                            <?php echo $this->form->user_rpassword;?>
                        </div>
                    </div>
                    <? }?>

                    



                    <p class="EditProfileWorker">
                    	<i class="fa fa-suitcase"></i>&nbsp;Worker Profile
                    	<i class="fa fa-plus pull-right" id="WorkerCollapse"></i>
                    </p>

                    <div id="WorkerProfile" style="display:none;">
                    		<div class="work SiteButton btn btn-default pull-right addSkillBtn"><i class="fa fa-plus"></i>&nbsp;Suggest Skill</div>

                        <p class="clear">&nbsp;</p>
                        <div class="clear">
							<?php echo $this->form->ud_intrested_in;?>
                            <?php echo $this->form->ud_experience;?>
                            <?php echo $this->form->ud_worker_company;?>

                            <div class="col-md-12 col-xs-12 col-sm-12 padding-0">
								<?php echo $this->form->ud_pitch;?>
	                        </div>

                            <!-- <?php echo $this->form->ud_worker_about	;?> -->

                        </div>
                    </div>

                    <p class="EditProfileHirer">
                    	<i class="fa fa-user"></i>&nbsp;Hirer Profile
                    	<i class="fa fa-plus pull-right" id="HirerCollapse"></i>
                    </p>

                    <div id="HirerProfile" style="display:none;">
						<!-- <?php echo $this->form->ud_looking_for;?> -->
                        <!-- <?php echo $this->form->ud_exp_required;?> -->
                        <?php echo $this->form->ud_hirer_company;?>
                        <?php echo $this->form->ud_hirer_about;?>
                    </div>

                    <?php echo $this->form->ud_latitude;?>
                    <?php echo $this->form->ud_longitude;?>
                    <?php echo $this->form->btnsubmit;?>
                    <button type="button" class="btn pull-right red" style="margin-right:20px;" onclick="return DeleteAccount();">
                        <i class="fa fa-ban" style="color:#ffffff;"></i> Delete Account
                    </button>

                </form>


            </div>
        </div>

        <p class="clear">&nbsp;</p>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            	<h3 class="modal-title" id="myModalLabel">Profile Score</h3>
            </div>
          	<div class="modal-body overflow">
            	<div class="chart" data-percent="<?php echo round(($this->profile_score/15)*100);?>" data-scale-color="#ffb400">
                	<span>
						<?php if($this->user->user_type=='employer'){?>
                            <?php echo round(($this->profile_score/15)*100);?> %
                        <? }else{  ?>
                            <?php echo round(($this->profile_score/15)*100);?> %
                        <? }?>
                    </span>
            	</div>

                <div class="pull-right" style="margin-top: 45px;max-width: 62%;">
                	<?php if(round(($this->profile_score/15)*100)<90){?>
                		<i>Improve your profile score by completing your WORKER and HIRER profile</i>
                    <? }else if(round(($this->profile_score/15)*100)==100){ ?>
                		<i>Excellent..!! Your profile is complete</i>
                    <? }else{ ?>
                		<i>Your profile is almost complete</i>
                    <? }?>
                </div>
          </div>
          <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
</div>

<script src="<?php echo FRONT_JS_PATH?>/jquery.easypiechart.js"></script>
<link rel="stylesheet" href="<?php echo FRONT_CSS_PATH?>/jquery.easy-pie-chart.css" />
<script>
function chart()
{
	$('.chart').easyPieChart({
		barColor:'#07AE4D',
		//your options goes here
	});
}
$('#myModal').on('shown.bs.modal', function () {
	chart();
})
</script>
<style>
.chart{
	height:105px; position:relative;
}
.chart span{
	position:absolute; left:36%; top:45px;
}
.modal-dialog{
	width:450px;
}
</style>

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
$(document).ready(function(e) {
	$(".iframe").colorbox({iframe:true, width:"80%", height:"83%"});
	/*
    if('<?php echo $this->image?>'=='1')
	{
		$('html, body').animate({
				scrollTop: $("label[for='user_image']").offset().top-50
		}, 1000);
		$('label[for="user_image"]').trigger('click');
	}
	*/
});
$('.ProfileChangePassword').click(function(e) {
    $('.PasswordDiv').toggle('slow');
});
</script>


<!-- ADD SKILL MODAL START -->
<div class="modal fade" id="skillModal">
    <div class="modal-dialog">
         <div class="modal-content Overflow">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Your Own Skill</h4>
                  </div>
                  <div class="modal-body" id="ProfileSection"><?=$this->skillForm?></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="skillBtn">SUBMIT</button>
                  </div>
         </div>
     </div>
</div>
<!-- ADD SKILL MODAL END-->