<p>&nbsp;</p>
<div class="row <?php /*?>row-offcanvas row-offcanvas-left<?php */?>">
	<div class="col-xs-12 col-sm-3 <?php /*?>sidebar-offcanvas<?php */?>" <?php /*?>id="sidebar"<?php */?> role="navigation" >
	  <?php echo $this->render("profile/_profile_side_bar.phtml");?>
	</div>
	<div class="col-xs-12 col-sm-9">
        <?php /*?><p class="pull-left visible-xs"> 
            <button type="button" class="btn btn-primary" data-toggle="offcanvas"> 
            More Page 
            </button>
        </p><?php */?>
        
        <div class="clearfix"></div>
        
        <div class="custom-form-wrapper">
        	<h1 class="<?php if($this->user->user_type=='service_provider'){?> SiteHeading1 <? }else{?> SiteHeading <? }?>">
            	<?php echo $this->pageHeading;?>           
            	<?php if($this->user->user_type=='service_provider'){?>       
            	<img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
                <? }else{ ?>
                <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                <? }?>
            </h1>
        	<?php echo $this->form?>
        </div>
        <p>&nbsp;</p>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
	  $('[data-toggle=offcanvas]').click(function() {
		$('.row-offcanvas').toggleClass('active');
	  });
	});
</script>


 