<div class="col-sm-12 MessageBox custom-form-wrapper">
    <div class="panel-body NotifyJobContentDiv ">
			 <?php 
			 		$socialDataArr=unserialize($this->socialData['social_data']);
			 		$educationData=$socialDataArr['education'];
					$workData=$socialDataArr['work'];
					$likeData=$socialDataArr['likes'];
					$eventData=$socialDataArr['events'];
					$flag=0;
			 ?>
              <?php if($educationData[0]['school']['name']!='') { $flag++; ?>  
             		<!-- USER EDUCATION DATA START -->
                    	<h1 class="SiteHeading1">EDUCATION HISTORY</h1>
                        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
                        <p>&nbsp;</p>
                         <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
                             
                             <div class="col-sm-1">
                             	<img src="<?=HTTP_IMG_PATH?>/cap.png" style="margin-top:15px;" />
                             </div>
                             
                             <div class="col-sm-11"><br/>
                                 <span class="home-campaign-name NotifyLabel"><?=$educationData[0]['school']['name']?></span></a><br/><br/>
                                 <span class="label label-success"><?=$educationData[0]['type']?>&nbsp;,<?=$educationData[0]['year']['name']?></span>
                             </div>
                         </div>
                    
                    <!-- USER EDUCATION DATA END --> 
    
                        <hr class="SearchPageHr" />
                <?php } ?>       
                     <?php if($workData[0]['employer']['name']!='') { $flag++;  ?>  
                       <!-- USER WORK DATA START --> 
                        <h1 class="SiteHeading">WORK HISTORY</h1>
                        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                        <p>&nbsp;</p>
                         <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
                             
                             <div class="col-sm-1">
                             	<img src="<?=HTTP_IMG_PATH?>/working.png" style="margin-top:15px;" />
                             </div>
                             
                             <div class="col-sm-11"><br/>
                                 <span class="home-campaign-name NotifyLabel"><?=$workData[0]['employer']['name']?></span></a><br/><br/>
                                 <span class="label label-success"><?=$workData[0]['position']['name']?>&nbsp; at <?=$workData[0]['location']['name']?></span><br/>
                                 <span><i>"<?=$workData[0]['description']?>"</i></span>
                             </div>
                         </div>
                       <!-- USER WORK DATA END --> 
                     
                       <hr class="SearchPageHr" />
                     <?php } ?>  
                         <?php if(count($likeData['data'])>0 && !empty($likeData['data'][0])) { $flag++; ?> 
                        <!-- USER LIKE DATA START --> 
                        <h1 class="SiteHeading1">LIKES</h1>
                        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
                        <p>&nbsp;</p>
                         <div class="col-sm-12 padding-0 clear NotifyMainContent overflow" align="left">
                           
                           <div class="row clear overflow margin-0">
								<?php $i=1; foreach($likeData['data'] as $allLikes) { ?>
                                 
                                 <div class="col-sm-6 overflow">
                                 	<div class="row sociallikeDiv margin-0">
                                     <span class="label label-success"><?=$allLikes['name']?></span><br/><br/>
                                     <span class="home-campaign-name NotifyLabel"><i><?=$allLikes['about']?></i></span>
                                    </div>
                                 </div>
                                	<?php if($i%2==0) echo "</div><div class='clear'><br/><hr class='SearchPageHr' /></div><div row clear overflow>"; ?>
                                <?php $i++; } ?>
                            </div> 
                         </div>
                       <!-- USER WORK DATA END --> 
                        <hr class="SearchPageHr" />
                       <?php } ?>  
                       
                       <?php if(count($eventData['data'])>0 && !empty($eventData['data'][0])) { $flag++; ?>
                        <!-- USER EVENT DATA START --> 
                        <h1 class="SiteHeading">EVENTS</h1>
                        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                        <p>&nbsp;</p>
                         <div class="col-sm-12 padding-0 clear NotifyMainContent overflow" align="left">
                           
                           <div class="row clear overflow margin-0">
								<?php $i=1; foreach($eventData['data'] as $allEvents) { ?>
                                 
                                 <div class="col-sm-12 overflow">
                                 	<div class="row sociallikeDiv margin-0">
                                     <span class="label label-success"><?=$allEvents['description']?></span><br/><br/>
                                     <div class="home-campaign-name NotifyLabel"><i class="fa fa-map-marker"></i>&nbsp;<i><?=$allEvents['place']['name']?></i></div><br />
                                     <span><i class="fa fa-user"></i>&nbsp;OWNER: <i><?=$allEvents['owner']['name']?></i></span>
                                     <span><i class="fa fa-calendar"></i>&nbsp;Starting On : <i><?=date('d M,Y',strtotime($allEvents['start_time']))?></i></span><br />
                                     <span><i class="fa fa-group"></i>&nbsp;Total People Attending : <i><?=count($allEvents['attending']['data'])?></i></span>
                                    </div>
                                 </div>
                                <?php $i++; } ?>
                            </div> 
                         </div>
                       <!-- USER EVENT DATA END --> 
                       <?php } ?>
                       
                       
                       <?php if($flag==0) { ?>
                       		<div class="col-sm-4 col-sm-offset-4 NoRecordFound" align="center">No Details Found..</div>
                       <?php } ?>
    </div>
</div>        
    