<div class="row margin-0 UserProfileBanner">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-9 col-sm-9">
            <div class="UserProfileDiv overflow" style="margin:10px">
                <div class="row" style="margin-bottom: 25px;padding-left:12px">
                    <div class="col-md-9 banner-top"><img style="width:100%;display:none;height:auto;max-width:728px" src="https://placehold.it/728x90"></div>
                        <div class=" col-md-3 col-sm-12 UserProfileAccountBtn">
                            <?php if($this->UserDetails['user_id']!=$this->user->user_id){?>
                                <button class="hire btn pull-right" onclick="window.location='<?php echo $this->url(array('user_id'=>$this->UserDetails['user_id']),'hire')?>'">
                                    <i class="fa fa-user"></i>&nbsp;Hire Me
                                </button>
                            <? }else{ ?>
                                <button class="hire btn pull-right account-setting" onclick="window.location='<?php echo $this->url(array(),'edit_profile')?>'">
                                    <i class="fa fa-user"></i>&nbsp;Account Settings
                                </button>
                                <?php /*?> <p class="clear">
                        <button class="hire btn pull-right" onclick="window.location='<?php echo $this->url(array(),'job_list')?>'">
                        	<i class="fa fa-gears"></i>&nbsp;My Jobs
                        </button>
                        </p><?php */?>
                            <? }?>
                        </div>

                    </div>
                <div class="col-md-3 col-sm-3 Image">
                    <?php if($this->UserDetails['user_id']==$this->user->user_id){?>
                    <a href="<?php echo $this->url(array('image'=>'1'),'edit_profile') ?>">
                        <!-- <img class="img-responsive img-circle" src="<?php echo getUserImage($this->UserDetails['user_image'],'thumb')?>" /> -->
                        <div class="thumbnail-user-profile-medium" style="padding:0px">
                        <img class="medium-img"  src="<?php echo getUserImage($this->UserDetails['user_image'],'160')?>"  />
                </div>
                </a>
                <? }else{?>
                    <!-- <img class="img-responsive img-circle" src="<?php echo getUserImage($this->UserDetails['user_image'],'thumb')?>" /> -->
                    <div class="thumbnail-user-profile-medium">
                        <img class="medium-img"  src="<?php echo getUserImage($this->UserDetails['user_image'],'160')?>" />
                    </div>
                <? }?>
            </div>

            <div class="col-md-9 col-sm-9 leftpadding"  >

                <div class="Name clear">
                    <?php echo $this->UserDetails['user_first_name'] . ' ' . $this->UserDetails['user_last_name'] ?>
                </div>
                <?php if($this->UserDetails['ud_location']!=''){?>
                    <div class="Location">
                        <i class="fa fa-map-marker"></i>
                        <?php echo $this->UserDetails['ud_location'];?>
                    </div>
                <? }?>
                <?php if($this->UserDetails['ud_pitch']!=''){?>
                    <div class="Pitch">
                        Elevator Pitch: " <?php echo $this->UserDetails['ud_pitch'];?> "
                    </div>
                <? }?>

                <?php if($this->UserDetails['ud_hirer_about']!=''){?>
                    <div class="Pitch">
                        <div class="row">
                            <div class="col-md-12">About Hirer: <?php echo $this->UserDetails['ud_hirer_about'];?></div>

                         </div>
                    </div>
                <? }?>

                <p></p>
                <div class="Rating pull-left" title="This is your feedback from the workers and hirers you do business with. This is public.">
                    <?php
                    if($this->RateData['count']>0){
                        $rate=$this->RateData['rate']/$this->RateData['count'];
                        echo rating_display(round($rate));
                    }else{
                        echo rating_display(0);
                    }
                    ?>
                    <br />

                    <span><?php echo $this->ThumbUpData['thumbsUp'];?></span><i class="fa fa-thumbs-up"></i><small>(Thumbs Up)</small>
                    &nbsp;&nbsp;&nbsp;
                    <span><?php echo $this->ThumbDownData['thumbsDown'];?></span><i class="fa fa-thumbs-down"></i><small>(Thumbs Down)</small>
                </div>
                <?php if($this->UserDetails['user_id']!=$this->user->user_id){?>
                    <div class="Message pull-right">
                        <!--
                   		<button type="button" class="btn hire" onclick="window.location='<?php echo $this->url(array('user_id'=>$this->UserDetails['user_id']),'compose')?>'">
                        Private Message
                        </button>
                        -->

                        <a href="/compose?profile_user_id=<?php echo $this->UserDetails['user_id']; ?>">
                            <button type="button" class="btn hire">Private Message</button>
                        </a>

                    </div>
                <? }?>
            </div>

            <p class="clear">&nbsp;</p>

            <div class="UserProfileSection1">
                <div class="col-md-6 col-sm-6">
                    <div class="UserProfileWork">
                        <p class="Title">LOOKING FOR WORK</p>
                        <?php

                        if(count($this->WorkJobs)>0){
                            foreach($this->WorkJobs as $WorkJobs)
                            {
                                ?>
                                <p class="JobTitle">
                                    <a href="<?php echo $this->url(array('job_id'=>$WorkJobs['job_id']),'job_details')?>">
                                        <i class="fa fa-angle-double-right"></i>
                                        <?php echo $WorkJobs['job_title']?>
                                    </a>
                                </p>
                                <p class="Date">
                                    Applied on : <?php echo date('M d, Y',strtotime($WorkJobs['job_app_date']));?>
                                </p>



                                <?
                            }

                            ?>
                            <p class="SeeMore">
                                <a href="<?php echo $this->url(array('type'=>'lookingforwork','user_id'=>$this->UserDetails['user_id']),'jobs')?>">see more..</a>
                            </p>
                            <?

                        }else{
                            ?>
                            <p>No Applied Jobs</p>
                            <?
                        }
                        ?>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="UserProfileWork">
                        <p class="Title">PREVIOUS JOBS</p>
                        <?php

                        if(count($this->PreviousJobs)>0){
                            foreach($this->PreviousJobs as $PreviousJobs)
                            {
                                ?>
                                <p class="JobTitle">
                                    <a href="<?php echo $this->url(array('job_id'=>$PreviousJobs['job_id']),'job_details')?>">
                                        <i class="fa fa-angle-double-right"></i>
                                        <?php echo $PreviousJobs['job_title']?>
                                    </a>
                                </p>
                                <p class="Date">
                                    Applied on : <?php echo date('M d, Y',strtotime($PreviousJobs['job_app_date']));?>
                                </p>



                                <?
                            }

                            ?>

                            <p class="SeeMore">
                                <a href="<?php echo $this->url(array('type'=>'previousjobs','user_id'=>$this->UserDetails['user_id']),'jobs')?>">see more..</a>
                            </p>

                            <?

                        }else{
                            ?>
                            <p>No Previous Jobs</p>
                            <?
                        }
                        ?>

                    </div>
                </div>
            </div>

            <div class="UserProfileSection2 clear">
                <div class="col-md-6 col-sm-6">
                    <div class="UserProfileHire">
                        <p class="Title">LOOKING TO HIRE</p>
                        <?php
                        if(count($this->HireJobs)>0)
                        {
                            foreach($this->HireJobs as $HireJobs)
                            {
                                ?>
                                <p class="JobTitle">
                                    <a href="<?php echo $this->url(array('job_id'=>$HireJobs['job_id']),'job_details')?>">
                                        <i class="fa fa-angle-double-right"></i>
                                        <?php echo $HireJobs['job_title']?>
                                    </a>
                                </p>
                                <p class="Date">
                                    Posted on : <?php echo date('M d, Y',strtotime($HireJobs['job_added_date']));?>
                                </p>


                                <?
                            }

                            ?>

                            <p class="SeeMore">
                                <a href="<?php echo $this->url(array('type'=>'lookingtohire','user_id'=>$this->UserDetails['user_id']),'jobs')?>">see more..</a>
                            </p>

                            <?

                        }else{
                            ?>
                            <p>
                                No Jobs Posted
                            </p>
                            <?
                        }
                        ?>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="UserProfileHire">
                        <p class="Title">PREVIOUS HIRINGS</p>
                        <?php
                        if(count($this->PreviousHirings)>0)
                        {
                            foreach($this->PreviousHirings as $PreviousHirings)
                            {
                                ?>
                                <p class="JobTitle">
                                    <a href="<?php echo $this->url(array('job_id'=>$PreviousHirings['job_id']),'job_details')?>">
                                        <i class="fa fa-angle-double-right"></i>
                                        <?php echo $PreviousHirings['job_title']?>
                                    </a>
                                </p>
                                <p class="Date">
                                    Posted on : <?php echo date('M d, Y',strtotime($PreviousHirings['job_added_date']));?>
                                </p>

                                <?
                            }
                            ?>

                            <p class="SeeMore">
                                <a href="<?php echo $this->url(array('type'=>'previoushirings','user_id'=>$this->UserDetails['user_id']),'jobs')?>">see more..</a>
                            </p>

                            <?

                        }else{
                            ?>
                            <p>
                                No Hirings
                            </p>
                            <?
                        }
                        ?>

                    </div>

                    <p class="clear"></p>
                    <div class="UserProfileHire">
                        <p class="Title">Testimonials from jobs completed</p>
                        <ul class="bxslider" style="padding-left:10px;">
                            <?php
                            if(count($this->Testimonials)>0)
                            {
                                foreach($this->Testimonials as $Testimonials)
                                {
                                    ?>
                                    <li>
                                        <p class="JobTitle">
                                            "<?php echo $Testimonials['testimonial_text']?>"
                                        </p>
                                        <p class="JobTitle">
                                            <a href="<?php echo $this->url(array('job_id'=>$Testimonials['testimonial_job_id']),'job_details')?>">
                                                for Job -  <?php echo $Testimonials['job_title']?>
                                            </a>
                                        </p>
                                        <p class="JobTitle">
                                            <a href="<?php echo $this->url(array('user_id'=>$Testimonials['testimonial_by']),'user_profile')?>">
                                                By -  <?php echo $Testimonials['user_first_name']?>
                                            </a>
                                        </p>
                                        <hr />
                                    </li>
                                    <?
                                }
                            }else{
                                ?>
                                <p>
                                    No Testimonials Found
                                </p>
                                <?
                            }
                            ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3">
        <div class="UserProfileSkills">
            <?php /*?><?php if($this->UserDetails['user_login_type']=='social'){?>
                	<a href="<?=$this->url(array('user_id'=>$this->UserDetails['user_id']),'front_more_details')?>"><label class="label label-primary pull-right" style="cursor:pointer;">View More Details</label></a>
                <? }?><?php */?>
            <div class="clear">

                <!-- <label class="Title" title="These are part of your worker profile. You can edit these in your Account Settings.">Skills</label> -->

                <label class="Title" title="These are part of your worker profile. You can edit these in your Account Settings.">Endorsements</label>

                <div class="skills-endorse-div-full">
                    <div class="skills-endorse-div-left"><img src="<?php echo FRONT_IMAGES_PATH?>/arrow-skills.png" /></div>
                    <div class="skills-endorse-div-right"><img src="<?php echo FRONT_IMAGES_PATH?>/arrow-endorsements-count.png" /></div>
                </div>

                <?php
                if($this->UserDetails['ud_intrested_in']!=''){
                    $model = new Application_Model_Static();
                    $joinArr = array(
                        '0' => array('0'=>'skills_endorsed',
                            '1' => "skill_id=s_skill_id and s_user_id='".$this->UserDetails['ud_user_id']."'",
                            '2' => 'left',
                            '3' => array('s_user_id','s_skill_id','s_by_user_id')),
                    );
                    $extra = array(
                        'fields' => array('skill_id','skill_title','endorse_count'=>new Zend_Db_Expr('COUNT(s_id)')),
                        'group' => 'skill_id',
                    );
                    $where = "skill_id IN (".$this->UserDetails['ud_intrested_in'].") ";
                    $UserSkills = $model->Super_Get('skills',$where,"fetchAll",$extra,$joinArr);
                    foreach($UserSkills as $skills){
                        /* Check if skill is already endorsed - Starts */
                        $checkEndorsement = $model->Super_Get('skills_endorsed',"s_user_id='".$this->UserDetails['ud_user_id']."' and s_skill_id='".$skills['skill_id']."' and
					   s_by_user_id='".$this->user->user_id."'");
                        /* Check if skill is already endorsed - Ends */
                        ?>





                        <div class="skills-endorse-div-full">

                            <p class="work">
                                <?php
                                if($this->UserDetails['ud_user_id']!=$this->user->user_id){
                                    if(!empty($checkEndorsement)){
                                        ?>
                                        <?php /*?><i class="fa fa-check"></i><?php */?>
                                        <?
                                    }else{
                                        ?>
                                        <a href="<?php echo $this->url(array('controller'=>'profile','action'=>'endorseskill','skill_id'=>$skills['skill_id'],
                                            'user_id'=>$this->UserDetails['ud_user_id']),'default',true)?>">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <?
                                    }
                                }
                                ?>
                                <?php echo $skills['skill_title'];?>
                                <span class="badge badge-success"><?php echo $skills['endorse_count'];?></span>
                            </p>

                        </div>

                        <?
                    }
                }else{
                    echo '<br/>No Skills';
                }
                ?>
            </div>
        </div>
    </div>
</div>
</div>


<style>
    .bx-wrapper{
        margin:0 auto;
    }
    .bx-wrapper .bx-viewport{
        border:none; background-color:transparent; background:none; box-shadow:none;
    }
    .bx-wrapper .bx-controls-direction a.bx-prev{
        top: -23%;left: 93%;background: url(<?php echo FRONT_CSS_PATH?>/images/prev1.png) no-repeat; background-size:contain;
    }
    .bx-wrapper .bx-controls-direction a.bx-next{
        top: 103%;left: 93%;background: url(<?php echo FRONT_CSS_PATH?>/images/next1.png) no-repeat;background-size:contain;
    }
    .bx-pager{
        display:none;
    }
</style>
<script src="<?php echo FRONT_JS_PATH?>/jquery.nicescroll.js"></script>
<script>
    $(document).ready(function() {

        $('.bxslider').bxSlider({
            auto: false,
            autoControls: true,
            mode:'vertical'
        });

    });
</script>