<style>
.radio{
	margin-top:5px !important;
}
label.radio {
	width:20% !important;display:inline-block !important;white-space:nowrap !important;font-weight:normal !important;
}
</style>
<div class="col-sm-12 MessageBox custom-form-wrapper NotifyJobContentBlock">
    <div class="custom-form-wrapper">
        <h1 class="<?php if($this->user->user_type=='service_provider'){?> SiteHeading1 <? }else{?> SiteHeading <? }?>">
        	<?php echo $this->pageHeading;?>           
			<?php if($this->user->user_type=='service_provider'){?>       
            	<img src="<?php echo FRONT_IMAGES_PATH?>/color_rule1.png" class="img-responsive" />
            <? }else{ ?>
            	<img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
            <? }?>
        
            <div class="panel-body NotifyJobContentDiv ">
				<?php if(count($this->notifyData)){
                foreach($this->notifyData as $notifyData) 
                {
                    list($years,$months,$days,$hours,$minutes,$seconds)=getTimeDifference($notifyData['notify_date']);
                    switch($notifyData['notify_type']){
                    case 0:
                    $notifyColor='info';
                    $notifyText='MESSAGE RECEIVED ON JOB';
                    $notifyLink=$this->url(array(),'inbox');$notifJobId=$notifyData['job_id'];
                    break;
                    case 1:
                    $notifyColor='info';
                    $notifyText='APPLICATION RECEIVED ON JOB';
                    $notifyLink=$this->url(array(),'job_list').'#myjobs';$notifJobId=$notifyData['job_id'];
                    break;
                    case 2:
                    $notifyColor='info';
                    $notifyText='JOB ASSIGNED';
                    $notifyLink=$this->url(array(),'job_list').'#applied';
                    $notifJobId=$notifyData['job_id'];
                    break;
                    case 3:
                    $notifyColor='info';
                    $notifyText='JOB COMPLETED';
                    $notifyLink=$this->url(array(),'job_list').'#applied';
                    $notifJobId=$notifyData['job_id'];
                    break;
                    case 4:
                    $notifyColor='info';$notifyText='RATING RECEIVED ON JOB';
                    $notifyLink=$this->url(array('job_id'=>$notifyData['job_id']),'job_details');
                    $notifJobId=$notifyData['job_id'];
                    break;
                }
                ?>
                <div class="col-sm-12 padding-0 clear NotifyMainContent" align="left">
                
                    <div class="col-sm-2 paddingLeft-0 ">
                        <img src="<?=getUserImage($notifyData['user_image'],'160')?>" class="avatar profileToolTip" title="<?=$notifyData['user_name']?>" data-placement="right">
                        <br/>
                        <div class="UserName text-left">
							<?=$notifyData['user_name']?>
                        </div>
                    </div>
                
                    <div class="col-sm-10 paddingLeft-0 ratingDiv">
                        <span class="time pull-right label label-success"> 
                        <? 
                        if($years!=0){?> <?=$years?> Years ago <? } 
                        else if($months!=0){?> <?=$months?> Months ago <? } 
                        else if($days!=0){?> <?=$days?> Days ago<? } 
                        else if($hours!=0){?> <?=$hours?> hours ago<? } 
                        else if($minutes!=0){?> <?=$minutes?> Minutes ago<? } 
                        else if($seconds!=0){?> Just Now<? } 
                        else {?>Just Now<? } 
                        ?>
                        </span> 
                        <a href="<?=$this->url(array('job_id'=>$notifJobId),'job_details')?>">
                            <span class="home-campaign-name NotifyLabel"><?=$notifyData['job_title']?></span>
                        </a>
                        <br/>
                        <a href="<?=$notifyLink?>">
                            <span class="label label-primary notifyType"><?=$notifyText?></span>
                            <br />
                        </a>
                        <? if($notifyData['notify_type']=='4') { ?>
                            <span title="<?=$notifyData['job_rate']?> stars out of 5 stars"><?=rating_display($notifyData['job_rate'])?></span><br/>
                        <? } ?>
                    </div>
                </div>
                
                <hr class="SearchPageHr" />
                <? } } else { ?>
                	<div class="NoRecordFound" align="center">No New Notifications..</div>
                <? } ?>
            </div>
        </h1>
    </div>
</div> 