<div class="row margin-0" <?php if($this->status=='0'){?> style="background-color:#F1F1F1; min-height:515px;" <? }else{?> style="background-color:#ffffff; min-height:515px;" <? }?>>    <div class="container">
        <div class="col-sm-12 padding-0">	
            <?php /*?><div class="well" id="profile-heading"><h2><?=$this->pageHeading?> </h2></div><?php */?>
            <p>&nbsp;</p>
            <div>
                <?
                if($this->activeState=='1')
                {
                ?>
                    Thank You! <a href="<?=APPLICATION_URL?>/user/login" >Click Here</a> <br />Your Account activated successfully. 
                <?
                }
                if($this->activeState=='2')
                {
                ?>
                    <h3>Your Account already activated.<br /><a href="<?=APPLICATION_URL?>" >Click Here</a> to Login.</h3>
                <?
                }
                if($this->activeState=='3')
                {
                ?>
                    <h3>The account activation link you are using is invalid or expired.<br /><a href="<?php echo $this->baseUrl()?>/user/login" >Click Here</a> to Login.</h3>
                <?
                }
                ?>
            </div>
            
            <div>
                <?php 
                if($this->status==0) /* User Status = 0 */
                {
                ?>
                    <div class="col-sm-4 col-sm-offset-4">
                    	<img src="<?php echo FRONT_IMAGES_PATH ?>/pending-verification.png" class="img-responsive" style="margin:0 auto;" />
                    </div>
                    
                    <h3 class="clear text-center" style="color:#7e7e7e; line-height:1.8;">
                    	Your account is not activated. <br />Use the activation link sent to your email account to activate your account
                    </h3>
                <?
                }
                else if($this->status==1) /* User Payment Status = 0 */
                {
                ?>
                    <div class="col-sm-4 col-sm-offset-4">
                    	<img src="<?php echo FRONT_IMAGES_PATH ?>/subscribe.jpg" class="img-responsive" style="margin:0 auto;" />
                    </div>
                    
                    <p class="clear">&nbsp;</p>
                    
                    <h2 class="clear text-center" style="color:#7e7e7e; line-height:1.8;">
                    	You need to subscribe to our website. Please subscribe to login.<br />
                        
                        <a href="<?php echo $this->url(array('controller'=>'user','action'=>'subscription','key'=>$this->UserData['user_email']),'default',true)?>">
                            <button class="btn SiteButton">Subscribe</button>
                        </a>
                    </h2>
                <?
                }
                ?>
            </div>
        </div>
    </div>
</div>
