<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-6 col-xs-12">	
        <h2 class="ribbon"><i class="fa fa-user IconColor"></i><?php echo $this->pageHeading;?></h2>

            <div class="common-inner">
                <?php echo $this->form;?>
            </div>
        </div>
    </div>
</div>
 