<?php 
if(isset($_COOKIE['UserEmail'])){
	$this->form->user_email->setValue($_COOKIE['UserEmail']);
	$this->form->user_password->setValue('');
}
?>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-6 col-xs-12">	
        <h2 class="ribbon"><i class="fa fa-user IconColor"></i><?php echo $this->pageHeading;?></h2>
            <div class="common-inner">
                <?php echo $this->form;?>
                <p class="clear fbsigninP">
                	<button type="button" id="fbSignIn"><i class="fa fa-facebook"></i>&nbsp;<span>Connect with facebook</span></button>
                </p>
                <p class="clear"></p>
                <p>
                    <a href="<?php echo $this->url(array(),'front_register')?>">Sign Up</a> | <a href="<?php echo $this->url(array(),'front_forgotpassword')?>">
                    	Forgot Password
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


<!-- "registration confirm lightbox below" -->

<script type="text/javascript">

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

$( document ).ready(function() {
	
	var myRegistrationStatus = getParameterByName('registration');
	
	if (myRegistrationStatus == 1){
		$('#RegistrationModal .modal-body').html("<p>Thank you for signing up to The Job Mill!</p><p>Before you can sign in, please follow the instructions in the verification email that you'll receive shortly.</p>");
		$('#RegistrationModal').modal('show');		
	}	
	
});
		

</script>

<div class="modal fade" id="RegistrationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title">
                    <h1 class="SiteHeading">
                        <i class="fa fa-gears"></i>&nbsp;Please check your email<br />
                        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
                    </h1>
                </h4>
            </div>
            <div class="modal-body overflow"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- "registration confirm lightbox above" -->


<style>
form{
	text-align:center;
}
#remember_me{
	float:left;
}
</style> 