<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-5 col-sm-6 col-xs-12">
			<h2 class="ribbon"><i class="fa fa-user IconColor"></i><?php echo $this->pageHeading;?></h2>

			<div class="common-inner">
				<?php echo $this->form;?>
				<input type="hidden" id="mobile_confirm" value=""/>


				<p class="clear fbsigninP" style="display: none;">
					<button type="button" id="fbSignIn"><i class="fa fa-facebook"></i>&nbsp;<span>Connect with facebook</span></button>
				</p>
				<p class="clear"></p>
				<p style="font-size:13px;">You will receive an activation email on your registered email address to activate your account</p>
				<p>
					<a href="<?php echo $this->url(array(),'front_login')?>">Sign In</a> |
					<a href="<?php echo $this->url(array(),'front_forgotpassword')?>">Forgot Password</a>
				</p>
			</div>
		</div>
	</div>

</div>
<div class="container">
	<!-- Trigger the modal with a button -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Confirm Mobile</h4>
				</div>
				<div class="modal-body">

					<form class="form-inline">
						<div class="form-group">
							<label for="code">Confirmation Code:</label>
							<input type="text" class="form-control" id="code" placeholder="Enter code ">
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" id="btn-cancel" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" id="btn-confirm" class="btn btn-success" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Matching Code">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	form{
		text-align:center;
	}

	#btnsubmit{
		display: none;
	}

	#user_terms_agreement{
		float: left;
	}
</style>

<?php

$ip = Zend_Controller_Front::getInstance()->getRequest()->getServer('REMOTE_ADDR');

?>

<script type="text/javascript">
	var isValidMobile=true;
	$("#mobile_confirm").val(0);
	$( document ).ready(function() {

		$("#btnsubmit").show();

//		Start code of mobile confirmation
		/*
		$("#confirm_button").on("click",function (e) {

			var mobile_no = $("#user_mobile_no").val();
			if(mobile_no.length>=10) {

				$('#myModal').modal('show');
				$('#code').val('');
				console.log("<?php echo APPLICATION_URL; ?>");
				$.ajax({
						url: '<?php echo APPLICATION_URL;?>/user/smssend',
						type: 'post',
						dataType: 'json',
						data: {mobile: mobile_no},
					})
					.done(function (e) {
						console.log(e);
					})
					.fail(function () {
						console.log("error");
					})
					.always(function () {
						console.log("complete");
					});

			}
			else{
				e.preventDefault();

			}



		});
		$("#btn-confirm").on("click",function () {
			var $this = $(this);


			$("#btn-confirm").attr("disabled", "disabled");
			$("#btn-confirm").removeClass('btn-success');
			$("#btn-confirm").addClass('btn-postjob-disable');
			$this.button('loading');

			var code = $("#code").val();
			console.log("<?php echo APPLICATION_URL; ?>");
			$.ajax({
					url: '<?php echo APPLICATION_URL;?>/user/smsconfirm',
					type: 'post',
					dataType: 'json',
					data: {code:code },
				})
				.done(function(e) {

					if (e.status == "true"){
						isValidMobile=true;

						if($("#user_terms_agreement").is(':checked')){
							$("#btnsubmit").removeClass("grayed-out");
							$("#fbSignIn").removeClass("grayed-out");
						}
							$("#code").nextAll(".help-block").remove();
							$("#code").after('<span for="user_mobile_no" style="color: #468847;" class="help-block">Mobile confirmation Successful!</span>');

							setTimeout(function() {
								$('#myModal').modal('hide');
							}, 4000);



					}
					else {
						$("#btn-confirm").removeAttr("disabled");
						$("#btn-confirm").addClass('btn-success');
						$("#btn-confirm").removeClass('btn-postjob-disable');
						$("#code").nextAll(".help-block").remove();
						$("#code").after('<span for="user_mobile_no" style="color: #b94a48;" class="help-block">Mobile confirmation failed!</span>');

					}
					$this.button('reset');

				})
				.fail(function() {
					console.log("error");


				})
				.always(function() {
					console.log("complete");
				});





		});*/



//		End code of mobile confirmation

		$(".fbsigninP").show();
		$("#btnsubmit").show();
		$("#btnsubmit").addClass("grayed-out");
		$("#fbSignIn").addClass("grayed-out");

		$("#user_terms_link").val('<?php echo $this->site_configs['current_terms_link']; ?>');

		$("#user_privacy_link").val('<?php echo $this->site_configs['current_privacy_link']; ?>');

		$("#user_registration_ip_address").val('<?php echo $ip; ?>');
	});

	$("#user_terms_agreement").change(function() {
		if(this.checked) {
			/*
			 $(".fbsigninP").show();
			 $("#btnsubmit").show();
			 */
			if(isValidMobile) {
				$("#btnsubmit").removeClass("grayed-out");
				$("#fbSignIn").removeClass("grayed-out");
			}

		}else{
			/*
			 $(".fbsigninP").hide();
			 $("#btnsubmit").hide();
			 */

			$("#btnsubmit").addClass("grayed-out");
			$("#fbSignIn").addClass("grayed-out");

		}
	});


	$("#btnsubmit").click(function() {
		if($("#user_terms_agreement").is(':checked')){

		}else{
			alert("You need to agree to the Terms & Conditions and Privacy Policy in order to sign up.");
			return false;
			//alert("You need to agree to the Terms & Conditions and Privacy Policy in order to sign up");
		}

		if(isValidMobile){

		}else {
			$("#user_mobile_no").nextAll(".help-block").remove();
			$("#user_mobile_no").after('<span for="user_mobile_no" class="help-block">Please confirm your mobile before submit</span>');
			return false;
		}
	});


	$(function(){

		$( "#user_mobile_no" ).on("change",function () {

			$(this).rules( "add", {
				required: true,
				minlength: 10,
				number: true,

				messages: {
					required: "Required input",
					number: "Enter a valid phone no",
					minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
				}
			});



		});


	});

</script>