<div class="col-sm-12 IndexSubscribe">
    <div class="col-sm-12 padding-0">
        <div id="ribbon">
        	<span id="content"><label>Choose</label> your plan</span>
        </div>
        
        <p class="clear">&nbsp;</p>
    <?php 
    $i=1;
    foreach($this->SubscriptionData as $subscription){ 
		if($i==4 || $i==7 || $i==10){$i=1;} if($i==5 || $i==8 || $i==11){$i=2;} if($i==6 || $i==9 || $i==12){$i=3;}
	?>
        <div class="IndexPlan1 Plan<?php echo $i; ?>">
        	<p class="Name">
            	<?php echo $subscription['sub_name']?>
            </p>
			<p class="Price">
            	<?php /*?><img src="<?php echo FRONT_IMAGES_PATH?>/161.GIF" style="max-width:25%;" /><?php */?>
				$ <?php echo $subscription['sub_price']?><small>per month</small>
            </p>
            <hr />
            <p class="Text">
            	<?php echo $subscription['sub_desc']?>
            </p>
            
            <form name="subscriptionForm" id="subscriptionForm" action="<?php echo $this->url(array('controller'=>'user','action'=>'subscription','key'=>$this->email),
            'default',true)?>" method="post">
                <select name="subscribe<?php echo $subscription['sub_id'] ?>" id="subscribe<?php echo $subscription['sub_id'] ?>" class="form-control"
                 style="display:none;">
                    <option value="1" selected="selected">Monthly</option>
                    <option value="3">Quaterly</option>
                    <option value="6">Half Yearly</option>
                    <option value="12">Yearly</option>
                </select>
                <button class="btn PlanSignUp" type="submit">Subscribe</button>
            </form>
        </div>
    <? $i++;}?>
    </div>
</div>