<div class="portlet box grey">
	<div class="portlet-title">
    	<h4><i class="icon-copy"></i><?php echo $this->pageHeading;?></h4>
    </div>
    <div class="portlet-body">
            <div class="clearfix">
                 <div class="btn-group">
                     <a href="<?php echo $this->baseUrl()?>/admin/navigation/add" class="btn blue"><i class="icon-plus"></i> Add Menu </a>
                 </div>
             </div>
            <table id="sample_1" class="table table-striped table-bordered table-hover dataTable">
                <thead>
                    <tr>
                    
                    	<th width="5%">Id</th>
                        <th width="5%">Author</th>
                        <th width="15%">Author Name</th>
                        <th>Page Title</th>
                        <th>Position</th>
                        <th width="14%">Modified</th>
                        <th width="8%">Status</th>
                        <th width="8%">Edit</th>
                        <th width="5%">View</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document)	 .ready(function(e) {
	$('#sample_1').dataTable( {
		"bProcessing": true,
		"bServerSide": true,
 		"sAjaxSource": "<?php echo $this->baseUrl()?>/admin/navigation/getnavigation/type/<?php echo $this->type?>" ,
		//"aaSorting": [[ 0, "desc" ]],
		"aoColumnDefs": 
		 [
			{ "bSortable": false, "aTargets": [1,2,7] },
 		 	/*{ "sClass": "hidden-767", "aTargets": [ 1 ] },
			{ "sClass": "hidden-480", "aTargets": [ 5 ] },
			{ "sClass": "hidden-320", "aTargets": [6] }*/
		 ],
		"iDisplayLength":50,
	    "aLengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
		"fnDrawCallback": function( oSettings ) {re_init();}
	} );
});
</script>







