<div class="col-sm-12 BlogCategoryDiv custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Browse Blog Categories<br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    
    <p class="clear">&nbsp;</p>
    
    <div class="col-sm-12 overflow text-center"> 
    	<?php 
		foreach($this->categories as $category)
		{
			$model = new Application_Model_Static();
			$blogs = $model->Super_Get('blogs',"blog_category='".$category['blog_cat_id']."'",'fetchAll',$extra=array('limit'=>array(3,0)));
		?>
        <div class="Category work clear">
        	<?php echo $category['blog_cat_title'];?>
            <a href="<?php echo $this->url(array('cat_id'=>$category['blog_cat_id']),'blog_listing')?>">
            <button class="btn pull-right btn-sm red-intense">View More <i class="fa fa-angle-double-right"></i></button>
            </a>
        </div>
        
        <?php 
        foreach($blogs as $blog){
        ?>
            <div class="col-md-4">
                <div class="BlogDiv">
                    <div class="BlogTitle">
                    	<a href="<?php echo $this->url(array('blog_id'=>$blog['blog_id']),'blog')?>">
                    		"<?php echo $blog['blog_title']?>"
                    	</a>
                    	<br />
                    	<small>Posted on <?php echo date('M d, Y',strtotime($blog['blog_date']));?></small>
                    </div>
                    <?php if($blog['blog_image']!=''){?>
                    <div class="Image">
                    	<img src="<?php echo HTTP_BLOG_IMAGES_PATH?>/<?php echo $blog['blog_image']?>" class="img-responsive" />
                    </div>
                    <? }?>
                    <div class="BlogDesc">
						<?php echo substr($blog['blog_desc'],0,400)?>....<br />
                        <a href="<?php echo $this->url(array('blog_id'=>$blog['blog_id']),'blog')?>">
                            <small>View More<i class="fa fa-angle-double-right"></i></small>
                        </a>
                    </div>
                </div>
            </div>
        <?
        }
        ?>
     	<p class="clear">&nbsp;</p>
        <?
		}
		?>
    </div>
    <p class="clear">&nbsp;</p>
</div>