<div class="col-sm-12 BlogCategoryDiv custom-form-wrapper">
	<h1 class="SiteHeading">
        <i class="fa fa-gears"></i>&nbsp;Blog Listing<br />
        <img src="<?php echo FRONT_IMAGES_PATH?>/color_rule.png" class="img-responsive" />
    </h1>
    
    <div class="BlogBreadcrumb">
        <ul class="breadcrumb">
            <li><a href="<?php echo $this->url(array(),'blog_category')?>">Blogs</a></li>
            <li class="active"><?php echo $this->catDetails['blog_cat_title']?></li>
        </ul>
    </div>
    
    <p class="clear">&nbsp;</p>
    
    <div class="col-sm-12 overflow text-center padding-0"> 
		<?php 
        if($this->paginator->getTotalItemCount() > 0) 
        { 
            foreach($this->paginator as $blog)
            {
		?>
        <div class="col-md-4">
            <div class="BlogDiv">
                <div class="BlogTitle">
                	<a href="<?php echo $this->url(array('blog_id'=>$blog['blog_id']),'blog')?>">
                    "<?php echo $blog['blog_title']?>"
                    </a>
                    <br />
                    <small>Posted on <?php echo date('M d, Y',strtotime($blog['blog_date']));?></small>
                </div>
                <?php if($blog['blog_image']!=''){?>
                <div class="Image">
                	<img src="<?php echo HTTP_BLOG_IMAGES_PATH?>/<?php echo $blog['blog_image']?>" class="img-responsive" />
                </div>
                <? }?>
                <div class="BlogDesc">
					<?php echo substr($blog['blog_desc'],0,400)?>.... <br />
                    <a href="<?php echo $this->url(array('blog_id'=>$blog['blog_id']),'blog')?>">
                    	<small>View More<i class="fa fa-angle-double-right"></i></small>
                    </a>
                </div>
            </div>
        </div>
        <?
            }
        }
        ?>
        <div class="col-sm-12 text-center clear"> 
            <?php echo $this->paginationControl($this->paginator,'Sliding','pagination-control.phtml');?> 
        </div>
    </div>
</div>